// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.table {
  @include breakpoint($breakpoint-tablet) {
    display: table;
    width: 100%;

    & > * {
      display: table-row;
    }
    & > * > * {
      display: table-cell;
      padding: 0 0.5em 1em 0.5em;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      vertical-align: top;
      & + * {
        width: 100%;
      }
    }
  }
}
