{# Show a main area with two sidebars #}
{% embed "@layouts/site-content/_site-content.twig"
  with {
  site_content__indented: false,
  site_content_content: true,
  site_content_sidebar_top: true,
  site_content_sidebar_bottom: true
  }%}
  {% block block_site_content_content %}
    {{ content.main }}
  {% endblock block_site_content_content %}

  {% block block_site_content_sidebar_top %}
    {{ content.sidebar_top }}
  {% endblock block_site_content_sidebar_top %}

  {% block block_site_content_sidebar_bottom %}
    {{ content.sidebar_bottom }}
  {% endblock block_site_content_sidebar_bottom %}
{% endembed %}