{#
/**
 * @file
 * admin-box
 *
 * Available variables for admin-box:
 *  admin_box_label
 *  admin_box_main
 */
#}
{%  if admin_box_main %}
  <aside class="box box--admin">
    {% if admin_box_label %}
      <div class="box__label">{% include '@elements/svgicon/_svgicon.twig'
          with {
            svgname: 'cog',
            svg_class: 'adminbox',
          }
        %}{{ admin_box_label }}</div>
    {% endif %}
    {%  if admin_box_main %}
      <main class="box__content">
        {% block block_admin_box_main %}
          {{ admin_box_main }}
        {% endblock %}
      </main>
    {% endif %}
  </aside>
{% endif %}
