<h2>Site content – use as site wrapper</h2>
{% embed '@layouts/site-content/_site-content.twig' %}
    {% block block_site_content_header %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '150px',
            'placeholder_content': 'Header',
        }
        %}
    {% endblock %}
    {% block block_site_content_content %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '300px',
            'placeholder_content': 'Content',
        }
        %}
    {% endblock %}
    {% block block_site_content_sidebar_top %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '200px',
            'placeholder_content': 'Sidebar Top',
        }
        %}
    {% endblock %}
    {% block block_site_content_sidebar_bottom %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '200px',
            'placeholder_content': 'Sidebar Bottom',
        }
        %}
    {% endblock %}
    {% block block_site_content_footer %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '200px',
            'placeholder_content': 'Content Footer',
        }
        %}
    {% endblock %}
{% endembed %}

<h2>Site content unintended (for use in layout builder within a wrapper)</h2>
{% embed '@layouts/site-content/_site-content.twig' with {
    site_content__indented: FALSE,
}%}
    {% block block_site_content_header %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '150px',
            'placeholder_content': 'Header',
        }
        %}
    {% endblock %}
    {% block block_site_content_content %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '300px',
            'placeholder_content': 'Content',
        }
        %}
    {% endblock %}
    {% block block_site_content_sidebar_top %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '200px',
            'placeholder_content': 'Sidebar Top',
        }
        %}
    {% endblock %}
    {% block block_site_content_sidebar_bottom %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '200px',
            'placeholder_content': 'Sidebar Bottom',
        }
        %}
    {% endblock %}
    {% block block_site_content_footer %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '200px',
            'placeholder_content': 'Content Footer',
        }
        %}
    {% endblock %}
{% endembed %}
