// All component Sass needs non-printing base config
@import '../../00-protons/variables';
@import '../../00-protons/non-printing/_hamburger';

//
.hamburger-menu {
  display: flex;
  align-items: center;

  &.expanded {
    .hamburger-menu__icon {
      //@include burger-to-cross;
    }
    .svgicon__hamburger-menu {
      transform: rotate(180deg);
      margin-top: 0.214em;
    }
  }
  &__icon {
    // width, height, gutter
    @include burger(19px, 3px, 3px, $color-blue);
  }
}

.svgicon__hamburger-menu {
  margin-top: 3px;
  margin-left: 3px;
  width: 9px;
  overflow: hidden;
  svg {
    height: 0.643em;
    fill: $color-blue;
  }
}
