{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
  {% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{ url('theme://assets/favicon.ico') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
      {% do assets.addCss('theme://dist/app-grav/assets/app.styles.css', 102) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
      {% do assets.addJs('theme://dist/app-grav/assets/app.js', {'group':'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}
  {% endblock head %}
</head>

<body>

{% block navbar %}
  {% include 'partials/navbar.html.twig' %}
{% endblock %}

<header class="site__header" role="banner">
  {% block header %}
    {% embed '@objects/jumbotron/_jumbotron.twig' with { jumbotron_fluid: true } %}
      {% block jumbotron_branding %}
        {% include '@elements/branding/_branding.twig' with {
          site_name: site.title|e('html'),
          url: base_url == '' ? '/' : base_url,
          logo_svg_inline: '@elements/image/logo.svg'
        } %}
      {% endblock jumbotron_branding %}
    {% endembed %}
  {% endblock %}
</header>

<main class="site container" role="main">
  <a id="main-content" tabindex="-1"></a>

  {% block body %}
    {% block content %}{% endblock %}
  {% endblock %}

  {% block footer %}
    <footer class="site__footer" role="contentinfo">
      <hr>
      <div>Powered by <a href="https://getgrav.org/" target="_blank">Grav</a></div>
    </footer>
  {% endblock %}

  {% block bottom %}
    {{ assets.js('bottom') }}
  {% endblock %}
</main>
</body>
</html>
