{% extends '@elements/grid/_grid-2-up.twig' %}
{# This presumes the main content area already contains a class of container. #}
{% set container = false %}

{% block column_1 %}
  {{ content.first }}
{% endblock %}
{% block column_2 %}
  {{ content.second }}
{% endblock %}

