{#
/**
 * @file
 * document
 *
 * Available variables for document:
 *    see: "/source/default/_patterns/03-containers/document/document.twig"
 *
 *    - cover
 *    - document_title
 *    - document_description
 *    - document_link
 *    - document_link_type
 *    - document_link_translation
 */
#}

{% embed '@containers/document/_document.twig'
  with {
  cover: '<img src="https://www.osce.org/files/imagecache/50_thumb/f/images/hires/c/2/116945.png" alt="OSCE Special Monitoring Mission to Ukraine (SMM): Table of ceasefire violations as of 22 January 2019" class="imagecache imagecache-50_thumb" width="75" height="100">',
  document_url: '#',
  document_description: '21 March 2014',
  document_title: 'Decision on Deployment of an OSCE Special Monitoring Mission to Ukraine (OSCE PC Decision No. 1117)',
  document_link_type: '<span>Attachment</span>'
}
%}
  {% block documentlinktranslation %}
    {% include '@objects/translation-links/_translation-links.twig'
      with {
      links: document_link_translation
      }
    %}
  {% endblock documentlinktranslation %}
{% endembed %}
