{% set images = ["800x800g.png", "900x450a.png", "900x450s.png", "900x540r.png"] %}
{% for gallery in range(1, 2) %}
    {% set count=1 %}
    <h2>Gallery {{ gallery }}</h2>
    {% embed "@objects/justified-gallery/_justified-gallery.twig" %}
        {% block justified_gallery %}
            {% for i in range(0, 8 * gallery) %}
                {% set image = random(images) %}
                {% include '@containers/_figure-justified.twig'
                    with {
                    figure_url: paths.assets ~ "/" ~ image,
                    figure_fallback_url: "/media/" ~ count,
                    figure_rel: gallery,
                    figure_thumbnail: '<img src="' ~ paths.assets ~ "/" ~ image ~ '" />',
                    figure_caption: "I'm <strong>Element #" ~ count ~ "</strong> caption!",
                }
                %}
                {% set count = count + 1 %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endfor %}
