{#
/**
 * @file
 * text-styles
 *
 */
#}
<p>Non-semantic text styles <strong>to be used with care</strong>.</p>

<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>

An icon, placed in text: {% include '@elements/svgicon/_svgicon.twig' with {svgname: 'book',}%}

<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

<p>This is <em>emphasized</em>. This is <strong>strong emphasized</strong>. This is <a href="#">a link</a>. This is an <a href="#" class="external-link">external link</a>. And this is <a href="#" class="no-highlight">a link without highlight</a>.</p>

<ul>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
  <li>Aliquam tincidunt mauris eu risus.</li>
  <li>Vestibulum auctor dapibus neque.</li>
</ul>

<ol>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
  <li>Aliquam tincidunt mauris eu risus.</li>
  <li>Vestibulum auctor dapibus neque.</li>
</ol>

<dl>
  <dt>Property A</dt><dd>Apples</dd>
  <dt>Property B</dt><dd>Bananas</dd>
</dl>

<table>
  <thead>
  <tr>
    <th>Table Heading 1</th>
    <th>Table Heading 2</th>
    <th>Table Heading 3</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>Table Footer 1</th>
    <th>Table Footer 2</th>
    <th>Table Footer 3</th>
  </tr>
  </tfoot>
  <tbody>
  <tr>
    <td>Table Cell 1</td>
    <td>Table Cell 2</td>
    <td>Table Cell 3</td>
  </tr>
  <tr>
    <td>Table Cell 1</td>
    <td>Table Cell 2</td>
    <td>Table Cell 3</td>
  </tr>
  <tr>
    <td>Table Cell 1</td>
    <td>Table Cell 2</td>
    <td>Table Cell 3</td>
  </tr>
  <tr>
    <td>Table Cell 1</td>
    <td>Table Cell 2</td>
    <td>Table Cell 3</td>
  </tr>
  </tbody>
</table>

<h4>Intro text</h4>
<div class="text--intro">
  <p>This is an example for an intro text: Based in the capital city of Sarajevo, the Mission relies on its network of 9 field offices to fully engage citizens and authorities at all levels – municipal, cantonal, entity, as well as State. To adapt as necessary to social and political developments, the structure of Mission’s field work and activities remains flexible.</p>
  <p>Six focus areas comprise the Mission’s approach: Human Rights; Education; Rule of Law; Gender Equality; Democratic Governance; and Security Cooperation.</p>
</div>
  <h4>Size: default</h4>
  <p class="text--default">
    <span class="text--default text--default text--default"></span>
  </p>
  <p class="text--default">
    <span class="text--default text--default text--strike">strike</span>
  </p>
  <p class="text--default">
    <span class="text--default text--default text--underline">underline</span>
  </p>
  <p class="text--default">
    <span class="text--default text--default text--border">border</span>
  </p>
  <p class="text--default">
    <span class="text--default text--darker text--default">darker</span>
  </p>
  <p class="text--default">
    <span class="text--default text--darker text--strike">darker and strike</span>
  </p>
  <p class="text--default">
    <span class="text--default text--darker text--underline">darker and underline</span>
  </p>
  <p class="text--default">
    <span class="text--default text--darker text--border">darker and border</span>
  </p>
  <p class="text--default">
    <span class="text--default text--dark text--default">dark</span>
  </p>
  <p class="text--default">
    <span class="text--default text--dark text--strike">dark and strike</span>
  </p>
  <p class="text--default">
    <span class="text--default text--dark text--underline">dark and underline</span>
  </p>
  <p class="text--default">
    <span class="text--default text--dark text--border">dark and border</span>
  </p>
  <p class="text--default">
    <span class="text--default text--light text--default">light</span>
  </p>
  <p class="text--default">
    <span class="text--default text--light text--strike">light and strike</span>
  </p>
  <p class="text--default">
    <span class="text--default text--light text--underline">light and underline</span>
  </p>
  <p class="text--default">
    <span class="text--default text--light text--border">light and border</span>
  </p>
  <p class="text--default">
    <span class="text--default text--lighter text--default">lighter</span>
  </p>
  <p class="text--default">
    <span class="text--default text--lighter text--strike">lighter and strike</span>
  </p>
  <p class="text--default">
    <span class="text--default text--lighter text--underline">lighter and underline</span>
  </p>
  <p class="text--default">
    <span class="text--default text--lighter text--border">lighter and border</span>
  </p>
  <p class="text--default">
    <span class="text--default text--highlight text--default">highlight</span>
  </p>
  <p class="text--default">
    <span class="text--default text--highlight text--strike">highlight and strike</span>
  </p>
  <p class="text--default">
    <span class="text--default text--highlight text--underline">highlight and underline</span>
  </p>
  <p class="text--default">
    <span class="text--default text--highlight text--border">highlight and border</span>
  </p>
  <p class="text--default">
    <span class="text--default text--meta text--default">meta</span>
  </p>
  <p class="text--default">
    <span class="text--default text--meta text--strike">meta and strike</span>
  </p>
  <p class="text--default">
    <span class="text--default text--meta text--underline">meta and underline</span>
  </p>
  <p class="text--default">
    <span class="text--default text--meta text--border">meta and border</span>
  </p>
  <p class="text--default">
    <span class="text--default text--error text--default">error</span>
  </p>
  <p class="text--default">
    <span class="text--default text--error text--strike">error and strike</span>
  </p>
  <p class="text--default">
    <span class="text--default text--error text--underline">error and underline</span>
  </p>
  <p class="text--default">
    <span class="text--default text--error text--border">error and border</span>
  </p>
  <p class="text--default">
    <span class="text--default text--warning text--default">warning</span>
  </p>
  <p class="text--default">
    <span class="text--default text--warning text--strike">warning and strike</span>
  </p>
  <p class="text--default">
    <span class="text--default text--warning text--underline">warning and underline</span>
  </p>
  <p class="text--default">
    <span class="text--default text--warning text--border">warning and border</span>
  </p>
  <p class="text--default">
    <span class="text--default text--ok text--default">ok</span>
  </p>
  <p class="text--default">
    <span class="text--default text--ok text--strike">ok and strike</span>
  </p>
  <p class="text--default">
    <span class="text--default text--ok text--underline">ok and underline</span>
  </p>
  <p class="text--default">
    <span class="text--default text--ok text--border">ok and border</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--default text--default">bold</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--default text--strike">bold and strike</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--default text--underline">bold and underline</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--default text--border">bold and border</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--darker text--default">bold and darker</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--darker text--strike">bold and darker and strike</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--darker text--underline">bold and darker and underline</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--darker text--border">bold and darker and border</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--dark text--default">bold and dark</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--dark text--strike">bold and dark and strike</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--dark text--underline">bold and dark and underline</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--dark text--border">bold and dark and border</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--light text--default">bold and light</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--light text--strike">bold and light and strike</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--light text--underline">bold and light and underline</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--light text--border">bold and light and border</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--lighter text--default">bold and lighter</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--lighter text--strike">bold and lighter and strike</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--lighter text--underline">bold and lighter and underline</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--lighter text--border">bold and lighter and border</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--highlight text--default">bold and highlight</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--highlight text--strike">bold and highlight and strike</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--highlight text--underline">bold and highlight and underline</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--highlight text--border">bold and highlight and border</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--meta text--default">bold and meta</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--meta text--strike">bold and meta and strike</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--meta text--underline">bold and meta and underline</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--meta text--border">bold and meta and border</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--error text--default">bold and error</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--error text--strike">bold and error and strike</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--error text--underline">bold and error and underline</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--error text--border">bold and error and border</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--warning text--default">bold and warning</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--warning text--strike">bold and warning and strike</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--warning text--underline">bold and warning and underline</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--warning text--border">bold and warning and border</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--ok text--default">bold and ok</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--ok text--strike">bold and ok and strike</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--ok text--underline">bold and ok and underline</span>
  </p>
  <p class="text--default">
    <span class="text--bold text--ok text--border">bold and ok and border</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--default text--default">condensed</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--default text--strike">condensed and strike</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--default text--underline">condensed and underline</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--default text--border">condensed and border</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--darker text--default">condensed and darker</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--darker text--strike">condensed and darker and strike</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--darker text--underline">condensed and darker and underline</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--darker text--border">condensed and darker and border</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--dark text--default">condensed and dark</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--dark text--strike">condensed and dark and strike</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--dark text--underline">condensed and dark and underline</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--dark text--border">condensed and dark and border</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--light text--default">condensed and light</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--light text--strike">condensed and light and strike</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--light text--underline">condensed and light and underline</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--light text--border">condensed and light and border</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--lighter text--default">condensed and lighter</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--lighter text--strike">condensed and lighter and strike</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--lighter text--underline">condensed and lighter and underline</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--lighter text--border">condensed and lighter and border</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--highlight text--default">condensed and highlight</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--highlight text--strike">condensed and highlight and strike</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--highlight text--underline">condensed and highlight and underline</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--highlight text--border">condensed and highlight and border</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--meta text--default">condensed and meta</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--meta text--strike">condensed and meta and strike</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--meta text--underline">condensed and meta and underline</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--meta text--border">condensed and meta and border</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--error text--default">condensed and error</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--error text--strike">condensed and error and strike</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--error text--underline">condensed and error and underline</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--error text--border">condensed and error and border</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--warning text--default">condensed and warning</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--warning text--strike">condensed and warning and strike</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--warning text--underline">condensed and warning and underline</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--warning text--border">condensed and warning and border</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--ok text--default">condensed and ok</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--ok text--strike">condensed and ok and strike</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--ok text--underline">condensed and ok and underline</span>
  </p>
  <p class="text--default">
    <span class="text--condensed text--ok text--border">condensed and ok and border</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--default text--default">serif</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--default text--strike">serif and strike</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--default text--underline">serif and underline</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--default text--border">serif and border</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--darker text--default">serif and darker</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--darker text--strike">serif and darker and strike</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--darker text--underline">serif and darker and underline</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--darker text--border">serif and darker and border</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--dark text--default">serif and dark</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--dark text--strike">serif and dark and strike</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--dark text--underline">serif and dark and underline</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--dark text--border">serif and dark and border</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--light text--default">serif and light</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--light text--strike">serif and light and strike</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--light text--underline">serif and light and underline</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--light text--border">serif and light and border</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--lighter text--default">serif and lighter</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--lighter text--strike">serif and lighter and strike</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--lighter text--underline">serif and lighter and underline</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--lighter text--border">serif and lighter and border</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--highlight text--default">serif and highlight</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--highlight text--strike">serif and highlight and strike</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--highlight text--underline">serif and highlight and underline</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--highlight text--border">serif and highlight and border</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--meta text--default">serif and meta</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--meta text--strike">serif and meta and strike</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--meta text--underline">serif and meta and underline</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--meta text--border">serif and meta and border</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--error text--default">serif and error</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--error text--strike">serif and error and strike</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--error text--underline">serif and error and underline</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--error text--border">serif and error and border</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--warning text--default">serif and warning</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--warning text--strike">serif and warning and strike</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--warning text--underline">serif and warning and underline</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--warning text--border">serif and warning and border</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--ok text--default">serif and ok</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--ok text--strike">serif and ok and strike</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--ok text--underline">serif and ok and underline</span>
  </p>
  <p class="text--default">
    <span class="text--serif text--ok text--border">serif and ok and border</span>
  </p>
  <h4>Size: small</h4>
  <p class="text--small">
    <span class="text--default text--default text--default"></span>
  </p>
  <p class="text--small">
    <span class="text--default text--default text--strike">strike</span>
  </p>
  <p class="text--small">
    <span class="text--default text--default text--underline">underline</span>
  </p>
  <p class="text--small">
    <span class="text--default text--default text--border">border</span>
  </p>
  <p class="text--small">
    <span class="text--default text--darker text--default">darker</span>
  </p>
  <p class="text--small">
    <span class="text--default text--darker text--strike">darker and strike</span>
  </p>
  <p class="text--small">
    <span class="text--default text--darker text--underline">darker and underline</span>
  </p>
  <p class="text--small">
    <span class="text--default text--darker text--border">darker and border</span>
  </p>
  <p class="text--small">
    <span class="text--default text--dark text--default">dark</span>
  </p>
  <p class="text--small">
    <span class="text--default text--dark text--strike">dark and strike</span>
  </p>
  <p class="text--small">
    <span class="text--default text--dark text--underline">dark and underline</span>
  </p>
  <p class="text--small">
    <span class="text--default text--dark text--border">dark and border</span>
  </p>
  <p class="text--small">
    <span class="text--default text--light text--default">light</span>
  </p>
  <p class="text--small">
    <span class="text--default text--light text--strike">light and strike</span>
  </p>
  <p class="text--small">
    <span class="text--default text--light text--underline">light and underline</span>
  </p>
  <p class="text--small">
    <span class="text--default text--light text--border">light and border</span>
  </p>
  <p class="text--small">
    <span class="text--default text--lighter text--default">lighter</span>
  </p>
  <p class="text--small">
    <span class="text--default text--lighter text--strike">lighter and strike</span>
  </p>
  <p class="text--small">
    <span class="text--default text--lighter text--underline">lighter and underline</span>
  </p>
  <p class="text--small">
    <span class="text--default text--lighter text--border">lighter and border</span>
  </p>
  <p class="text--small">
    <span class="text--default text--highlight text--default">highlight</span>
  </p>
  <p class="text--small">
    <span class="text--default text--highlight text--strike">highlight and strike</span>
  </p>
  <p class="text--small">
    <span class="text--default text--highlight text--underline">highlight and underline</span>
  </p>
  <p class="text--small">
    <span class="text--default text--highlight text--border">highlight and border</span>
  </p>
  <p class="text--small">
    <span class="text--default text--meta text--default">meta</span>
  </p>
  <p class="text--small">
    <span class="text--default text--meta text--strike">meta and strike</span>
  </p>
  <p class="text--small">
    <span class="text--default text--meta text--underline">meta and underline</span>
  </p>
  <p class="text--small">
    <span class="text--default text--meta text--border">meta and border</span>
  </p>
  <p class="text--small">
    <span class="text--default text--error text--default">error</span>
  </p>
  <p class="text--small">
    <span class="text--default text--error text--strike">error and strike</span>
  </p>
  <p class="text--small">
    <span class="text--default text--error text--underline">error and underline</span>
  </p>
  <p class="text--small">
    <span class="text--default text--error text--border">error and border</span>
  </p>
  <p class="text--small">
    <span class="text--default text--warning text--default">warning</span>
  </p>
  <p class="text--small">
    <span class="text--default text--warning text--strike">warning and strike</span>
  </p>
  <p class="text--small">
    <span class="text--default text--warning text--underline">warning and underline</span>
  </p>
  <p class="text--small">
    <span class="text--default text--warning text--border">warning and border</span>
  </p>
  <p class="text--small">
    <span class="text--default text--ok text--default">ok</span>
  </p>
  <p class="text--small">
    <span class="text--default text--ok text--strike">ok and strike</span>
  </p>
  <p class="text--small">
    <span class="text--default text--ok text--underline">ok and underline</span>
  </p>
  <p class="text--small">
    <span class="text--default text--ok text--border">ok and border</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--default text--default">bold</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--default text--strike">bold and strike</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--default text--underline">bold and underline</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--default text--border">bold and border</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--darker text--default">bold and darker</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--darker text--strike">bold and darker and strike</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--darker text--underline">bold and darker and underline</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--darker text--border">bold and darker and border</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--dark text--default">bold and dark</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--dark text--strike">bold and dark and strike</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--dark text--underline">bold and dark and underline</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--dark text--border">bold and dark and border</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--light text--default">bold and light</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--light text--strike">bold and light and strike</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--light text--underline">bold and light and underline</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--light text--border">bold and light and border</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--lighter text--default">bold and lighter</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--lighter text--strike">bold and lighter and strike</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--lighter text--underline">bold and lighter and underline</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--lighter text--border">bold and lighter and border</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--highlight text--default">bold and highlight</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--highlight text--strike">bold and highlight and strike</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--highlight text--underline">bold and highlight and underline</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--highlight text--border">bold and highlight and border</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--meta text--default">bold and meta</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--meta text--strike">bold and meta and strike</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--meta text--underline">bold and meta and underline</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--meta text--border">bold and meta and border</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--error text--default">bold and error</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--error text--strike">bold and error and strike</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--error text--underline">bold and error and underline</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--error text--border">bold and error and border</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--warning text--default">bold and warning</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--warning text--strike">bold and warning and strike</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--warning text--underline">bold and warning and underline</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--warning text--border">bold and warning and border</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--ok text--default">bold and ok</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--ok text--strike">bold and ok and strike</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--ok text--underline">bold and ok and underline</span>
  </p>
  <p class="text--small">
    <span class="text--bold text--ok text--border">bold and ok and border</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--default text--default">condensed</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--default text--strike">condensed and strike</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--default text--underline">condensed and underline</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--default text--border">condensed and border</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--darker text--default">condensed and darker</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--darker text--strike">condensed and darker and strike</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--darker text--underline">condensed and darker and underline</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--darker text--border">condensed and darker and border</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--dark text--default">condensed and dark</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--dark text--strike">condensed and dark and strike</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--dark text--underline">condensed and dark and underline</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--dark text--border">condensed and dark and border</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--light text--default">condensed and light</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--light text--strike">condensed and light and strike</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--light text--underline">condensed and light and underline</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--light text--border">condensed and light and border</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--lighter text--default">condensed and lighter</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--lighter text--strike">condensed and lighter and strike</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--lighter text--underline">condensed and lighter and underline</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--lighter text--border">condensed and lighter and border</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--highlight text--default">condensed and highlight</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--highlight text--strike">condensed and highlight and strike</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--highlight text--underline">condensed and highlight and underline</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--highlight text--border">condensed and highlight and border</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--meta text--default">condensed and meta</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--meta text--strike">condensed and meta and strike</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--meta text--underline">condensed and meta and underline</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--meta text--border">condensed and meta and border</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--error text--default">condensed and error</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--error text--strike">condensed and error and strike</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--error text--underline">condensed and error and underline</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--error text--border">condensed and error and border</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--warning text--default">condensed and warning</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--warning text--strike">condensed and warning and strike</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--warning text--underline">condensed and warning and underline</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--warning text--border">condensed and warning and border</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--ok text--default">condensed and ok</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--ok text--strike">condensed and ok and strike</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--ok text--underline">condensed and ok and underline</span>
  </p>
  <p class="text--small">
    <span class="text--condensed text--ok text--border">condensed and ok and border</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--default text--default">serif</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--default text--strike">serif and strike</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--default text--underline">serif and underline</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--default text--border">serif and border</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--darker text--default">serif and darker</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--darker text--strike">serif and darker and strike</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--darker text--underline">serif and darker and underline</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--darker text--border">serif and darker and border</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--dark text--default">serif and dark</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--dark text--strike">serif and dark and strike</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--dark text--underline">serif and dark and underline</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--dark text--border">serif and dark and border</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--light text--default">serif and light</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--light text--strike">serif and light and strike</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--light text--underline">serif and light and underline</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--light text--border">serif and light and border</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--lighter text--default">serif and lighter</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--lighter text--strike">serif and lighter and strike</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--lighter text--underline">serif and lighter and underline</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--lighter text--border">serif and lighter and border</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--highlight text--default">serif and highlight</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--highlight text--strike">serif and highlight and strike</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--highlight text--underline">serif and highlight and underline</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--highlight text--border">serif and highlight and border</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--meta text--default">serif and meta</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--meta text--strike">serif and meta and strike</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--meta text--underline">serif and meta and underline</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--meta text--border">serif and meta and border</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--error text--default">serif and error</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--error text--strike">serif and error and strike</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--error text--underline">serif and error and underline</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--error text--border">serif and error and border</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--warning text--default">serif and warning</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--warning text--strike">serif and warning and strike</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--warning text--underline">serif and warning and underline</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--warning text--border">serif and warning and border</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--ok text--default">serif and ok</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--ok text--strike">serif and ok and strike</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--ok text--underline">serif and ok and underline</span>
  </p>
  <p class="text--small">
    <span class="text--serif text--ok text--border">serif and ok and border</span>
  </p>
  <h4>Size: large</h4>
  <p class="text--large">
    <span class="text--default text--default text--default"></span>
  </p>
  <p class="text--large">
    <span class="text--default text--default text--strike">strike</span>
  </p>
  <p class="text--large">
    <span class="text--default text--default text--underline">underline</span>
  </p>
  <p class="text--large">
    <span class="text--default text--default text--border">border</span>
  </p>
  <p class="text--large">
    <span class="text--default text--darker text--default">darker</span>
  </p>
  <p class="text--large">
    <span class="text--default text--darker text--strike">darker and strike</span>
  </p>
  <p class="text--large">
    <span class="text--default text--darker text--underline">darker and underline</span>
  </p>
  <p class="text--large">
    <span class="text--default text--darker text--border">darker and border</span>
  </p>
  <p class="text--large">
    <span class="text--default text--dark text--default">dark</span>
  </p>
  <p class="text--large">
    <span class="text--default text--dark text--strike">dark and strike</span>
  </p>
  <p class="text--large">
    <span class="text--default text--dark text--underline">dark and underline</span>
  </p>
  <p class="text--large">
    <span class="text--default text--dark text--border">dark and border</span>
  </p>
  <p class="text--large">
    <span class="text--default text--light text--default">light</span>
  </p>
  <p class="text--large">
    <span class="text--default text--light text--strike">light and strike</span>
  </p>
  <p class="text--large">
    <span class="text--default text--light text--underline">light and underline</span>
  </p>
  <p class="text--large">
    <span class="text--default text--light text--border">light and border</span>
  </p>
  <p class="text--large">
    <span class="text--default text--lighter text--default">lighter</span>
  </p>
  <p class="text--large">
    <span class="text--default text--lighter text--strike">lighter and strike</span>
  </p>
  <p class="text--large">
    <span class="text--default text--lighter text--underline">lighter and underline</span>
  </p>
  <p class="text--large">
    <span class="text--default text--lighter text--border">lighter and border</span>
  </p>
  <p class="text--large">
    <span class="text--default text--highlight text--default">highlight</span>
  </p>
  <p class="text--large">
    <span class="text--default text--highlight text--strike">highlight and strike</span>
  </p>
  <p class="text--large">
    <span class="text--default text--highlight text--underline">highlight and underline</span>
  </p>
  <p class="text--large">
    <span class="text--default text--highlight text--border">highlight and border</span>
  </p>
  <p class="text--large">
    <span class="text--default text--meta text--default">meta</span>
  </p>
  <p class="text--large">
    <span class="text--default text--meta text--strike">meta and strike</span>
  </p>
  <p class="text--large">
    <span class="text--default text--meta text--underline">meta and underline</span>
  </p>
  <p class="text--large">
    <span class="text--default text--meta text--border">meta and border</span>
  </p>
  <p class="text--large">
    <span class="text--default text--error text--default">error</span>
  </p>
  <p class="text--large">
    <span class="text--default text--error text--strike">error and strike</span>
  </p>
  <p class="text--large">
    <span class="text--default text--error text--underline">error and underline</span>
  </p>
  <p class="text--large">
    <span class="text--default text--error text--border">error and border</span>
  </p>
  <p class="text--large">
    <span class="text--default text--warning text--default">warning</span>
  </p>
  <p class="text--large">
    <span class="text--default text--warning text--strike">warning and strike</span>
  </p>
  <p class="text--large">
    <span class="text--default text--warning text--underline">warning and underline</span>
  </p>
  <p class="text--large">
    <span class="text--default text--warning text--border">warning and border</span>
  </p>
  <p class="text--large">
    <span class="text--default text--ok text--default">ok</span>
  </p>
  <p class="text--large">
    <span class="text--default text--ok text--strike">ok and strike</span>
  </p>
  <p class="text--large">
    <span class="text--default text--ok text--underline">ok and underline</span>
  </p>
  <p class="text--large">
    <span class="text--default text--ok text--border">ok and border</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--default text--default">bold</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--default text--strike">bold and strike</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--default text--underline">bold and underline</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--default text--border">bold and border</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--darker text--default">bold and darker</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--darker text--strike">bold and darker and strike</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--darker text--underline">bold and darker and underline</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--darker text--border">bold and darker and border</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--dark text--default">bold and dark</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--dark text--strike">bold and dark and strike</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--dark text--underline">bold and dark and underline</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--dark text--border">bold and dark and border</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--light text--default">bold and light</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--light text--strike">bold and light and strike</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--light text--underline">bold and light and underline</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--light text--border">bold and light and border</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--lighter text--default">bold and lighter</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--lighter text--strike">bold and lighter and strike</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--lighter text--underline">bold and lighter and underline</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--lighter text--border">bold and lighter and border</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--highlight text--default">bold and highlight</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--highlight text--strike">bold and highlight and strike</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--highlight text--underline">bold and highlight and underline</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--highlight text--border">bold and highlight and border</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--meta text--default">bold and meta</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--meta text--strike">bold and meta and strike</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--meta text--underline">bold and meta and underline</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--meta text--border">bold and meta and border</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--error text--default">bold and error</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--error text--strike">bold and error and strike</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--error text--underline">bold and error and underline</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--error text--border">bold and error and border</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--warning text--default">bold and warning</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--warning text--strike">bold and warning and strike</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--warning text--underline">bold and warning and underline</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--warning text--border">bold and warning and border</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--ok text--default">bold and ok</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--ok text--strike">bold and ok and strike</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--ok text--underline">bold and ok and underline</span>
  </p>
  <p class="text--large">
    <span class="text--bold text--ok text--border">bold and ok and border</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--default text--default">condensed</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--default text--strike">condensed and strike</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--default text--underline">condensed and underline</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--default text--border">condensed and border</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--darker text--default">condensed and darker</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--darker text--strike">condensed and darker and strike</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--darker text--underline">condensed and darker and underline</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--darker text--border">condensed and darker and border</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--dark text--default">condensed and dark</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--dark text--strike">condensed and dark and strike</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--dark text--underline">condensed and dark and underline</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--dark text--border">condensed and dark and border</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--light text--default">condensed and light</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--light text--strike">condensed and light and strike</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--light text--underline">condensed and light and underline</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--light text--border">condensed and light and border</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--lighter text--default">condensed and lighter</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--lighter text--strike">condensed and lighter and strike</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--lighter text--underline">condensed and lighter and underline</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--lighter text--border">condensed and lighter and border</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--highlight text--default">condensed and highlight</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--highlight text--strike">condensed and highlight and strike</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--highlight text--underline">condensed and highlight and underline</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--highlight text--border">condensed and highlight and border</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--meta text--default">condensed and meta</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--meta text--strike">condensed and meta and strike</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--meta text--underline">condensed and meta and underline</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--meta text--border">condensed and meta and border</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--error text--default">condensed and error</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--error text--strike">condensed and error and strike</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--error text--underline">condensed and error and underline</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--error text--border">condensed and error and border</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--warning text--default">condensed and warning</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--warning text--strike">condensed and warning and strike</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--warning text--underline">condensed and warning and underline</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--warning text--border">condensed and warning and border</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--ok text--default">condensed and ok</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--ok text--strike">condensed and ok and strike</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--ok text--underline">condensed and ok and underline</span>
  </p>
  <p class="text--large">
    <span class="text--condensed text--ok text--border">condensed and ok and border</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--default text--default">serif</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--default text--strike">serif and strike</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--default text--underline">serif and underline</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--default text--border">serif and border</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--darker text--default">serif and darker</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--darker text--strike">serif and darker and strike</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--darker text--underline">serif and darker and underline</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--darker text--border">serif and darker and border</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--dark text--default">serif and dark</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--dark text--strike">serif and dark and strike</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--dark text--underline">serif and dark and underline</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--dark text--border">serif and dark and border</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--light text--default">serif and light</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--light text--strike">serif and light and strike</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--light text--underline">serif and light and underline</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--light text--border">serif and light and border</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--lighter text--default">serif and lighter</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--lighter text--strike">serif and lighter and strike</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--lighter text--underline">serif and lighter and underline</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--lighter text--border">serif and lighter and border</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--highlight text--default">serif and highlight</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--highlight text--strike">serif and highlight and strike</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--highlight text--underline">serif and highlight and underline</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--highlight text--border">serif and highlight and border</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--meta text--default">serif and meta</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--meta text--strike">serif and meta and strike</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--meta text--underline">serif and meta and underline</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--meta text--border">serif and meta and border</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--error text--default">serif and error</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--error text--strike">serif and error and strike</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--error text--underline">serif and error and underline</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--error text--border">serif and error and border</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--warning text--default">serif and warning</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--warning text--strike">serif and warning and strike</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--warning text--underline">serif and warning and underline</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--warning text--border">serif and warning and border</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--ok text--default">serif and ok</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--ok text--strike">serif and ok and strike</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--ok text--underline">serif and ok and underline</span>
  </p>
  <p class="text--large">
    <span class="text--serif text--ok text--border">serif and ok and border</span>
  </p>
