// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.text {
  &--intro {
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0.75rem 0;
  }
  &--inherit {
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
  }

  &--small {
    font-size: 0.9em;
  }

  &--large {
    font-size: 1.1em;
  }

  &--bold {
    font-weight: bold;
  }

  &--italic {
    font-style: italic;
  }

  &--serif {
    font-family: $font-family-serif;
  }

  &--condensed {
    font-family: $font-family-condensed;
  }

  &--default {
    color: $color-text;
  }

  &--darker {
    color: $color-darker;
  }

  &--dark {
    color: $color-dark;
  }

  &--light {
    color: $color-light;
  }

  &--lighter {
    color: $color-lighter;
  }

  &--highlight {
    color: $color-highlight;
  }

  &--meta {
    color: $color-meta;
  }

  &--error {
    color: $color-error;
  }

  &--warning {
    color: $color-warning;
  }

  &--ok {
    color: $color-ok;
  }

  &--strike {
    text-decoration: line-through;
  }

  &--underline {
    text-decoration: underline;
  }

  &--border {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    padding: 0 0.3em;
    border-radius: 0.3em;
  }
}
