$widget-padding: 1.5rem !default;

%blockquote-widget {
  position: relative;

  background: $color-lighter;

  .author {
    margin-top: 1.6rem;
    display: block;
    font-weight: bold;
    font-size: 1rem;
    &:before {
      content: '-';
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
  border: 1px solid #a3a3a3;
  margin: 1em 0;
  padding: 0;
  font-size: $font-size-base;
  font-style: normal;

  h2, a.more {
    display: inline-block;
    margin-left: $widget-padding;
  }
  h2 {
    &:before {
      display: none;
    }
    font-size: 16px;
    border-bottom: 1px solid $color-text;
    padding-right: 1em;
    padding-bottom: 0.3em;
    margin-top: 1.2rem;
    font-weight: bold;
    color: $color-meta;
    font-family: $font-family-sans-serif;
  }

  .osce-figure-wrapper {
    &:before {
      display: none;
    }
    img {
      width: 100%;
    }
    a.inline-image-popup:after {
      display: none;
    }
    .osce-figure-caption {
      background: rgba(255, 255, 255, 0.7);
      position: relative;
      width: 90%;
      margin-left: 10%;
      margin-top: -4em;
    }
  }

  .text {
    margin: 0 $widget-padding 1rem $widget-padding;
  }

  a.more {
    font-size: 0.875rem;
    text-transform: uppercase;
    line-height: 22px;
    @include border-radius($border-radius);
    &:after {
      //@include osce-icon('arrow-right');
      @include sprite('arrow-right');
      font-size: 0.9em;
      margin-left: 0.5em;
      position: relative;
      top: -0.05em;
    }
    padding: 0 0.5em;
    font-weight: bold;
    border: 1px solid $color-highlight;
    margin-bottom: $widget-padding;
  }
}