{#
/**
 * @file
 * widget
 *
 * Available variables for widget:
 *    - widget : Description of the variable.
#}

<blockquote class="widget-{% if widget_type %}{{ widget_type }}{% else %}info{% endif %}{% if widget_align %} widget-{{ widget_align }}{% endif %}">
  <h2>{{ widget_headline }}</h2>
  {{ widget_content }}
</blockquote>