// Styles for widget
@import '_widget_mixins';

.widget-info {
  @extend %blockquote-widget;
  .text {
    font-style: normal;
    font-size: $font-size-base;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    @include striping($color: $box-stripes);
    height: 0.6rem;
    position: absolute;
    top: 1px;
    left: 0;
  }
}

.widget-links {
  @extend %blockquote-widget;
  .text {
    font-style: normal;
    font-size: $font-size-base;
  }
  ul {
    padding: 0;
    margin: $widget-padding;
    li {
      margin-left: 1.5em;
    }

    color: $color-highlight;
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  &.widget-full ul {
    @include breakpoint(800px, $no-query: true) {
      @include clearfix;
      li {
        margin-left: 3%;
        width: 47%;
        float: left;
      }
    }
  }
}

.widget-resources {
  @extend %blockquote-widget;
  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {
    margin: $widget-padding;
    @include clearfix;
  }
  li {
    display: block;
    border-bottom: 1px solid $color-text;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  &.widget-full li {
    @include breakpoint(600px, $no-query: true) {
      width: 49%;
      float: left;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 1em;
      &:nth-child(2n + 1) {
        margin-right: 1.5%;
        padding-right: 0.3%;
        border-right: 1px solid $color-text;
      }
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .widget-left,
  .widget-right {
    width: 40%;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .widget-left {
    float: left;
    margin-right: 1em;
  }

  .widget-right {
    float: right;
    margin-left: 1em;
  }
}