{#
/**
 * @file
 * meta-navigations
 *
 * Available variables for meta-navigation:
 *    - meta_navigation.variable_name [variable_type]: Description of the variable. Example below.
 *    - meta_navigation.invert [bool]: When set, colors will be inverted for light display on dark background.
 *    - item.label
 *    - item.active
 *
 * Usage:
 * {% include '@objects/meta-navigation/_meta-navigation.twig' %}
 */
#}
{% include '@objects/meta-navigation/_meta-navigation.twig' %}
