// Styles for figure-justified

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.figure-justified {
  &, div {
    display: inline-block;
  }
  img {
    margin: 0 0;
  }
  &--detail-link {
    font-size: 0.9rem;
    color: $color-background;
    text-decoration: underline;
  }
  &--icon {
    display: inline-block;
    width: 1em;
    max-width: 100%;
    max-height: 1em;
    overflow: hidden;
    text-indent: -9999px;
    margin-bottom: -2px;
    @include sprite('camera', (color: $color-background));
  }
}
