// Styles for profile-teaser

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.profile-teaser {
  display: inline-flex;
  &__image {
    margin-right: 1em;
  }
  &__name {
    font-weight: bold;
    font-family: $font-family-sans-serif;
    font-size: 0.929em;
    margin-bottom: 0;
  }
}
.more__teaser {
  margin-top: 0.76923em;
}
