{#
/**
 * @file
 * profile-teaser
 *
 * Available variables for profile-teaser:
 *    - profile_image : A profile image of a person
 *    - profile_name : The persons name
 *    - profile_description : Usually a text containing the function of a person.
 *    - profile_url : Show a read more link to this url
#}
{% set show_more_link = show_more_link|default('yes') %}

<div {{ attributes.addClass('profile-teaser') }}>
    {{ title_suffix.contextual_links }}
        {% if profile_image %}
          <div class="profile-teaser__image">
              {% block block_teaser_image %}
                  {{ profile_image }}
              {% endblock %}
          </div>
        {% endif %}
        {% if profile_name or profile_description or profile_main %}
          <div class="profile-teaser__content">
              <h3 class="profile-teaser__name">{{ profile_name }}</h3>
              <p>{{ profile_description }}</p>
              {% block block_profile_main %}
                  {{ profile_main }}
              {% endblock %}
              {% block block_profile_more %}
                  {% if profile_url %}
                      {% include '@objects/more/_more.twig'
                          with {
                              readmore_url: profile_url,
                              readmore_text: 'View full profile'|t,
                              readmore_class_name: 'more more__teaser',
                              readmore_type: 'small'
                      }
                      %}
                  {% endif %}
              {% endblock block_profile_more %}
          </div>
        {% endif %}
</div>
