{% extends '@elements/grid/_grid-1-up.twig' %}
  {% set container = true %}
  {% block column_1 %}

<h2>Figure with caption</h2>
<p>Using the <code>figure_caption</code> placeholder allows to use arbitrary HTML as a caption</p>
{% include '@containers/figure/_figure.twig'  with {
    figure_caption: figure_caption
}%}
<hr>
<h2>Linked figure with title, description & icon</h2>
<p>Alternatively the <code>figure_title</code> and <code>figure_description</code> placeholders are wrapped in their respective styling classes</p>
{% include '@containers/figure/_figure.twig' with {
    figure_caption: "",
    figure_title: "OSCE Chairperson-in-Office Miroslav Lajčák visits Ukraine",
    figure_description: "OSCE Chairperson-in-Office and Minister of Foreign and European Affairs of Slovakia Miroslav Lajčák travelled to Ukraine on 15-16 January 2019.",
    figure_icon: 'movie',
    figure_type: 'Video',
    figure_url: '#'
}%}
<hr>
<h2>Figure without image (…yes this is an actual thing)</h2>
{% include '@containers/figure/_figure.twig' with {
  figure_caption: figure_caption,
  figure_image: "",
}%}
{% endblock column_1 %}
