// All component Sass needs non-printing base config
@import '../../00-protons/variables';
.site {
  overflow: hidden;
  // Site Desktop
  &--desktop {
    border-top: 1px solid $color-light;
    .site--top {
      @include page-container;
      display: flex;
      justify-content: flex-end;
      height: 40px;
    }
  }
  // Site Banner
  &--banner--wrapper {
  }
  &--banner {
    background: $color-background;
    width: 100%;
    max-width: 78.571em;
    position: relative;
    margin: 0 auto;
  }
  // Site Breadcrumbs
  &--breadcrumbs--wrapper {
    background: #eaeaea;
    background: linear-gradient(
      -45deg,
      #eaeaea 45%,
      #dcdcdc 45%,
      #dcdcdc 55%,
      #eaeaea 55%
    );
    background-size: auto auto;
    background-size: 0.46154em 0.46154em;
    border-top: 0.07692em solid #e5e5e5;
    position: relative;
  }
  &--breadcrumbs {
    @include page-container;
    padding: 1em 1.429em 3.857em 1.429em;
    margin-bottom: 0.25em;
  }
  // Site Content
  &--content--wrapper {
    position: relative;
    top: -3.07692em;
    padding-top: 0.76923em;
    overflow: hidden;
  }
  &--content--indented {
    @include page-container;
    background-color: $color-background;
    padding: 0 1.429em 2.857em 1.429em;
    &:before {
      content: '';
      display: block;
      border-left: 1px solid #ccc;
      height: 3.84615em;
      position: absolute;
      left: -0.07692em;
      top: 2.30769em;
    }
  }
  // Footer
  &--footer--wrapper {
    background: $color-lighter;
    @include page-section;
    @include hide-print;
    padding-top: 1.5em;
    padding-bottom: 3em;
  }
  &--footer {
    @include page-container;

    @include breakpoint($breakpoint-desktop) {
      display: flex;
      .footer1,
      .footer2 {
        width: 50%;
      }
    }
    .menu__item {
      width: 25%;
      margin-right: 1em;
      display: inline-block;
    }
    .menu__link {
      font-weight: normal;
      font-size: 0.857em;
      padding: 0;
      &.is-active {
        text-decoration: underline;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
}

// homepage
.front {
  .site {
    &--content {
      &:before {
        content: '';
        display: block;
        border-left: 0px;
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &--content--wrapper {
      top: 0;
    }
  }
  .content--footer {
    padding-top: 2em;
    display: block;
    @include breakpoint($breakpoint-tablet) {
      display: flex;
    }
    .box {
      margin-right: 1.429em;
      width: 100%;
      display: block;
      &:last-child {
        margin-right: 0;
      }
      @include breakpoint($breakpoint-tablet) {
        margin-right: 1.429em;
        width: 33%;
        // boxes with same height and more link at the bottom
        display: flex;
        flex-direction: column;
        justify-content: start;
        //
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .box__content {
      // boxes with same height and more link at the bottom
      display: inline-flex;
      flex-direction: column;
      flex-grow: 1;
      p {
        margin-bottom: auto;
      }
      .more {
        margin-top: 1em;
        align-self: flex-start;
      }
      //
    }
  }
}
