{% extends '@containers/page/_page.twig' %}
  {% block block_page_leaderboard %}
    {{ page_leaderboard }}
  {% endblock block_page_leaderboard %}
  {% block block_page_socialmedia %}
    {% include '@objects/social-media/_social-media-follow-us.twig' %}
  {% endblock block_page_socialmedia %}
  {% block block_site_desktop %}
    {# Header #}
    {% embed '@layouts/site-header/_site-header.twig' %}
      {% block block_site_header %}
          {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          logo_title: '',
          logo_url: '#',
        }
        %}
        {# Meta navigation #}
        {% include '@objects/meta-navigation/_meta-navigation.twig'
          with {
          items: meta_navigation_items,
        }
        %}
      {% endblock block_site_header %}
    {% endembed %}
    {# Navigation #}
    {% embed '@layouts/site-navigation/_site-navigation.twig' %}
      {% block block_site_navigation %}
        {# Main Navigation #}
        {% include '@objects/main-navigation/_main-navigation.twig'
          with {
          items: document_main_menu_items,
        }
        %}
      {% endblock block_site_navigation %}
    {% endembed %}
  {% endblock block_site_desktop %}
  {% block block_page_banner %}
  {% endblock block_page_banner %}
  {% block block_page_breadcrumbs %}
    {% include '@objects/breadcrumbs/breadcrumbs.twig'
      with {
      breadcrumb: document_page_breadcrumb,
    }
    %}
  {% endblock block_page_breadcrumbs %}
  {% block block_page_content %}
    {# Content #}
    {% embed '@layouts/site-content/_site-content.twig' %}
      {% block block_site_content_header %}
        {% include '@objects/_bleeding-label.twig'
          with {
          bleeding_label: 'Resources',
          bleeding_label_class: 'bleeding-label',
        }
        %}
        {% embed '@containers/bar/_bar.twig'
          with {
          bar_classes_value: 'bar bar-2cols',
        }
        %}
          {% block block_bar_content %}
            <div>
              {% include '@composites/metadata-list/_metadata-list.twig'
                with {
                items: document_meta_data_type,
                meta_data_list: 'type',
              }
              %}
            </div>
            <div>
              {% include '@objects/social-media/_social-media-share.twig' %}
            </div>
            <div>
              {% include '@objects/language-switcher/_language-switcher.twig'
                with {
                languages: document_languages,
              }
              %}
            </div>
          {% endblock block_bar_content %}
        {% endembed %}
        {% embed '@containers/bar/_bar.twig' %}
          {% block block_bar_content %}
            <div>
              {% include '@composites/metadata-list/_metadata-list.twig'
                with {
                items: document_meta_data_source,
              }
              %}
            </div>
          {% endblock block_bar_content %}
        {% endembed %}
        {% include "@objects/headlines/_headlines.twig"
          with {
          heading_level: '1',
          heading_content: 'OSCE Special Monitoring Mission to Ukraine (SMM): Table of ceasefire violations as of 22 January 2019',
        }
        %}
        {% include '@objects/author-date-info/_author-date-info.twig'
          with {
          author_label: 'Publisher',
          author: 'Organization for Security and Co-operation in Europe',
          author_date_label: 'Date',
          author_date: '23 January 2019',
        }
        %}
      {% endblock block_site_content_header %}

      {% block block_site_content_content %}
        {# Content 2 cols #}
        {% embed '@containers/content-2cols/_content-2cols.twig' %}
          {% block block_content_2cols_image %}
            <img src="https://www.osce.org/files/imagecache/20_medium/f/images/hires/c/2/116945.png" alt="" title="" width="255" height="360" class="imagecache imagecache-20_medium imagecache-default imagecache-20_medium_default">
          {% endblock block_content_2cols_image %}

          {% block block_content_2cols_main %}
            Table of ceasefire violations as of 22 January 2019.
          {# Downloads #}
            {% embed '@objects/download/_download_list.twig' %}
              {% block downloadslist %}
              {% include '@objects/download/download.twig'
                with {
                file_name: 'OSCE-Document name',
                svgname: 'download',
                file_title: 'OSCE Document title',
                url: '#',
                download_label: 'English',
                langcode: 'en',
                target: '_blank',
                size: '',
                language: '',
                mime: '',
                download_icon_after: 'true',
                icon_border: 'true',
              }
              %}
              {% include '@objects/download/download.twig'
                with {
                file_name: 'OSCE-Document name',
                svgname: 'download',
                file_title: 'OSCE Document title',
                url: '#',
                download_label: 'Русский',
                langcode: 'ru',
                target: '_blank',
                size: '',
                language: '',
                mime: '',
                download_icon_after: 'true',
                icon_border: 'true',
              }
              %}
              {% include '@objects/download/download.twig'
                with {
                file_name: 'OSCE-Document name',
                svgname: 'download',
                file_title: 'OSCE Document title',
                url: '#',
                download_label: 'країнська',
                langcode: 'uk',
                target: '_blank',
                size: '',
                language: '',
                mime: '',
                download_icon_after: 'true',
                icon_border: 'true',
              }
              %}
            {% endblock downloadslist %}
            {% endembed %}

            <p><strong>The views, opinions, conclusions and other information expressed in this document are not given nor necessarily endorsed by the Organization for Security and Co-operation in Europe (OSCE) unless the OSCE is explicitly defined as the Author of this document.</strong></p>
          {% endblock block_content_2cols_main %}
        {% endembed %}

      {% endblock block_site_content_content %}
    {% endembed %}
  {% endblock block_page_content %}
  {% block block_page_footer %}
    {% embed '@layouts/footer/footer.twig' %}
      {% block footer_01 %}
        <div class="panel-pane">
          {% include '@objects/menu/_menu.twig'
            with {
            items: menu_items_footer,
          }
          %}
        </div>
      {% endblock footer_01 %}
      {% block footer_02 %}
        {# Subscrib to OSCE #}
        {% include "@objects/headlines/_headlines.twig"
          with {
          heading_level: '2',
          heading_content: 'Subscribe to',
        }
        %}
        {% include '@composites/_subscribe-box.twig' %}
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          "logo_title": 'Chairmanship',
          "logo_link_classes": 'logo logo--chairmanship--2019',
        }
        %}
      {% endblock footer_02 %}

    {% endembed %}
  {% endblock block_page_footer %}
