{% extends '@containers/page/_page.twig' %}
  {% block block_page_leaderboard %}
    {{ page_leaderboard }}
  {% endblock block_page_leaderboard %}
  {% block block_page_socialmedia %}
    {% include '@objects/social-media/_social-media-follow-us.twig' %}
  {% endblock block_page_socialmedia %}
  {% block block_site_desktop %}
    {# Header #}
    {% embed '@layouts/site-header/_site-header.twig' %}
      {% block block_site_header %}
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          logo_title: '',
          logo_url: '#',
        }
        %}
        {# Meta navigation #}

        {% include '@objects/meta-navigation/_meta-navigation.twig'
          with {
          items: meta_navigation_items,
        }
        %}
      {% endblock block_site_header %}
    {% endembed %}
    {# Navigation #}
    {% embed '@layouts/site-navigation/_site-navigation.twig' %}
      {% block block_site_navigation %}
        {# Main Navigation #}
        {% include '@objects/main-navigation/_main-navigation.twig' %}
      {% endblock block_site_navigation %}
    {% endembed %}
  {% endblock block_site_desktop %}
  {% block block_page_banner %}
  {% endblock block_page_banner %}
  {% block block_page_breadcrumbs %}
    {% include '@objects/breadcrumbs/breadcrumbs.twig'
      with {
      breadcrumb: image_details_breadcrumb,
    }
    %}
  {% endblock block_page_breadcrumbs %}
  {% block block_page_content %}
    {# Content #}
    {% embed '@layouts/site-content/_site-content.twig' %}
      {% block block_site_content_header %}
        {% include '@objects/_bleeding-label.twig'
          with {
          bleeding_label: 'Resources',
        }
        %}
        {% embed '@containers/bar/_bar.twig'
          with {
          bar_classes_value: 'bar bar-2cols',
        }
        %}
          {% block block_bar_content %}
            <div>
              {% include '@composites/metadata-list/_metadata-list.twig'
                with {
                items: image_meta_data_type,
                meta_data_list: 'type',
              }
              %}
            </div>
            <div>
              {% include '@objects/social-media/_social-media-share.twig' %}
            </div>
            <div>
              {% include '@objects/language-switcher/_language-switcher.twig'
                with {
                languages: image_languages,
              }
              %}
            </div>
          {% endblock block_bar_content %}
        {% endembed %}
        {% embed '@containers/bar/_bar.twig' %}
          {% block block_bar_content %}
            <div>
              {% include '@composites/metadata-list/_metadata-list.twig'
                with {
                items: image_meta_data_source,
              }
              %}
            </div>
          {% endblock block_bar_content %}
        {% endembed %}
        {% include '@objects/author-date-info/_author-date-info.twig'
          with {
          credit_label: 'Credit',
          credit: 'OSCE/Nozim Kalandarov',
          id_label: 'ID',
          id: '376519',
          author_date_label: 'Date',
          author_date: '20 March 2018',
        }
        %}
      {% endblock block_site_content_header %}
      {% block block_site_content_content %}
        {% include '@objects/image/_image.twig'
          with {
          figure_image: image_detail_figure_image,
          figure_caption: image_detail_figure_caption,
          figure_type: image_detail_figure_type,
        }
        %}
        {% include '@objects/download/download.twig'
          with {
          file_name: 'OSCE-Document.jpg',
          file_title: 'OSCE Document Photo',
          url: '#jpg',
          mime: '',
          download_label: 'Download high resolution image',
          langcode: '',
          language: '',
          size: '7.79 MB',
          target: '_blank',
        }
        %}
      {% endblock block_site_content_content %}
      {% block block_site_content_footer %}
        <h4>Disclaimer</h4>
        <p>All photographs on the Website, unless expressly credited otherwise, are the sole property of the OSCE and are subject to copyright.</p>
        <p>For photographs on the Website that are credited to the OSCE, the OSCE hereby grants you permission to reproduce and/or distribute them without charge under the term and conditions of a Creative Commons Attribution - No Derivative Works license. When reproducing and/or distributing such photo(s), you must credit both the OSCE and the photographer in the following manner: OSCE/photographer's name.</p>
        <p>For photographs on the Website that are not credited to the OSCE, you must seek permission to reproduce them from the original photographer or agency, as shown in the photograph credits.</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-nd/4.0/88x31.png"></a>
      {% endblock block_site_content_footer %}
    {% endembed %}
  {% endblock block_page_content %}
  {% block block_page_footer %}
    {% embed '@layouts/footer/footer.twig' %}
      {% block footer_01 %}
        <div class="panel-pane">
          {% include '@objects/menu/_menu.twig'
            with {
            items: menu_items_footer,
          }
          %}
        </div>
      {% endblock footer_01 %}
      {% block footer_02 %}
        {# Subscrib to OSCE #}
        {% include "@objects/headlines/_headlines.twig"
          with {
          heading_level: '2',
          heading_content: 'Subscribe to',
        }
        %}
        {% include '@composites/_subscribe-box.twig' %}
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          "logo_title": 'Chairmanship',
          "logo_link_classes": 'logo logo--chairmanship--2019',
        }
        %}
      {% endblock footer_02 %}
    {% endembed %}
  {% endblock block_page_footer %}


