{% extends '@containers/page/_page.twig' %}
  {% block block_page_leaderboard %}
    {{ page_leaderboard }}
  {% endblock block_page_leaderboard %}
  {% block block_page_socialmedia %}
    {% include '@objects/social-media/_social-media-follow-us.twig' %}
  {% endblock block_page_socialmedia %}
  {% block block_site_desktop %}
    {# Top #}
    {% embed '@layouts/site-top/_site-top.twig' %}
      {% block block_site_top %}
        {# Languages #}
        {% include '@objects/language/_language.twig'
          with {
          items: dummylanguages,
        }
        %}
        {# Languages dropdown #}
        {% include '@objects/languages-dropdown/_languages-dropdown.twig' %}
      {% endblock block_site_top %}
    {% endembed %}
    {# Multilanguage #}
    {% include '@layouts/site-multilingual/_site-multilingual.twig' %}
    {# Header #}
    {% embed '@layouts/site-header/_site-header.twig' %}
      {% block block_site_header %}
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          logo_title: '',
          logo_url: '#',
        }
        %}
        {# Meta navigation #}
        {% include '@objects/meta-navigation/_meta-navigation.twig'
          with {
          items: odihr_meta_navigation_items,
        }
        %}
      {% endblock block_site_header %}
    {% endembed %}
    {# Navigation #}
    {% embed '@layouts/site-navigation/_site-navigation.twig' %}
      {% block block_site_navigation %}
        {# Main Navigation #}
        {% include '@objects/main-navigation/_main-navigation.twig' %}
      {% endblock block_site_navigation %}
    {% endembed %}
  {% endblock block_site_desktop %}
  {% block block_page_banner %}
    {% embed '@containers/bento/_bento.twig' %}
      {% block block_bento_top %}
        {% embed '@containers/box/_box.twig'
          with {
          box_header: 'Latest News',
          box_class_value: 'box box__borderless',
        }
        %}
          {% block box_main %}
            {# Latest News #}
            {% embed '@containers/teaserlist/_teaserlist.twig'
              with {
              items: home_latest_news,
            }
            %}
              {% block block_teaser_list %}
                {% embed '@containers/teaser/_teaser.twig'
                  with {
                  teaser_image: item.teaser_image,
                  teaser_url: item.teaser_url,
                }
                %}
                  {% block block_teaser_image %}
                    {{ teaser_image }}
                  {% endblock %}
                  {% block block_teaser_main %}

                    {% if item.teaser_text | render %}
                      <div class="teaser__text">
                        {{ item.teaser_text|t }}
                      </div>
                    {% endif %}
                    {% if item.teaser_location or item.teaser_date %}
                      <div class="location">
                      {% if item.teaser_location | render %}
                        {{ item.teaser_location }},
                      {% endif %}
                      {% if item.teaser_date | render %}
                        {{ item.teaser_date }}
                      {% endif %}
                      </div>
                  {% endif %}
                  {% endblock %}
                  {% block block_teaser_more %}
                  {% endblock block_teaser_more %}

                {% endembed %}
              {% endblock block_teaser_list %}
            {% endembed %}
            {% include '@objects/more/_more.twig'
              with {
              readmore_text : 'View all news',
              readmore_class_name: 'more more__teaser',
            }
            %}
          {% endblock box_main %}
        {% endembed %}
      {% endblock %}
      {% block block_bento_main %}
        {% include '@protons/demo/_f-placeholder.twig'
          with {
          'placeholder_height': '400px',
          'placeholder_width': '100%',
          'placeholder_content': '@todo Slider TBA',
        }
        %}
        {% embed '@objects/_bleeding-label.twig'
          with {
          bleeding_label: 'Featured',
          bleeding_label_style: 'clear: both;top: -60px;margin-bottom: -60px;margin-left: 40px;padding-left: 20px;position: relative;background: #fff;border-left: 1px solid #ccc;',
          bleeding_label_class: 'bleeding-label',
        }
        %}
          {% block block_bleeding_label %}
            {% include "@objects/headlines/_headlines.twig"
              with {
              heading_level: '2',
              heading_content: '25th OSCE Ministerial Council',
            }
            %}
            <p>Ambition and realism to define Slovak OSCE Chairmanship in promoting dialogue, trust and stability in the OSCE area, while supporting the good functioning of the organization</p>
          {% endblock block_bleeding_label %}
        {% endembed %}
      {% endblock %}
      {% block block_bento_bottom %}
      {% endblock %}
    {% endembed %}
  {% endblock block_page_banner %}
  {% block block_page_content %}
    {# Content #}
    {% embed '@layouts/site-content/_site-content.twig' %}
      {% block block_site_content_bottom %}
        <a href="http://www.osce.org/ukrainecrisis" data-title="The crisis in and around Ukraine portal - blue color, single monitor, 728x90 EN" title="OSCE responses to the crisis in and around Ukraine. The latest news, reports and stories." class="node-banner-large" data-path="node/1">
          <img src="https://www.osce.org/files/f/banner-images/206491/large/206491-1491481574.png">
        </a>
        {% embed '@containers/box/_box.twig'
          with {
          box_class_value: 'box box--dark',
          box_label: 'What we do',
          box_header:'OSCE Areas of Focus',
        }
        %}
          {% block box_main %}
          {% include '@objects/taglink/_taglink.twig'
          with {
            rows: taglinks,
          }
          %}
          {% endblock %}
        {% endembed %}
        {% embed '@containers/box/_box.twig'
              with {
              box_label: 'Promoted',
              box_label_class: 'box__label--bleeding',
              box_class_value: 'box box__borderless',
              box_content_class: 'box__content--list',
          }
          %}
              {% block box_main %}
                <a href="#"><img src="https://www.osce.org/files/imagecache/banner_small/f/images/content-ref/3/5/133481.jpg?1517305684" alt="" title="" class="imagecache imagecache-banner_small imagecache-default imagecache-banner_small_default" width="300" height="125"></a>
                <a href="#"><img src="https://www.osce.org/files/imagecache/banner_small/cio-slovakia-homepage-banner.png?1546277369" alt="" title="" class="imagecache imagecache-banner_small imagecache-default imagecache-banner_small_default" width="300" height="125"></a>
                <a href="#"><img src="https://www.osce.org/files/imagecache/banner_small/f/images/content-ref/4/2/133491.png?1517305686" alt="" title="" class="imagecache imagecache-banner_small imagecache-default imagecache-banner_small_default" width="300" height="125"></a>
                <a href="#"><img src="https://www.osce.org/files/imagecache/banner_small/f/images/content-ref/b/1/133496.png?1517305687" alt="" title="" class="imagecache imagecache-banner_small imagecache-default imagecache-banner_small_default" width="300" height="125"></a>
                <a href="#"><img src="https://www.osce.org/files/imagecache/banner_small/f/images/content-ref/d/e/133501.png?1517305687" alt="" title="" class="imagecache imagecache-banner_small imagecache-default imagecache-banner_small_default" width="300" height="125"></a>
                <a href="#"><img src="https://www.osce.org/files/imagecache/banner_small/f/images/content-ref/1/5/133506.png?1517305687" alt="" title="" class="imagecache imagecache-banner_small imagecache-default imagecache-banner_small_default" width="300" height="125"></a>
              {% endblock %}
          {% endembed %}
        {# Recently published #}
        {% embed '@containers/box/_box.twig'
          with {
          box_header: 'Recently published',
          box_header_subtitle: ' Selected recent publications and official documents',
          box_class_value: 'box box__borderless',
        }
        %}
          {% block box_main %}
            {% embed '@containers/gallery/_gallery.twig'
              with {
              items: home_document_items,
            }
            %}
              {% block block_gallery_content %}
                {% include '@containers/document/_document.twig'
                  with {
                  cover: item.cover,
                  document_description: item.document_description,
                  document_title: item.document_title,
                  document_url: item.document_url,
                  document_link_type: item.document_link_type,
                  document_link_translation: item.document_link_translation,
                }
                %}
              {% endblock %}
            {% endembed %}
          {% endblock %}
        {% endembed %}
      {% endblock block_site_content_bottom %}
      {% block block_site_content_footer %}
        {% embed '@containers/box/_box.twig'
        with {
          box_header: "Who We Are",
        }
        %}
          {% block box_main %}
            <p>The OSCE stands for the Organization for Security and Co-operation in Europe. With 57 States from Europe, Central Asia and North America, the OSCE is the world's largest regional security organization.</p>
            {% include '@objects/more/_more.twig'
              with {
              readmore_text : 'Learn more',
              readmore_url: '#',
            }
            %}
          {% endblock %}
        {% endembed %}

        {% embed '@containers/box/_box.twig'
          with {
          box_header: "What We Do",
        }
        %}
          {% block box_main %}
            <p>
              Our activities cover a wide range of security issues such as conflict prevention to fostering economic development, ensuring the sustainable use of natural resources & promoting the full respect of human rights and fundamental freedoms.
            </p>
            {% include '@objects/more/_more.twig'
              with {
              readmore_text : 'Learn more',
              readmore_url: '#',
            }
            %}
          {% endblock %}
        {% endembed %}
        {% embed '@containers/box/_box.twig'
          with {
          box_header: "Where We are",
        }
        %}
          {% block box_main %}
            <p>
              {{ 'The OSCE has field presences in South-Eastern Europe, Eastern Europe, the South Caucasus and Central Asia.' | t }}
            </p>
            {% include '@objects/more/_more.twig'
              with {
              readmore_text : 'Learn more',
              readmore_url: '#',
            }
            %}
          {% endblock %}
        {% endembed %}
      {% endblock block_site_content_footer %}
    {% endembed %}
  {% endblock block_page_content %}
  {% block block_page_footer %}
    {% embed '@layouts/footer/footer.twig' %}
      {% block footer_01 %}
        <div class="panel-pane">
          {% include '@objects/menu/_menu.twig'
            with {
            items: menu_items_footer,
          }
          %}
        </div>
      {% endblock footer_01 %}
      {% block footer_02 %}
        {# Subscrib to OSCE #}
        {% include "@objects/headlines/_headlines.twig"
          with {
          heading_level: '2',
          heading_content: 'Subscribe to',
        }
        %}
        {% include '@composites/_subscribe-box.twig' %}
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          "logo_title": 'Chairmanship',
          "logo_link_classes": 'logo logo--chairmanship--2019',
        }
        %}
      {% endblock footer_02 %}
    {% endembed %}
  {% endblock block_page_footer %}


