{% extends '@containers/page/_page.twig' %}
  {% block block_page_leaderboard %}
    {{ page_leaderboard }}
  {% endblock block_page_leaderboard %}
  {% block block_page_socialmedia %}
    {% include '@objects/social-media/_social-media-follow-us.twig' %}
  {% endblock block_page_socialmedia %}
  {% block block_site_desktop %}
    {# Header #}
    {% embed '@layouts/site-header/_site-header.twig' %}
      {% block block_site_header %}
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          logo_title: '',
          logo_url: '#',
        }
        %}
        {# Meta navigation #}
        {% include '@objects/meta-navigation/_meta-navigation.twig'
          with {
          items: meta_navigation_items,
        }
        %}
      {% endblock block_site_header %}
    {% endembed %}
    {# Navigation #}
    {% embed '@layouts/site-navigation/_site-navigation.twig' %}
      {% block block_site_navigation %}
        {# Main Navigation #}
        {% include '@objects/main-navigation/_main-navigation.twig' %}
      {% endblock block_site_navigation %}
    {% endembed %}
  {% endblock block_site_desktop %}
  {% block block_page_banner %}
  {% endblock block_page_banner %}
  {% block block_page_breadcrumbs %}
    {% include '@objects/breadcrumbs/breadcrumbs.twig'
      with {
      breadcrumb: smmreport_breadcrumb,
    }
    %}
  {% endblock block_page_breadcrumbs %}
  {% block block_page_content %}
    {# Content #}
    {% embed '@layouts/site-content/_site-content.twig' %}
      {% block block_site_content_header %}
        {% include '@objects/_bleeding-label.twig'
          with {
          bleeding_label: 'Newsroom',
        }
        %}
        {% embed '@containers/bar/_bar.twig'
          with {
          bar_classes_value: 'bar bar-2cols',
        }
        %}
          {% block block_bar_content %}
            <div>
              {#
              {% include '@composites/metadata-list/_metadata-list.twig'
                with {
                items: smmreport_meta_data_type,
                meta_data_list: 'type',
              }
              %}
              #}
              {% include '@objects/social-media/_social-media-follow-source.twig' %}
            </div>
            <div>
              {% include '@objects/social-media/_social-media-share.twig' %}
            </div>
            <div>
              {% include '@objects/language-switcher/_language-switcher.twig'
                with {
                languages: smmreport_languages,
              }
              %}
            </div>
          {% endblock block_bar_content %}
        {% endembed %}
        {% embed '@containers/bar/_bar.twig' %}
          {% block block_bar_content %}
            <div>
              {% include '@composites/metadata-list/_metadata-list.twig'
                with {
                items: smmreport_meta_data_source,
              }
              %}
            </div>
          {% endblock block_bar_content %}
        {% endembed %}
        {% include "@objects/headlines/_headlines.twig"
          with {
          heading_level: '1',
          heading_content: 'Latest from the OSCE Special Monitoring Mission to Ukraine (SMM), based on information received as of 19:30, 22 January 2019',
        }
        %}
        {% include '@objects/author-date-info/_author-date-info.twig'
          with {
          author: 'KYIV',
          author_date: '23 January 2019',
        }
        %}
      {% endblock block_site_content_header %}
      {% block block_site_content_sidebar_top %}
        {% embed '@containers/box/_box.twig'
          with {
          box_class_value: 'box box--dark',
          box_header:'Newsroom',
        }
        %}
          {% block box_main %}
            {% include '@objects/menu/_menu.twig'
              with {
              items: smmreport_sidebar_menu_items,
            }
            %}
          {% endblock %}
        {% endembed %}
      {% endblock block_site_content_sidebar_top %}
      {% block block_site_content_content %}
        {{ content }}
        <br>
        CONTACTS tba
        <br>
        {# Related #}
        {% embed '@containers/box/_box.twig'
          with {
          box_header: 'Related',
          box_class_value: 'box box__borderless',
        }
        %}
          {% block box_main %}
            {% embed '@containers/gallery2cols/_gallery2cols.twig'
              with {
              items: smm_related_document_items,
            }
            %}
              {% block block_gallery_content %}
                {% include '@containers/document/_document.twig'
                  with {
                  cover: item.cover,
                  document_description: item.document_description,
                  document_title: item.document_title,
                  document_url: item.document_url,
                  document_link_translation: item.document_link_translation,
                  document_link_type: item.document_link_type,
                }
                %}
              {% endblock %}
            {% endembed %}
          {% endblock box_main %}
        {% endembed %}
      {% endblock block_site_content_content %}
      {% block block_site_content_sidebar_bottom %}
      {# Subscribe to OSCE #}
        {% embed '@containers/box/_box.twig'
          with {
          box_header: 'Subscribe to OSCE',
          box_header_subtitle: 'Sign up to receive OSCE Press Releases and Media Advisories by email as soon as they have been published.',
          box_class_value: 'box box__borderless',
        }
        %}
          {% block box_main %}
            {# Subscribe form #}
            {% include '@composites/subscribe-box/_subscribe-box.twig'
              with {
              subscribe_button_txt: 'Sign up',
            }
            %}
          {% endblock box_main %}
        {% endembed %}
      {% endblock block_site_content_sidebar_bottom %}
    {% endembed %}
  {% endblock block_page_content %}
  {% block block_page_footer %}
    {% embed '@layouts/footer/footer.twig' %}
      {% block footer_01 %}
        <div class="panel-pane">
          {% include '@objects/menu/_menu.twig'
            with {
            items: menu_items_footer,
          }
          %}
        </div>
      {% endblock footer_01 %}
      {% block footer_02 %}
        {# Subscrib to OSCE #}
        {% include "@objects/headlines/_headlines.twig"
          with {
          heading_level: '2',
          heading_content: 'Subscribe to',
        }
        %}
        {% include '@composites/_subscribe-box.twig' %}
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          "logo_title": 'Chairmanship',
          "logo_link_classes": 'logo logo--chairmanship--2019',
        }
        %}
      {% endblock footer_02 %}
    {% endembed %}
  {% endblock block_page_footer %}
