{% extends '@containers/page/_page.twig' %}
  {% block block_page_leaderboard %}
    {{ page_leaderboard }}
  {% endblock block_page_leaderboard %}
  {% block block_page_socialmedia %}
    {% include '@objects/social-media/_social-media-follow-us.twig' %}
  {% endblock block_page_socialmedia %}
  {% block block_site_desktop %}
    {# Header #}
    {% embed '@layouts/site-header/_site-header.twig' %}
      {% block block_site_header %}
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          logo_title: '',
          logo_url: '#',
        }
        %}
        {# Meta navigation #}
        {% include '@objects/meta-navigation/_meta-navigation.twig'
          with {
          items: meta_navigation_items,
        }
        %}
      {% endblock block_site_header %}
    {% endembed %}
    {# Navigation #}
    {% embed '@layouts/site-navigation/_site-navigation.twig' %}
      {% block block_site_navigation %}
        {# Main Navigation #}
        {% include '@objects/main-navigation/_main-navigation.twig' %}
      {% endblock block_site_navigation %}
    {% endembed %}
  {% endblock block_site_desktop %}
  {% block block_page_banner %}
  {% endblock block_page_banner %}
  {% block block_page_breadcrumbs %}
    {% include '@objects/breadcrumbs/breadcrumbs.twig'
      with {
      breadcrumb: sdg_page_breadcrumb,
    }
    %}
  {% endblock block_page_breadcrumbs %}
  {% block block_page_content %}
    {# Content #}
    {% embed '@layouts/site-content/_site-content.twig' %}
      {% block block_site_content_header %}
        {% embed '@containers/bar/_bar.twig'
          with {
          bar_classes_value: 'bar bar-align-right',
        }%}
          {% block block_bar_content %}
            <div>
              {% include '@objects/social-media/_social-media-share.twig' %}
            </div>
            <div class="last-item">
              {% include '@objects/language-switcher/_language-switcher.twig'
                with {
                languages: sdg_page_languages,
              }
              %}
            </div>
          {% endblock block_bar_content %}
        {% endembed %}
      {% endblock block_site_content_header %}

      {% block block_site_content_sidebar_top %}
        {% embed '@containers/box/_box.twig'
          with {
          box_class_value: 'box box--dark',
          box_header:'What we do',
        }
        %}
          {% block box_main %}
            {% include '@objects/menu/_menu.twig'
              with {
              items: sdg_page_sidebar_menu_items,
            }
            %}
          {% endblock %}
        {% endembed %}

      {% endblock block_site_content_sidebar_top %}

      {% block block_site_content_content %}
        {% include "@objects/headlines/_headlines.twig"
          with {
          heading_level: '1',
          heading_content: 'Goal 6: Clean water and sanitation',
          heading_image: '<img src="https://www.osce.org/sites/default/themes/osce_tao/images/sdg/ico-06-water-and-sanitation.svg" alt="Clean Water and Sanitation" width="120px" height="120px">',
        }
        %}
        {{ content }}
      {% endblock block_site_content_content %}
      {% block block_site_content_sidebar_bottom %}
        {# Subscribe to OSCE #}
        {% embed '@containers/box/_box.twig'
          with {
          box_header: 'Subscribe to OSCE',
          box_header_subtitle: 'Sign up to receive OSCE Press Releases and Media Advisories by email as soon as they have been published.',
          box_class_value: 'box box__borderless',
        }
        %}
          {% block box_main %}
            {# Subscribe form #}
            Subscribe form tba
          {% endblock box_main %}
        {% endembed %}
        {# Sustainable Development Goals (SDG) #}
        {% embed '@containers/box/_box.twig'
          with {
          box_header: 'Sustainable Development Goals',
          box_header_subtitle: 'The OSCE activity described on this page is helping to achieve the following Sustainable Development Goal',
          box_class_value: 'box box__borderless',
        }
        %}
          {% block box_main %}
            {% include '@containers/sdg-icons/_sdg-icons.twig'
              with {
              items: pressrelease_sdg_items,
              sdg_more_info_url: '#',
            }
            %}
          {% endblock box_main %}
        {% endembed %}
      {% endblock block_site_content_sidebar_bottom %}
      {% block block_site_content_footer %}
        {% include '@protons/demo/_f-placeholder.twig'
          with {
          placeholder_height: '100px',
          placeholder_width: '100%',
          placeholder_content: '@todo: Content footer list tba',
        }
        %}
      {% endblock block_site_content_footer %}
    {% endembed %}
  {% endblock block_page_content %}
  {% block block_page_footer %}
    {% embed '@layouts/footer/footer.twig' %}
      {% block footer_01 %}
        <div class="panel-pane">
          {% include '@objects/menu/_menu.twig'
            with {
            items: menu_items_footer,
          }
          %}
        </div>
      {% endblock footer_01 %}
      {% block footer_02 %}
        {# Subscrib to OSCE #}
        {% include "@objects/headlines/_headlines.twig"
          with {
          heading_level: '2',
          heading_content: 'Subscribe to',
        }
        %}
        {% include '@composites/_subscribe-box.twig' %}
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          "logo_title": 'Chairmanship',
          "logo_link_classes": 'logo logo--chairmanship--2019',
        }
        %}
      {% endblock footer_02 %}
    {% endembed %}
  {% endblock block_page_footer %}


