// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.gallery {
  // Default layout
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: -$column-spacing/2 !important;

  > * {
    margin-bottom: $column-spacing/2;
    padding-right: 0;
    width: 100%;
  }

  // Equal height columns.
  &__card > * {
    display: flex;
  }

  // Gallery items
  &__default > * {

    @include breakpoint($breakpoint-tablet) {
      width: 50%;
      padding-right: $column-spacing;
      &:nth-child(2n + 0) {
        padding-right: 0;
      }
    }
    @include breakpoint($breakpoint-desktop) {
      width: 33.33%;
      padding-right: $column-spacing;
      &:nth-child(2n + 0) {
        padding-right: $column-spacing;
      }
      &:nth-child(3n + 0) {
        padding-right: 0;
      }
    }
    > * {
      width: 100%;
    }
  }

  &__2col > * {
    @include breakpoint($breakpoint-tablet) {
      width: 50%;
      padding-right: $column-spacing;
      &:nth-child(2n + 0) {
        padding-right: 0;
      }
    }
  }

  &__4col > * {
    @include breakpoint($breakpoint-tablet) {
      width: 33%;
      padding-right: $column-spacing;
      &:nth-child(3n + 0) {
        padding-right: 0;
      }
    }
    @include breakpoint($breakpoint-desktop) {
      width: 25%;
      padding-right: $column-spacing;
      &:nth-child(3n + 0) {
        padding-right: $column-spacing;
      }
      &:nth-child(4n + 0) {
        padding-right: 0;
      }
    }
  }
  &__margin-small > * {
    margin-bottom: 0.2rem;
  }
  &__margin-none > * {
    margin-bottom: 0;
  }
}
