{#
/**
 * @file
 * gallery
 *
 * Available variables for gallery:
 *      - items: An array of items to render.
 *      - type: The gallery type, possible values:
 *          'default' (default value, flexible 3,2,1 col layout)
 *          '2col',
 *          '4col'
 *      - card_layout: boolean, if set to TRUE all items have equal height per row
*/
#}

{% if columns %}
    {% set type = columns ~ "col" %}
{% else %}
    {% set type = "default" %}
{% endif %}
{% if gallery_margin_type %}
    {% set gallery_margin_class = "gallery__margin-" ~ gallery_margin_type %}
{% endif %}
{% set gallery_card_class = "" %}
{% if card_layout %}
    {% set gallery_card_class = "gallery__card" %}
{% endif %}
<ul class="gallery reset gallery__{{ type }} {{ gallery_card_class }} {{ gallery_margin_class }}" {{ attributes|without('class') }}>
    {% for key, item in items %}
        <li>
            {% block block_gallery_content %}
                {{ item | raw }}
            {% endblock %}
        </li>
    {% endfor %}
</ul>
