// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.menu {
  &__item {
    padding: 0;
    line-height: 1.8em;

    &--level-0.is-expanded {
      border-bottom: 3px double $color-dark;
      margin-bottom: 1em;
      padding-bottom: 0.5em;

      //& > a:not(is-active) {
      //  border-top: 3px double $color-dark;
      //}
    }
  }
  &__link {
    line-height: 2.2em;
    padding: 0 0.5em;
    margin: 0 -0.5em;
    color: inherit;
    display: block;

    &.is-active {
      background: $color-light;
    }

    @for $i from 1 through 5 {
      &--level-#{$i} {
        padding-left: ($i - 1) * 1.5em + 0.5em;
      }
    }

    &--level-0 {
      font-weight: bold;
    }

    &--level-1 {
      font-weight: normal;
      display: flex;
      align-items: baseline;
    }
    &--level-2 {
    }
  }
  .menu__item {
    &--bullet {
      position: relative;
      & > a:before {
        display: block;
        content: "";
        background-color: $color-black;
        width: 5px;
        height: 5px;
        border: 1px solid $color-black;
        position: absolute;
        top: 9px;
        left: 4px;
      }
    }

    .svgicon {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0.1rem;
      margin-right: 0.5rem;
    }

    .svg__square-black {
      color: $color-black;
      width: 0.7em;
      max-width: 100%;
      max-height: $font-size-base;
      height: auto;
      margin-right: 5px;
      svg,
      g,
      circle,
      ellipse,
      line,
      path,
      polygon,
      polyline,
      rect,
      text {
        fill: $color-black;
      }
    }
  }
}
// dark menu
.box--dark .menu,
.box--darkvariant .menu {
  &__link {
    &:hover {
      text-decoration: none;
      color: $border-color1;
    }
    &.is-active {
      // background: darken($color-light, 20%);
      background-color: $color-dark;
    }
    margin-left: -3em;
    &--level-0 {
      padding-left: 3em;
    }
    @for $i from 1 through 3 {
      &--level-#{$i} {
        padding-left: ($i - 1) * 1.5em + 2em;
      }
    }
    &--border-top:not(.is-active) {
      border-top: 1px dotted $color-dark;
      padding-left: 0;
      margin-left: 0;
      padding-top: 0.3em;
    }
    &--level-0 {
      font-size: 1em;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
      line-height: 1.7em;
      &.is-active {
        position: relative;
        line-height: 2.3;
        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border: 0.7em solid $color-dark;
          border-left-color: transparent;
          border-bottom-color: transparent;
          position: absolute;
          left: 0;
        }
      }
    }

    &--level-1 {
      font-weight: bold;
      .svgicon__level {
        color: $color-black;
        display: inline-block;
        vertical-align: middle;
        width: 0.7em;
        max-width: 100%;
        max-height: $font-size-base;
        height: auto;
        margin-right: 5px;
        svg,
        g,
        circle,
        ellipse,
        line,
        path,
        polygon,
        polyline,
        rect,
        text {
          fill: $color-background;
        }
      }
      &.is-active {
        color: $color-black;
        background: $color-background;
        padding-left: 0.929em;
        .svgicon__level {
          color: $color-black;
          svg,
          g,
          circle,
          ellipse,
          line,
          path,
          polygon,
          polyline,
          rect,
          text {
            fill: $color-black;
          }
        }
        &:after {
          content: none;
          display: none;
        }
      }
    }
    &--level-2 > {
      .svgicon__level {
        color: $color-black;
        display: inline-block;
        vertical-align: middle;
        width: 0.7em;
        max-width: 100%;
        max-height: $font-size-base;
        height: auto;
        margin-right: 5px;
        svg,
        g,
        circle,
        ellipse,
        line,
        path,
        polygon,
        polyline,
        rect,
        text {
          fill: $color-background;
        }
      }
    }
  }
  &__item {
    &--bullet > a:before {
      background-color: $color-lighter-ultra;
      border: 1px solid $color-lighter-ultra;
    }
    &--level-1 {
      list-style: none;
      margin-left: 1em;
      &.is-active {
        list-style: none;
        margin-left: 0;
        position: relative;
        left: 25px;
        margin-right: 20px;
      }
    }
  }
}
