{#
/**
 * @file
 * menu
 *
 * Available variables for menu:
 *    - menu.variable_name [variable_type]: Description of the variable. Example below.
 *    - menu.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

{% import _self as menu %}


{% macro list_links(level, item) %}

  {% import _self as menu %}
    {% set state = [item.active ? 'is-active' : 'is-inactive', item.children ? 'is-expanded' : 'is-collapsed'] %}
    {% set item_classes = ['menu__item', 'menu__item--level-' ~ level] | merge(state) %}
    {% set link_classes = ['menu__link', 'menu__link--level-' ~ level] | merge(state) %}
    {% set svgicon %}
      {% if level == '1' %}{% include '@elements/svgicon/_svgicon.twig' with {svgname: 'square-black', svg_class: 'level level' ~ level,} %}{% endif %}
      {% if level == '2' %}{% include '@elements/svgicon/_svgicon.twig' with {svgname: 'square', svg_class: 'level level' ~ level,} %}{% endif %}

    {% endset %}
    <li class="{{ item_classes | join(' ') }}">
      <a class="{{ link_classes | join(' ') }}" href="{{ item.link }}">{{ svgicon }}{{ item.label }}</a>
      {% if item.children %}
        <ul class="menu menu--level-{{ level + 1 }} reset">
          {% for child in item.children %}
           {{ menu.list_links(level + 1, child) }}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
{% endmacro %}

<ul class="menu menu--level-0 reset">
  {% for child in items %}
    {{ menu.list_links(0, child) }}
  {% endfor %}
</ul>
