.bento {
  display: flex;
  flex-direction: column-reverse;
  @include breakpoint($breakpoint-tablet) {
    display: block;
  }
  @include clearfix;

  &__top {
    @include span(12 of 12);
    @include breakpoint($breakpoint-tablet) {
      @include span(last 4 of 12);
    }
  }
  &__bottom {
    @include span(12 of 12);
    @include breakpoint($breakpoint-tablet) {
      @include span(last 4 of 12);
    }
  }
  &__main {
    @include span(12 of 12);
    margin-bottom: 20px;
    @include breakpoint($breakpoint-tablet) {
      @include span(8 of 12);
      margin-bottom: 0;
    }
  }
}

.site--banner {
  .bento {
    @include breakpoint(0 $breakpoint-tablet) {
      @include page-container;
      padding: 0 0 2.857em 1.071em;
    }
  }
}
