{#
/**
 * @file
 * bento
 *
 * Available variables for bento:
 *  - bento_top
 *  - bento_main
 *  - bento_bottom
 */
#}
{% block block_bento %}
    {% if bento_top or bento_main or bento_bottom %}
        <div class="bento">
            {% if bento_top %}
              <div class="bento__top stack">
                  {% block block_bento_top %}
                    {{ bento_top }}
                  {% endblock %}
                </div>
            {% endif %}
            {% if bento_main %}
                <div class="bento__main stack">
                    {% block block_bento_main %}
                        {{ bento_main }}
                    {% endblock %}
                </div>
            {% endif %}
            {% if bento_bottom %}
              <div class="bento__bottom stack">
                  {% block block_bento_bottom %}
                    {{ bento_bottom }}
                  {% endblock %}
              </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
