{% set section_main = TRUE %}
{% embed '@containers/section/_section.twig'
  with {
  section_title: 'Slider Frontpage',
}
%}
  {% block section_main %}
    <div style="max-width: 820px; margin: 0 auto 0;">
    {% include '@objects/slider-frontpage/_slider-frontpage.twig'
      with {
      slider_type: 'frontpage',
    }
    %}
    </div>
  {% endblock %}
{% endembed %}
