{% extends '@containers/pipeline/_pipeline.twig' %}
  {% block pipe_content %}
      {% include '@protons/demo/_f-placeholder.twig'
      with {
      placeholder_content: 'Test ' ~ loop.index
      }
      %}
  {% endblock %}