.factbox {
  border: 1px solid #b0b0b0;
  border-radius: 0.3em;
  padding: 1em;
  background: $color-background;
  @include clearfix;

  &__label {
    font-weight: bold;
    float: left;
    margin-right: 1rem;
  }

  &__value {
    float: left;
  }

  &__icon {
    font-size: 1.2rem;
    color: lighten($color-dark, 10%);
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    float: left;
  }

  .svgicon {
    color: $color-dark;
    display: inline-block;
    vertical-align: middle;
    svg,
    g,
    circle,
    ellipse,
    line,
    path,
    polygon,
    polyline,
    rect,
    text {
      fill: $color-dark;
    }
  }
}
