{#
/**
 * @file
 * main-navigation
 *
 * Available variables for main-navigation:
 *    - main_navigation.variable_name [variable_type]: Description of the variable. Example below.
 *    - main_navigation.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<ul class="main-nav reset">
  {% for item in items %}
    {% set state = [item.active ? 'is-active' : 'is-inactive', item.children ? 'is-expandable' : 'is-unexpandable'] %}
    {% set item_classes = ['main-nav__item'] | merge(state) %}
    {% set link_classes = ['main-nav__link'] | merge(state) %}
    <li class="{{ item_classes | join(' ') }}">
      <collapsible-wrapper id={{loop.index}} enabled="yes" collapsed="yes" disable="screen and (min-width: 70em)">
        <a class="{{ link_classes | join(' ') }}" href="#">{{ item.label }}
          {% if item.children %}
            {% include '@elements/svgicon/_svgicon.twig' with {svgname: 'triangle-down', svg_class: 'expandable',} %}
          {% endif %}</a>
        {% if item.children %}
          <collapsible-icon class="main-nav__toggle"></collapsible-icon>
        {% endif %}

        {% if item.children %}
          <collapsible-content id="{{loop.index}}">
            <ul class="main-nav__child reset">
              {% for child in item.children %}
                {% set state = [item.active ? 'is-active' : 'is-inactive', item.children ? 'is-expandable' : 'is-unexpandable'] %}
                {% set item_classes = ['main-nav__child__item'] | merge(state) %}
                {% set link_classes = ['main-nav__child__link'] | merge(state) %}
                <li class="{{item_classes | join(' ')}}">
                 <a class="{{link_classes | join(' ')}}" href="#">{{ child.label }}</a>
                </li>
              {% endfor %}
            </ul>
          </collapsible-content>
        {% endif %}
      </collapsible-wrapper>
    </li>
  {% endfor %}
  {% if show_search %}
    <li class="main-nav__item main-nav__search">
      <div style="width:100%; height: 100%; display: flex; align-items: center; justify-content: center;">
        {% include '@elements/svgicon/_svgicon.twig' with { svgname: 'search', svg_class: 'meta-nav-search',}%}<input type="text" style="margin-left: 0.5rem" placeholder="Search" />
      </div>

    </li>
  {% endif %}
</ul>

