// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.main-nav {
  background: $color-background;
  .svgicon {
    color: $color-highlight;
    display: inline-block;
  }
  &,
  &__child {
    margin: 0;
  }

  &__link,
  &__child__link {
    color: $color-highlight;
    display: block;
    @include focus {
      text-decoration: none;
    }
  }
  .is-active {
    color: $color-blue;
  }

  @include breakpoint(0 $breakpoint-desktop) {
    border-bottom: 1px solid $color-light;
    //
    display: none;
    &__item {
      position: relative;
    }

    &__toggle {
      display: block;
      position: absolute;
      z-index: 5;
      font-size: 2em;
      top: 0.25em;
      right: 0.25em;
      color: $color-meta;
      background: $color-background;
      text-align: center;
      @include focus {
        text-decoration: none;
        background-color: lighten($color-meta, 60%);
      }
    }

    &__link,
    &__child__link {
      border-top: 1px solid $color-light;
      padding: 0 0.5em;
      white-space: pre-line;
      @include focus {
        color: $color-background;
        background-color: $color-meta;
      }
    }

    &__link {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 3em;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__child__link {
      display: block;
      font-size: 0.9em;
      line-height: 3em;
      background: $color-lighter;
      color: darken($color-highlight, 20%);
      &.is-active {
        font-weight: bold;
      }
    }
  }

  @include breakpoint($breakpoint-desktop) {
    display: flex;
    justify-content: flex-start;
    &__item {
      flex: 1 auto;
      position: relative;

      &:before {
        @include triangle('down', $color-background, 6px, 6px);
        margin-left: -6px;
      }

      &:after {
        @include triangle('down', $color-background, 6px, 6px);
        margin-left: -6px;
      }

      &:before,
      &:after {
        top: 100%;
        left: 50%;
        display: none;
      }

      &.is-active {
        &:before,
        &:after {
          display: block;
        }
        @include focus {
          &:before {
            @include triangle('down', $color-meta, 6px, 6px);
          }
          &:after {
            display: none;
          }
        }
      }

      @include focus {
        .main-nav__link {
          color: $color-background;
          background-color: $color-meta;
        }

        .main-nav__child {
          display: block;
          background-color: $color-blue;
        }
        @include focus {
          .svg {
            fill: $color-background;
          }
        }
      }

      // Overrule last item child, to grow to the left.
      &:last-child {
        .main-nav__link:before {
          display: none;
        }
        .main-nav__child {
          left: auto;
          right: 0;
        }
      }
    }

    &__link {
      line-height: 4em;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 1em;
      white-space: nowrap;

      &.is-expandable {
      }
      &:before {
        content: '';
        display: block;
        height: 2em;
        position: absolute;
        top: 1em;
        right: -1px;
        width: 1px;
        background: $color-light;
      }
      @include focus {
        &:before {
          display: none;
        }
      }
    }

    &__child {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 100%;

      background: $color-meta;
      color: $color-background;
      padding: 0.5em 0.7em;
      &__item {
        padding: 0 0.5em;
        &:not(:last-child) {
          border-bottom: 1px solid lighten($color-meta, 40%);
        }
        @include focus {
          background-color: darken($color-meta, 25%);
        }
      }
      &__link {
        white-space: nowrap;
        line-height: 2.5em;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-background;
        max-width: 530px;
        &.menu-item-multiline {
          padding-top: 8px;
          padding-bottom: 8px;
          white-space: pre-line;
          line-height: 1.5em;
        }
      }
    }
  }

  &__link,
  &__child__link {
    &.menu-item-multiline {
      padding-top: 8px;
      padding-bottom: 8px;
      white-space: pre-line;
      line-height: 1.5em;
    }
  }

  &__link {
    line-height: 4em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 1em;
    white-space: nowrap;

    &.is-expandable {
      .svgicon {
        color: $color-highlight;
        display: inline-block;
        vertical-align: middle;
        //width: 11px;
        width: 0.786em;
        max-width: 100%;
        margin-left: 1.071em;
        svg,
        g,
        circle,
        ellipse,
        line,
        path,
        polygon,
        polyline,
        rect,
        text {
          fill: $color-highlight;
        }
      }
      @include focus {
        .svg {
          fill: $color-background;
        }
      }
    }
  }
}
