{% include '@objects/factbox/_factbox.twig' %}
<hr>
<h2>Composition of factboxes</h2>
{% embed '@containers/box/_box.twig' with {
    box_type: 'shaded-light-striped',
    box_header: "Project facts and figures"
} %}
    {% block box_main %}

        {% set items = [
            include('@objects/factbox/_factbox.twig'),
            include('@objects/factbox/_factbox.twig', {factbox_label: 'Project end', factbox_value: 'August 2017'}),
            include('@objects/factbox/_factbox.twig', {factbox_label: 'Budget', factbox_value: 'EUR 2,121,250', factbox_icon: 'documents'})
        ]
        %}
        {% include '@containers/gallery/_gallery.twig' %}
        {% include '@objects/factbox/_factbox.twig' with {
            factbox_icon: "location",
            factbox_label: "Countries",
            factbox_content: "Armenia, Azerbaijan, Belarus, Georgia, Kazakhstan, Kyrgyzstan, Moldova, Tajikistan, Turkmenistan, Ukraine, Uzbekistan"
        }%}

    {% endblock %}
{% endembed %}