// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.definition__compact {
  vertical-align: baseline;
  font-size: 0.9em;

  dt {
    font-weight: normal;
  }
  dd {
    font-family: $font-family-sans-serif;
    font-style: italic;
  }
}
