// Styles for site-multilingual

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.site {
  &--multilingual--wrapper {
    background-color: $background-color1;
    &.expanded {
      display: block;
    }
  }
  &--multilingual {
    @include page-container;
    padding-top: 1em;
    padding-bottom: 0.714em;
    a {
      text-decoration: underline;
    }
    ul {
      margin-top: 1em;
      margin-bottom: 1em;
      padding-top: 1.429em;
      padding-bottom: 1em;
      border-top: 1px solid $box-border;
    }
    li {
      list-style: none;
      margin-right: 1em;
      margin-bottom: 0.714em;
      width: 18%;
      display: inline-block;
    }
  }
  .multilingual-actions {
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
    a {
      color: $color-text;
      margin-right: 1em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      &.multilingual-close {
        border-left: 1px solid $color-text;
        padding-left: 0.714em;
      }
    }
  }
}
