$label-bleed: 10px;

.bleeding-label {
  position: relative;
  top: -$label-bleed;
  left: 0;
  background: $color-meta;
  color: $color-background;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.857em;
  line-height: 2em;
  padding: 0 0.5em;
  display: inline-block;
  margin-bottom: 1em;
  & + * {
    clear: left;
  }
  & > *:not(:first-child) {
    margin-left: 0.5em;
  }
  // TODO: breaks specicifity, move to end of stylesheet
  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    top: 0;
    left: -$label-bleed;
    border: $label-bleed/2 solid darken($color-meta, 5%);
    border-left-color: transparent;
    border-top-color: transparent;
  }

  &--white {
    background: $color-background;
    color: $color-text;
    border: 1px solid $color-lighter;
    &:before {
      top: -1px;
      left: -$label-bleed - 1px;
      border-bottom-color: $color-light;
      border-right-color: $color-light;
    }
  }
}
