{#
/**
 * @file
 * _bleeding-label
 *
 * Available variables for bleeding-label:
 *    - bleeding_label_style: Your style
 *    f.E.:
 *    bleeding_label_style: 'border: 1px solid black; width: 100%; height: 100px; position: relative',
 *    - bleeding_label : 'Label text'
 *    - bleeding_label_class : 'bleeding-label'
 *    - bleeding_label_content :
 * Usage:
 *
 * {% include '@objects/bleeding-label/_bleeding-label.twig' %}
 *
 * or:
 *
 * {% include '@objects/bleeding-label/_bleeding-label.twig'
 *  with {
 *   "bleeding_label_class":  '',
 *   "bleeding_label_styles": '',
 *   "bleeding_label": '',
 *  }
 * %}
 */
#}

{# Set default values #}
{% set bleeding_label_class = bleeding_label_class|default('bleeding-label') %}

{% if bleeding_label_style %}
  <div style="{{ bleeding_label_style }}">
{% else %}
  <div class="bleeding-label-wrapper">
{% endif %}
    {% if bleeding_label %}
      <div class="{{ bleeding_label_class }}">{{ bleeding_label }}</div>
    {% endif %}
      {% block block_bleeding_label %}
          {% if bleeding_label_content %}
              <div>
                {{ bleeding_label_content }}
              </div>
          {% endif %}
      {% endblock block_bleeding_label %}
{% if  bleeding_label_style %}
  </div>
{% else %}
  </div>
{% endif %}
