// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.bar[min-width='#{$column-width * 2 + $column-spacing}'] {
  dl {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
  }
  dt,
  dd {
    margin-bottom: 0;
  }
  dt {
    flex-shrink: 1;
    margin-right: 0.8em;
    break-before: auto;
  }

  dd {
    flex-grow: 1;
    margin-right: 2em;
    white-space: nowrap;
  }
}
