{#
/**
 * @file
 * definition-bar
 *
 * Available variables for definition-bar:
 *    - item.definition_dt
 *    - item.definition_dd
 */
#}

<div class="bar" style="position: relative;" min-width="46em">
    <dl>
      {% for item in items %}
        {% block definition_content %}
          <dt>{{ item.definition_dt }}</dt><dd>{{ item.definition_dd }}</dd>
        {% endblock %}
      {% endfor %}
    </dl>
</div>
