// All component Sass needs non-printing base config
@import '../../00-protons/variables';
@import '../../02-objects/tabs/tabs';
.box {
  display: block;
  padding: 1.5em;
  position: relative;
  border: 1px solid $box-border;
  margin-bottom: 2rem;
  &:before {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    content: '';
    display: block;
    height: 0.5em;
    @include striping($color: $box-stripes);
  }
  &__label {
    display: inline-block;
    text-transform: uppercase;
    background: $color-lighter;
    font-weight: bold;
    font-size: 0.9em;
    padding: 0.3em 0.5em 0.2em 0.5em;
    margin-bottom: 0.357em;
  }
  &__toggle {
    position: absolute;
    right: 0.5em;
    top: 1.26rem;
  }

  &__content--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // content list items
    & > * {
      margin-bottom: 7px;
      margin-top: 7px;
      width: 50%;
      max-width: 310px;
      padding-right: 15px;
      &:nth-child(2n + 0) {
        padding-right: 0;
      }

      @include breakpoint($breakpoint-tablet) {
        width: 33%;
        max-width: 310px;
        padding-right: 15px;
        &:nth-child(3n + 0) {
          padding-right: 0;
        }
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    * {
      max-width: 100%;
      margin-bottom: 0;
    }

    &__title,
    &__title:last-child,
    h2,
    h2:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font-size: 1.5em;
    //padding-bottom: 0.357em;
    //margin-bottom: 0.786em;
  }
  &__subtitle {
    color: $color-dark;
    margin-bottom: 1em;
  }
  &__toggle {
    border: 1px solid $color-dark;
    font-size: 1.6em;
  }
  &--shaded {
    .box__label {
      background: $border-color2;
    }
    color: $color-darker;
    background: $color-lighter;
    border-color: $color-light;
  }
  &--shaded-light,
  &--shaded-light-striped {
    .box__label {
      background: $color-light;
    }
    color: $color-darker;
    background: $color-lighter-ultra;
    border-color: $color-light;
    &:before {
      @include striping($color: $color-light, $size: 0px);
    }
  }
  &--shaded-light-striped {
    &:before {
      @include striping($color: $box-stripes);
    }
  }
  &--dark {
    background: $color-darker;
    border-color: $color-darker;
    color: $color-background;

    .box__label {
      background: $color-dark;
      color: $color-background;
    }
    .box__subtitle {
      color: $color-background;
    }
  }
  &--darkvariant {
    .box__label {
      background: $color-dark;
      color: $color-background;
    }
    background: $color-darker;
    border-color: $color-darker;
    color: $color-background;
    &:before {
      background-image: none;
    }
    .box__title {
      padding-bottom: 10px;
    }
    .box__content {
      border-top: 1px solid $box-dark-stripes;
      &:before {
        left: 0;
        width: 100%;
        content: '';
        display: block;
        height: 0.5em;
        @include striping($color: $box-dark-stripes);
      }
    }
    .box__header {
      margin-top: 0.357em;
    }
  }
  &--blue {
    background: $color-blue;
    border-color: $color-darker;
    color: $color-background;

    .box__header {
      margin-top: 0;
    }
    .box__label {
      background: $color-dark;
      color: $color-background;
    }
    .box__subtitle {
      color: $color-background;
    }
  }
  &--todo {
    background: #ffcc00;
    border-color: $color-darker;
    .box__label {
      background-color: $color-background;
    }
    &:before {
      @include striping($color: $color-darker);
    }
  }
  $label-bleed: 10px;

  &__label--bleeding {
    position: absolute;
    top: -10px;
    background: $color-meta;
    color: $color-background;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    line-height: 2em;
    padding: 0 0.5em;
    display: flex;
    float: left;
    & + * {
      clear: left;
    }
    & > *:not(:first-child) {
      margin-left: 0.5em;
    }
    // TODO: breaks specicifity, move to end of stylesheet
    margin-bottom: 0 !important;
    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      top: 0;
      left: -$label-bleed;
      border: $label-bleed/2 solid darken($color-meta, 5%);
      border-left-color: transparent;
      border-top-color: transparent;
    }

    &--white {
      background: $color-background;
      color: $color-text;
      border: 1px solid $color-lighter;
      &:before {
        top: -1px;
        left: -$label-bleed - 1px;
        border-bottom-color: $color-light;
        border-right-color: $color-light;
      }
    }
  }
  &__label--plain {
    font-family: $font-family-condensed;
    background-color: transparent;
    padding: 0;
    text-transform: uppercase;
  }
  &__inside {
    top: 1em;
  }
  &--decorated {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 170px;
  }
  &--admin {
    padding-bottom: 1em;
    .box__label {
      background: $color-blue;
      color: $color-background;
      position: relative;
      left: 0;
      margin-top: -30px;
      margin-bottom: 10px;
      padding-right: 10px;
      display: flex;
      float: left;
      .icon {
        font-size: 1.35em;
        margin-right: 8px;
      }
      .svgicon {
        color: $color-background;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        svg,
        g,
        circle,
        ellipse,
        line,
        path,
        polygon,
        polyline,
        rect,
        text {
          fill: $color-background;
          width: 17px;
          max-width: 100%;
          max-height: 19px;
          height: auto;
        }
      }
    }
    .box__content {
      clear: left;
    }
    background: $color-admin-blue;
    border-color: $color-blue;
    color: $color-background;
    &:before {
      @include striping($color: $color-blue);
    }
    .tab__node_status {
      float: right;
      @extend %tabses__link;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
    }
    .tab__node_status--published {
      background: green;
      &:hover {
        background: green;
      }
    }
    .tab__node_status--unpublished {
      background: red;
      &:hover {
        background: red;
      }
    }

  }
  &__content .box {
    &__title,
    &__title:last-child,
    h2,
    h2:last-child {
      font-family: $font-family-sans-serif;
      font-size: 1.1em;
      margin-bottom: 0;
    }
    &__content {
      font-size: 1em;
    }
    .more {
      margin-top: 0.5em;
    }
  }
  p {
    line-height: 2;
  }
}

.site--banner,
.content--sidebar-top,
.content--sidebar-bottom {
  .box {
    margin-top: 0;
  }
}
// @TODO: check here
.collapsible-content {
  &.box__content {
    div.clearfix {
      display: table;
      margin-top: 0;
      width: 100%;
    }
  }
}

//Box in sidebar
.content--sidebar-top,
.content--sidebar-bottom {
  .box__header {
    flex-direction: column;
  }
}

collapsible-wrapper,
collapsible-content {
  display: block;
}

collapsible-wrapper[collapsed='yes'][enabled='yes'] {
  collapsible-content {
    overflow: hidden;
    height: 0;
    opacity: 0;
  }
  // @TODO: This should be a proper modifier (.box__header--collapsed):
  .box__header {
    margin-bottom: 0;
  }
}

collapsible-icon {
  display: block;
  cursor: pointer;
  &[enabled='no'] {
    display: none;
  }

  $toggle-size: 1em;
  $toggle-width: 15%;
  $toggle-height: 70%;
  box-sizing: content-box;
  height: $toggle-size;
  width: $toggle-size;

  & div {
    position: relative;
    width: $toggle-size;
    height: $toggle-size;
  }

  & span {
    display: block;
    &:first-child,
    &:last-child {
      position: absolute;
      height: $toggle-width;
      width: $toggle-height;
      left: (100% - $toggle-height) / 2;
      top: (100% - $toggle-width) / 2;
      background: white;
    }
  }
  collapsible-wrapper[collapsed='yes'] & span:first-child {
    transform: rotate(90deg);
    transition: 0.25s all ease-in;
  }
  collapsible-wrapper[collapsed='no'] & span:first-child {
    transform: rotate(180deg);
    transition: 0.25s all ease-in;
  }
}
