{#
/**
 * @file
 * box
 *
 */
#}

{% set box_label_class = box_label_class|default('box__label') %}
{% set box_class_value = box_class_value|default('box') %}
{% set box_content_class = box_content_class|default('box__content') %}

{% set box_collapsible = box_collapsible|default(FALSE) %}
{% set box_collapsed = box_collapsed|default(FALSE) %}

{% if box_type %}
  {% set box_type_class = "box--" ~ box_type %}
{% endif %}
{% if box_label_type %}
    {% set box_label_class = "box__label--" ~ box_label_type %}
{% endif %}

{% block box_class %}
<aside{{ attributes.addClass([box_class_value, box_type_class]) }}>
{% endblock %}
    {% if box_collapsible %}
    <collapsible-wrapper enabled="yes" collapsed="{% if box_collapsed %}yes{% else %}no{% endif %}">
    {% endif %}
{% if box_label %}
  <div class="{{ box_label_class }}">
    {{ box_label }}
  </div>
{% endif %}

{% if box_header or  box_header_subtitle %}
  <div class="box__header">
    {% block box_header %}
      {% if box_header %}
        <h2{{ title_attributes.addClass('box__title') }}>{{ box_header |render|striptags|t }}</h2>
      {% endif %}
      {% if box_header_subtitle %}
        <div class="box__subtitle">{{ box_header_subtitle|render|striptags|t }}</div>
      {% endif %}
    {% endblock %}
  </div>
{% endif %}
    {% if box_collapsible %}
        <collapsible-content>
    {% endif %}
      <div class="{{ box_content_class }}">
        {% block box_main %}
          {{ box_main }}
        {% endblock %}
      </div>
    {% if box_collapsible %}
        </collapsible-content>
        <collapsible-icon class="box__toggle"></collapsible-icon>
    </collapsible-wrapper>
    {% endif %}
</aside>
