.carousel {
  &__controls {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 2em;
    right: 0;
    border: 1px solid #ccc;
  }
  &__dots {
    margin-bottom: 0;
    padding-left: 0;
    li {
      display: block;
      float: left;
      position: relative;
      padding: 3px 10px;
      width: 14px;
      height: 21px;
      line-height: 24px;
      button {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 6px;
        border: 1px solid #ccc;
        width: 11px;
        height: 11px;
        font-size: 11px;
        margin-top: -5px;
        margin-left: -5px;
        text-indent: -999em;
        overflow: hidden;
        padding: 0;
      }
      &.slick-active {
        button {
          border-color: #000;
          background-color: #000;
        }
      }
    }
  }

  &__arrows {
    text-align: center;
    background: none;
    border-left: 0;
    border-radius: 0;
  }
  &__arrow {
    background-color: transparent;
    padding: 2px 4px;
    padding-bottom: 1px;
    i {
      width: 0.7rem;
      height: 0.7rem;
    }
  }
  &__next {
    border-left: 1px solid $color-light;
    border-right: 1px solid $color-light;
  }
  &__items {
    margin-left: -10px;
    margin-right: -10px;
  }
  &__item {
    padding: 0 10px;
  }
}
