{#
/**
 * @file
 * carousel
 *
 * Available variables for carousel:
 *    - carousel.variable_name [variable_type]: Description of the variable. Example below.
 *    - carousel.invert [bool]: When set, colors will be inverted for light display on dark background.
 * Usage:
 *
 * {% include @objects/carousel/_carousel.twig %}
 * or:
 * {% include @objects/carousel/_carousel.twig
 *  with {
 *   "bleeding_label_class":  '',
 *   "bleeding_label_styles": '',
 *   "bleeding_label": '',
 *  }
 * %}
 */
#}

<div class="carousel">
  <div class="carousel__controls">
    <div class="carousel__arrows">
    </div>
  </div>
  <div class="carousel__items">
        {% block carousel_items%}
          {% for item in items %}
            <div{{ item.attributes }}>{{ item.content }}</div>
          {% endfor %}
        {% endblock %}
  </div>
</div>
