{#
/**
 * @file
 * styled-tabs-nav-items
 *
 * Available variables for styled-tabs-nav-items:
 *    - styled_tabs_class_name : 'tabs'
#}

{% set styled_tabs_class_name = 'tabs' %}


{% block styled_tabs_nav_item %}
  {% for item in items %}
    <li class="{{ styled_tabs_class_name }}__nav--item">
      <a href="#tab_{{ item.styled_tab_id ?: loop.index }}" class="{{ styled_tabs_class_name }}__nav--item-link{{ styled_tabs_nested ? '-nested' }}">
        {{ item.styled_tab_title }}
      </a>
    </li>
  {% endfor %}
{% endblock styled_tabs_nav_item %}
