// Styles for styled-tabs

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths
$tabcontent_toggled_offset: 1px;
$tabs-color: $color-text;
$subtabs-border-width: 3px;
$subtabs-border-color: #dcdcdc;
$subtabs-border-color-active: $tabs-color;
$subtabs-color-active: $subtabs-border-color-active;

.tabs {
  margin-top: 0.61538em;
  margin-bottom: 0.76923em;
  padding-bottom: 0.76923em;
  .tabs__nav {
    transition: ease-in-out 0.2s;
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    > li {
      list-style: none;
      width: 100%;
      &:first-child {
        a {
          border-top-left-radius: 4px;
          border-right: 1px solid #a3a3a3;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          &.active {
            border-bottom: 0;
          }
        }
      }
      &:last-child {
        a {
          border-right: 1px solid #a3a3a3;
          border-top-right-radius: 4px;
          border-top-left-radius: 0;
          border-left: 0;
          border-bottom-left-radius: 0;
        }
      }
      a {
        color: $tabs-color;
        background-color: #dcdcdc;
        border: 1px solid #a3a3a3;
        border-radius: 4px 4px 0 0;
        text-decoration: none;
        display: block;
        line-height: 24px;
        width: 100%;
        text-align: center;
        &:hover {
          background-color: #c5c5c5;
          transition: all ease-in-out 0.2s;
        }

        &.active {
          background: none;
          border-bottom: 1px transparent;
          &:hover {
            background: none;
          }
        }
      }

      &.active {
        border-bottom-color: transparent;
        background: none;
      }
      &.active {
        > a,
        > a:hover,
        > a:focus {

        }
      }
    }
  }

  .tabs__tab-content {
    width: 100%;
    border-left: 1px solid #a3a3a3;
    border-right: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    border-top: none;
    position: relative;
    top: -$tabcontent_toggled_offset;

    .tabs_tab {
      display: none;
      padding-left: 1.53846em;
      padding-right: 1.53846em;
      padding-bottom: 1.53846em;
      &.active,
      &.alive {
        display: block;
        &.active {
          padding: 0;
        }
      }
      .pane-navigation {
        top: -$tabcontent_toggled_offset;
        position: relative;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        li {}
        a {
          color: $subtabs-color-active;
          text-decoration: none;
          text-transform: uppercase;
          line-height: 22px;
          font-size: 11px;
          font-family: $font-family-condensed;
          font-weight: 400;

        }
      }
    }

    &.active,
    &.alive {
      display: block;
    }
  }

  .general_info {
    padding-top: 1.53846em;
  }

  &-nested {
    transition: max-height ease-in-out 0.2s;
    padding-left: 0;
    display: flex;
    width: 100%;
    margin-bottom: 1.53846em;
    border-bottom: $subtabs-border-width solid $subtabs-border-color;

    // Uncomment if ite,m should not be "full-width"
    /*
    justify-content: flex-start !important;
    */

    li {
      padding-top: 0.76923em;
      text-align: center;
      border-bottom: $subtabs-border-width solid $subtabs-border-color;
      position: relative;
      top: $subtabs-border-width;

      // Uncomment if ite,m should not be "full-width"
      /*
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      */

      a {
        display: inline-block;
        top: $subtabs-border-width;
        position: relative;
        border-bottom: $subtabs-border-width solid $subtabs-border-color;
        &.active,
        &:hover {
          border-bottom: $subtabs-border-width solid $subtabs-border-color-active;
          transition: all ease-in-out 0.2s;
        }
        &.active {
          &:hover {
            border-bottom: $subtabs-border-width solid $subtabs-border-color;
          }
        }

      }
    }
  }
}
