{#
/**
 * @file
 * styled-tabs-content-items
 *
 * Available variables for styled-content-nav-items:
 *    - styled_tabs_class_name : 'tabs'
#}

{% set styled_tabs_class_name = 'tabs' %}

{% block styled_tabs_content_item %}
  {% for item in items %}
    <div id="tab_{{ item.styled_tab_id ?: loop.index }}" class="{{ styled_tabs_class_name }}_tab">
      {{ item.styled_tab_content }}
    </div>
  {% endfor %}
{% endblock styled_tabs_content_item %}
