{% embed '@containers/gallery/_gallery.twig'
with {
    items: document_items,
}
%}
    {% block block_gallery_content %}
        {% include '@containers/document/_document.twig'
        with {
          cover: item.cover,
          document_description: item.document_description,
          document_title: item.document_title,
          document_url: item.document_url,
          document_link_type: 'Report',
          document_link_translation: '<ul class="translation-links"><li class="node_translation_en active first"><a href="/pc/116747?download=true" title="Permanent Council Decision No. 1117" class="translation-link active" hreflang="en" data-nid="116747" data-title="Permanent Council Decision No. 1117" data-language="en">English</a></li>
<li class="node_translation_fr"><a href="/fr/pc/117385?download=true" title="Décision No 1117 du Conseil permanent" class="translation-link" hreflang="fr" data-nid="116747" data-title="Permanent Council Decision No. 1117" data-language="fr">Français</a></li>
<li class="node_translation_de"><a href="/de/pc/117407?download=true" title="Beschluss Nr. 1117 des Ständigen Rates" class="translation-link" hreflang="de" data-nid="116747" data-title="Permanent Council Decision No. 1117" data-language="de">Deutsch</a></li>
<li class="node_translation_it"><a href="/it/pc/117422?download=true" title="Decisione N.1117 del Consiglio permanente" class="translation-link" hreflang="it" data-nid="116747" data-title="Permanent Council Decision No. 1117" data-language="it">Italiano</a></li>
<li class="node_translation_ru"><a href="/ru/pc/117108?download=true" title="Решение № 1117 Постоянного совета" class="translation-link" hreflang="ru" data-nid="116747" data-title="Permanent Council Decision No. 1117" data-language="ru">Русский</a></li>
<li class="node_translation_es"><a href="/es/pc/117450?download=true" title="Decisión Nº 1117 del Consejo Permanente" class="translation-link" hreflang="es" data-nid="116747" data-title="Permanent Council Decision No. 1117" data-language="es">Español</a></li>
<li class="node_translation_uk last"><a href="/uk/pc/225036?download=true" title="Рішення № 1117" class="translation-link" hreflang="uk" data-nid="116747" data-title="Permanent Council Decision No. 1117" data-language="uk">Українська</a></li>
</ul>',
        }
        %}
    {% endblock %}

{% endembed %}
