{% extends '@containers/page/_page.twig' %}
  {% block block_page_leaderboard %}
    {% include '@protons/demo/_f-placeholder.twig'
      with {
      placeholder_height: '20px',
      placeholder_content : 'Leader Board',
    }
    %}
  {% endblock block_page_leaderboard %}

  {% block block_page_socialmedia %}
    {% include '@protons/demo/_f-placeholder.twig'
      with {
      placeholder_height: '50px',
      placeholder_content : 'Social Media',
    }
    %}
  {% endblock block_page_socialmedia %}

  {% block block_site_desktop %}
    {% include '@protons/demo/_f-placeholder.twig'
      with {
      placeholder_height: '50px',
      placeholder_content : 'Desktop',
    }
    %}
  {% endblock block_site_desktop %}

  {% block block_page_banner %}
    {% include '@protons/demo/_f-placeholder.twig'
      with {
      placeholder_height: '50px',
      placeholder_content : 'Banner',
    }
    %}
  {% endblock block_page_banner %}

  {% block block_page_content %}
    {% include '@protons/demo/_f-placeholder.twig'
      with {
      placeholder_height: '50px',
      placeholder_content : 'Content 1', }
    %}

    {% include '@protons/demo/_f-placeholder.twig'
      with {
      placeholder_height: '50px',
      placeholder_content : 'Content 2',
    }
    %}
  {% endblock %}

  {% block block_page_footer %}
    {% include '@protons/demo/_f-placeholder.twig' with { placeholder_height: '120px', placeholder_content : 'Footer 1', } %}
    {% include '@protons/demo/_f-placeholder.twig' with { placeholder_height: '120px', placeholder_content : 'Footer 2', } %}
  {% endblock %}

