// Styles for image

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.osce-figure {
  position: relative;
  &-wrapper {
    position: relative;
    text-align: center;
    margin-bottom: 0.714em;
  }
  &-full {
  }
  &-captioned {
  }
  &-content {
  }
  &-caption {
    line-height: 1.2em;
    text-align: left;
    width: 90%;
    position: relative;
    margin-left: 10%;
    margin-top: -2em;
    background-color: $color-background;
    font-style: italic;
    padding: 0.714em 1.071em;
  }
}

.photo-details-link {
  color: $color-dark;
  font-style: normal;
  font-weight: bold;
  white-space: nowrap;
  font-size: 0.786em;
  line-height: 1.143em;
  text-decoration: none;
  span {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    border-bottom: 2px solid $border-color1;
  }
  &:hover {
    text-decoration: none;
  }
}
