.site {
  &--header--wrapper {
    border-top: 1px solid $color-light;
    border-bottom: 1px solid $color-light;
  }
  &--header {
    position: relative;
    z-index: 12;
    @include page-container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;

    @include breakpoint($breakpoint-desktop) {
      padding: 0;
    }
  }
  &--desktop {
    .site--search {
      width: 29.286em;
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 201;
      background-color: $color-background;
      border: 1px solid $color-light;
      padding: 1.429em 2.143em;
      line-height: 1;
      a {
        margin-top: 1.429em;
        display: block;
        color: $color-text;
        text-decoration: underline;
        text-align: center;
      }
      form {
        position: relative;
        border-bottom: 1px solid $color-light;
        padding-bottom: 1.429em;
      }
      &.expanded {
        display: block;
      }
    }
  }
}
