// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.content-2cols {
  &__image {
    img {
      margin-left: 0;
      margin-bottom: 1em;
    }
    @include span(12 of 12);
  }
  @include breakpoint($breakpoint-tablet) {
    &__image {
      @include span(4 of 12 no-gutter);
    }
  }
  &__content {
    @include span(12 of 12);
  }
  @include breakpoint($breakpoint-tablet) {
    &__content {
      @include span(last 8 of 12);
    }
  }
}
