{#
/**
 * @file
 * content-2cols
 *
 * Available variables for content-2cols:
 *    - content_2cols_image
 *    - content_2cols_main
 */
#}

<div class="content-2cols">
  {{ title_suffix.contextual_links }}
  <div class="content-2cols__image">
    {% block block_content_2cols_image %}
      {{ content_2cols_image }}
    {% endblock block_content_2cols_image %}
  </div>
  <div class="content-2cols__content">
    {% block block_content_2cols_main %}
      {{ content_2cols_main }}
    {% endblock block_content_2cols_main %}
  </div>
</div>
