{#
/**
 * @file
 * bar
  *
 * Available variables for gallery:
 *  bar_content -
 *  bar_content_classes_value -- default: 'bar__content'
 */
#}

{% set bar_classes_value = bar_classes_value|default('bar') %}
{% set bar_classes %}
  {% if bar_classes_value %}
    class="{{ bar_classes_value }}"
  {% endif %}
{% endset %}

{% set bar_content_classes_value = bar_content_classes_value|default('bar__content') %}
{% set bar_content_classes %}
  {% if bar_content_classes_value %}
    class="{{ bar_content_classes_value }}"
  {% endif %}
{% endset %}

<div {{ bar_classes }}>
  <div{{ bar_content_classes }}>
    {% block block_bar_content %}
      {{ bar_content }}
    {% endblock %}
  </div>
</div>
