// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.bar {
  border-top: 1px solid $color-dark;
  border-bottom: 1px solid $color-dark;
  line-height: 1.5rem;
  padding: 1em 0 0.857em 0;
  position: relative;
  &:before {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    content: '';
    display: block;
    height: 0.5em;
    @include striping;
  }
  &--no-border {
    border-top: 0;
    border-bottom: 0;
  }
  /*
  & > * > * {
    margin-bottom: $column-spacing/4;
  }
  */

  @include breakpoint(54em) {
    & > * {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.357em;
    }
    & > * > * {
      margin-bottom: 0;
    }
  }
  & + & {
    &:before {
      display: none;
    }
    border-top: none;
    padding-top: 0.643em;
  }
  &__content {
    font-size: 0.75rem;
  }
  // bar layout variations
  &-2cols {
    .bar__content {
      div {
        &:nth-child(2) {
          margin-left: auto;
          margin-right: 0;
          text-align: right;
          @include breakpoint(864px, $no-query: true) {
            text-align: left;
            margin-right: 1em;
          }
        }

        &:nth-child(3) {
          margin-right: 0;
          text-align: right;
          margin-top: 10px;
          @include breakpoint(864px, $no-query: true) {
            margin-top: 0;
          }
        }
      }
    }
  }
  &-align-right {
    .bar__content {
      justify-content: flex-end;
      .last-item {
        margin-left: 1em;
      }
    }
  }
}

// placeholder
.f-placeholder {
  border: 1px dashed $box-border;
  background: transparentize($color-admin-blue, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-clip: content-box;
  &__content {
    font-weight: bold;
    color: white;
    font-style: italic;
    margin: 0 1em;
  }
}
