// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.document {
  font-size: 0.875rem;
  display: flex;
  border-top: 1px solid $color-dark;
  border-left: 1px solid $color-dark;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  &__cover {
    margin-right: $column-spacing/2;
    img {
      max-width: none;
    }
  }
  &__cover--empty {
    width: 75px;
    border: 1px solid #acacac;
    padding-bottom: 100px;
    background: transparent;
    background: linear-gradient(
      -45deg,
      transparent 45%,
      #b1b1b1 45%,
      #b1b1b1 55%,
      transparent 55%
    );
    background-size: 0.46154em 0.46154em;
  }
  &__infos {
  }
  &__title {
    font-weight: bold;
    font-family: $font-family-sans-serif;
  }
  &__description {
    flex: 1;
    color: $color-dark;
  }
  &__link {
    color: inherit;
  }
  &__extra-info {
    margin-top: 0.5rem;

    span {
      color: $color-dark;
      width: auto;
      font-size: 0.812rem;
      line-height: 1.4em;
      border: 1px solid $border-color2;
      padding: 0 0.2rem;
      border-radius: 0.25rem;
    }
  }
}
