{#
/**
 * @file
 * author-date-info
 *
 * Available variables for author-date-info:
 *      - credit_label
 *      - credit
 *      - id_label
 *      - id
 *      - author_label
 *      - author
 *      - author_date_label
 *      - author_date
 *
 *
 */
#}
  <div class="author-info">
    {% if credit_label or credit %}
      <span class="credit">
        {% if credit_label %}
          <span class="credit-label">{{ credit_label | t  }}:</span>
        {% endif %}
        {% if credit%}
          <span class="credit-text">{{ credit | t  }}</span>
        {% endif %}
      </span>
    {% endif %}

    {% if id_label or id %}
      <span class="id">
        {% if id_label%}
          <span class="id-label">{{ id_label | t  }}:</span>
        {% endif %}
        {% if id %}
          <span class="id-text">{{ id | t  }}</span>
        {% endif %}
      </span>
    {% endif %}

    {% if author_label or author %}
      <span class="author">
        {% if author_label %}
          <span class="author-label">{{ author_label | t }}:</span>
        {% endif %}
        {% if author %}
          <span class="author">{{ author | t  }}</span>
        {% endif %}
      </span>
    {% endif %}

    {% if author_date_label or author_date %}
      <span class="date">
        {% if author_date_label %}
          <span class="date-label">{{ author_date_label | t  }}:</span>
        {% endif %}
        {% if author_date %}
          <span class="date-display-single">{{ author_date | t  }}</span>
        {% endif %}
      </span>
    {% endif %}
  </div>

