// Styles for author-date-info

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.author-info {
  margin-top: 1em;
}
.author-label,
.credit-label,
.id-label,
.date-label {
  color: $meta-nav-color;
}
.author-date {
  margin-top: 1em;
}
.credit,
.id,
.author {
  margin-right: 2em;
}
