// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.language-switcher {
}

// OSCE language dropdown component

.osce-language-trigger {
  font-weight: bold;
  color: $color-blue;
}
.osce-language-switch {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  padding-left: 1em;
  margin-bottom: 0;
  text-align: right;
  border-left: 1px solid $color-light;

  @include breakpoint(0 $breakpoint-tablet) {
    border: none;
  }
  &:before {
    content: '';
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    margin-right: 0.5em;
    background: url('images/multilingual.png') left center no-repeat;
    width: 43px;
    height: 25px;
    /*
    background: url('images/multilingual_small_colored.png') left center no-repeat;
    width: 30px;
    height: 18px;
    */
  }
  li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;

    &.active {
      position: relative;

      & > a {
        color: $color-blue;
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        border-left-color: transparent !important;
        border-width: 6px 6px;
        border-style: solid;
        border-top-color: $color-dark;
        bottom: -24px;
        left: 50%;
        margin-left: -6px;
        margin-top: 1.1em;
      }
      &:after {
        border-top-color: $color-background;
        bottom: -23px;
      }
    }
    a {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      zoom: 1;
      //line-height: 23px;
      font-size: 0.75rem;
      padding: 0 0.7rem;
      padding-left: 0.3rem;
      text-decoration: none;
      border-right: 1px solid $color-lighter;

      &.active {
        color: $color-blue;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &:last-child {
      a {
        border-right: none;
      }
    }
  }
  &-wrapper {
    > & {
      @include breakpoint(0 $breakpoint-tablet) {
        border: none;
      }
    }

    .osce-language-switch-dropdown {
      display: none;
    }
    &.expanded {
      position: relative;

      @include breakpoint(0 $breakpoint-tablet) {
        margin: 0 0 -13px -30px;
      }
      ul {
        @include breakpoint(0 $breakpoint-tablet) {
          display: block;
          float: none;
        }
      }
      .osce-language-switch-dropdown {
        display: inline-block;
        z-index: 199;
        position: absolute;
        top: 0;
        left: -12px;
        right: 0;
        margin-top: 24px;
        margin-bottom: 0;
        padding: 20px 0 0 0;
        background: $color-background;
        border-right: 1px solid $color-light;
        border-bottom: 1px solid $color-light;
        border-left: 1px solid $color-light;

        @include breakpoint(0 $breakpoint-tablet) {
          z-index: 1;
          position: relative;
          clear: both;
          width: 100%;
          margin: 0 -14px 0 0;
          background: $color-lighter;
          border: none;
        }
        &:before {
          display: none;
        }
        li {
          display: block;
          text-align: center;
          padding: 0;

          @include breakpoint(0 $breakpoint-tablet) {
            display: block;
            width: 33%;
            float: left;
            font-size: 13px;
          }
          &:last-child {
            @include breakpoint(0 $breakpoint-tablet) {
              width: 100%;
              text-align: right;
            }
          }
          a {
            display: block;
            width: 80%;
            margin: 0 10%;
            border: none;

            &.osce-language-dropdown-close {
              margin-top: 10px;
              padding: 10px 0;
              border-top: 1px solid $color-lighter;
              color: #000;

              span {
                text-decoration: underline;
              }
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    a,
    a:active,
    a:hover {
      outline: none;
    }
  }
}
.pane-lang-switch {
  display: flex;
  align-items: center;
  border-left: 1px solid $background-color1;
  padding-left: 18px;
  padding-right: 5px;
  cursor: pointer;
  &.expanded {
    .svgicon__language-dropdown-trigger {
      transform: rotate(180deg);
    }
  }
  @include breakpoint(0 $breakpoint-tablet) {
    display: block;
    text-align: left;
  }
}
