{% embed '@containers/teaserlist/_teaserlist.twig'
with {
  items: teaser_items,
}
%}
  {% block block_teaser_list %}
    {% embed '@containers/teaser/_teaser.twig'
    with {
      teaser_image: item.teaser_image,
      teaser_url: item.teaser_url,
    }
    %}
      {% block block_teaser_image %}
        {{ teaser_image }}
      {% endblock %}
      {% block block_teaser_main %}
        {% if item.teaser_title | render %}
          {% include "@objects/headlines/_headlines.twig"
            with {
            heading_level: '2',
            heading_content: item.teaser_title,
            heading_class: 'teaser__title',
          }
          %}
        {% endif %}
        {% if item.teaser_text | render %}
          <div class="teaser__text">
          {{ item.teaser_text|t }}
          </div>
        {% endif %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
