{% include '@containers/section/_section.twig' %}

{# Section with no top border, title, header or label #}
{% embed '@containers/section/_section.twig'
  with {
  section_label: false,
  section_title: false,
  section_header: false,
  section_border: false
} %}
{% endembed %}