{% set section_main = TRUE %}

{% embed '@containers/section/_section.twig' %}
    {% block section_main %}
        {% include '@objects/_quote.twig' %}
    {% endblock %}
{% endembed %}

{% embed '@containers/section/_section.twig'
    with {
    section_title: 'Quote simple',
}
%}
    {% block section_main %}
        {% include '@objects/_quote.twig' with {
            quote_autor: FALSE,
            quote_autor_position: FALSE,
            quote_description: FALSE
        } %}
    {% endblock %}
{% endembed %}

{% embed '@containers/section/_section.twig'
    with {
    section_title: 'Quote with photo',
}
%}
    {% block section_main %}
        {% include '@objects/_quote.twig' with {
            quote_prefix: '<img src="https://www.osce.org/files/imagecache/10_large_gallery/f/images/hires/9/f/400679.JPG?1540273963" alt="" title="" width="940" height="508" />'
        } %}
    {% endblock %}
{% endembed %}

{% embed '@containers/section/_section.twig'
    with {
    section_title: 'Quote in copy text',
}
%}
    {% block section_main %}
    <p>
        Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    </p>
        {% include '@objects/_quote.twig' with {
            quote_align: 'right'
        } %}
    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <p>
        Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    </p>

    {% endblock %}
{% endembed %}
