{#
/**
 * @file
 * more
 *
 * Available variables for more:
 *    - readmore_class_name
 *    - readmore_url
 *    - readmore_text
 *    - readmore_apply_to_text [bool]: When set, only the first paragraph of current container is shown.
 *    - hide_link
 */
#}
{% set readmore_class_name = readmore_class_name|default('more') %}
{% if readmore_type %}
  {% set readmore_class_name = readmore_class_name ~ " more--" ~ readmore_type %}
{% endif %}
{% if readmore_apply_to_text %}
  {% set readmore_class_name = readmore_class_name ~ " more--apply-to-text" %}
{% endif %}
{% if  hide_link == 'yes' %}
  <div class="{{ readmore_class_name }}">{{ readmore_text }}{% include '@elements/svgicon/_svgicon.twig' with {svgname: 'triangle-right', svg_class: 'readmore',} %}{{ external_link_title }}</div>
{% else %}
  {% if readmore_url %}
    <a href="{{ readmore_url }}" class="{{ readmore_class_name }}">{{ readmore_text }}{% include '@elements/svgicon/_svgicon.twig' with {svgname: 'triangle-right', svg_class: 'readmore',} %}{{ external_link_title }}</a>
  {% endif %}
{% endif %}
