// All component Sass needs non-printing base config
@import '../../00-protons/variables';
.more,
.more__wrapper a {
  display: inline-block;
  padding-top: 0.286rem;
  padding-right: 0.571rem;
  padding-bottom: 0.238rem;
  padding-left: 0.571rem;
  color: $color-highlight;

  border-radius: $border-radius;
  border: 1px solid $color-highlight;
  text-transform: uppercase;
  font-weight: bold;
  @include focus {
    background: $color-highlight;
    color: $color-background;
    text-decoration: none;
    svg,
    g,
    circle,
    ellipse,
    line,
    path,
    polygon,
    polyline,
    rect,
    text {
      fill: $color-background;
    }
  }

  &--small {
    padding-top: 0.186rem;
    padding-right: 0.471rem;
    padding-bottom: 0.138rem;
    padding-left: 0.471rem;
    font-size: 0.75rem;
  }
  /*
  .showmore {
    margin-left: 0.5em;
    vertical-align: 0;
  }
  */
  // More link visibility and placement is controlled via javascript.
  &--apply-to-text {
    display: none;
  }
}
.svgicon__readmore {
  display: inline-block;
  vertical-align: baseline;
  overflow: hidden;
  margin-left: 0.5em;
  svg,
  g,
  circle,
  ellipse,
  line,
  path,
  polygon,
  polyline,
  rect,
  text {
    fill: $color-highlight;
    width: auto;
    max-width: 100%;
    max-height: 9px;
    height: auto;
  }
}
