// All component Sass needs non-printing base config
@import '../../00-protons/variables';

%tabses {
  color: green;
  &__link {
    display: block;
    padding: 0.3em 1em;
    color: $color-highlight;
    background: $color-background;
    border-radius: $border-radius;

    @include focus {
      background: lighten($color-highlight, 40%);
      text-decoration: none;
    }

    &.is-active {
      background: $color-highlight;
      color: $color-background;
      @include focus {
        background: darken($color-highlight, 20%);
      }
    }
  }

  &__item {
    display: inline-block;
    margin-right: 0.5em;
  }
}

.tabs {
  .tabs {
    &__link {
      display: block;
      padding: 0.3em 1em;
      color: $color-highlight;
      background: $color-background;
      border-radius: $border-radius;

      @include focus {
        background: lighten($color-highlight, 40%);
        text-decoration: none;
      }

      &.is-active {
        background: $color-highlight;
        color: $color-background;
        @include focus {
          background: darken($color-highlight, 20%);
        }
      }
    }

    &__item {
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}
