{#
/**
 * @file
 * tabs
 *
 * Available variables for tabs:
 *    - tabs_class
 *    - tab_item_class
 *    - tab_item_link_class
 *    - tab_title
 *    - tab_url
 *    - entity_is_published
 */
#}

{% set tabs_class_name = "tabs reset" %}
{% set tab_item_class_name = "tabs__item" %}
{% set tab_item_link_class_name = "tabs__link reset" %}
{% set tabs_class %}class="{{ tabs_class_name }}"{% endset %}
{% set tabs_status_class = entity_is_published ? "tab__node_status--published" : "tab__node_status--unpublished" %}
{% set tabs_status = entity_is_published ? "Published"|t : "Unpublished"|t %}

<ul {{ tabs_class }}>
    {% for tab in tabs %}
        {% if tab.tab_is_active %}
            {% set tab_item_link_class %}class="{{ tab_item_link_class_name }} is-active"{% endset %}
        {% else %}
            {% set tab_item_link_class %}class="{{ tab_item_link_class_name }}"{% endset %}
        {% endif %}
        {% set tab_item_class %}
            {% if tab.tab_is_active %}
                class="{{ tab_item_class_name }} is-active"
            {% else %}
                class="{{ tab_item_class_name }}"
            {% endif %}
        {% endset %}

        {% if  tab.tab_status %}
            <li class="tabs__item tab__node_status {{ tabs_status_class }}">{{ tabs_status }}</li>
        {% else %}
            <li {{ tab_item_class }}>
                <a {{ tab_item_link_class }} href="{{ tab.tab_url }}">{{ tab.tab_title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
