{% embed '@layouts/_site-navigation.twig' %}
    {% block block_site_navigation %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '100px',
            'placeholder_width': '100%',
            'placeholder_content': 'Site navigation',
        }
        %}
    {% endblock block_site_navigation %}
{% endembed %}
