// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.section {
  padding: 1.3rem 0 0 0;
  position: relative;

  &:before {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    content: '';
    display: block;
    height: 0.5rem;
  }

  &__label {
    display: inline-block;
    text-transform: uppercase;
    background: $color-lighter;
    font-weight: bold;
    font-size: 0.9em;
    padding: 0.3em 0.5em 0.2em 0.5em;
  }

  &__title {
    margin-bottom: 0;
  }

  &__header {
    a {
      color: $color-highlight;
    }
    margin-top: 0.3em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content > * {
    margin-top: 0.5em;
  }
}

.section--bordered {
  border-top: 1px solid $color-dark;
  &:before {
    @include striping;
  }
}
