{#
/**
 * @file
 * teaserlist
 *
#}
<div class="teaser__list reset">
  {% for key, item in items %}
    <li class="teaser__list--item">
      {% block block_teaser_list %}
        {{ teaser_list }}
      {% endblock %}
    </li>
  {% endfor %}
</div>
