// Styles for teaserlist

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.teaser {
  &__list {
    .location {
      color: $color-light;
      margin-top: 0.357em;
    }
  }
  &__list--item {
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px dotted $border-color1;
    &:first-child {
      border-top: 1px solid $border-color1;
      padding-top: 1em;
      margin-top: 0.5em;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  &__list--item-link {
    color: inherit;
    display: inline-flex;
  }
}
// If site banner show border for last item
.site--banner {
  .teaser {
    &__list--item {
      &:last-child {
        border-bottom: 1px dotted $border-color1;
      }
    }
  }
}
