// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.messages {
  margin-bottom: 1em;
  .messages {
    a {
      color: inherit;
      text-decoration: underline;
    }

    &__type {
      padding: 0.7em 1em;
      border-radius: $border-radius;
      &--error {
        color: #8f2629;
        background: #ffdcdf;
      }

      &--warning {
        color: #b76c00;
        background: #fff2c7;
      }

      &--status {
        color: #0f5605;
        background: #e0f5b7;
      }
    }

    &__item:not(:last-child) {
      margin-bottom: 0.3em;
    }
  }
}
