{#
/**
 * @file
 * dark-menu
 *
 * Available variables for dark-menu:
 *    - dark-menu_title
 *    - collapsible-wrapper-id
 *    - collapsible-wrapper-enabled
 *    - collapsible-wrapper-disabled
 *    - collapsible-wrapper-collapsed
 *    - collapsible-icon-id
 *    - collapsible-content-id
 *    - collapsible-content-opacity
 *    - collapsible-content-height
 */
#}


{% set collapsible_wrapper_id = collapsible_wrapper_id|default('wrapper-2') %}
{% set collapsible_wrapper_enabled = collapsible_wrapper_enabled|default('yes') %}
{% set collapsible_wrapper_disable = ccollapsible_wrapper_disable|default('screen and (min-width: 30em)') %}
{% set collapsible_wrapper_collapsed = collapsible_wrapper_collapsed|default('yes') %}
{% set collapsible_wrapper_collapsed = collapsible_wrapper_collapsed|default('yes') %}
{% set collapsible_icon_id = collapsible_icon_id|default('toggle-2') %}
{% set collapsible_content_id = collapsible_content_id|default('content-2') %}
{% set collapsible_content_opacity = collapsible_content_opacity|default('1') %}
{% set collapsible_content_height = collapsible_content_height|default('auto') %}


<collapsible-wrapper id="{{ collapsible_wrapper_id }}"
                 enabled="{{ collapsible_wrapper_enabled }}"
                 disable="{{ collapsible_wrapper_disable }}"
                 collapsed="{{ collapsible_wrapper_collapsed }}" class="box box--dark">

    <div class="box__header">
        <h2>{{ dark_menu_title }}</h2>
        <collapsible-icon id="{{ collapsible_icon_id }}" class="box__toggle"></collapsible-icon>
    </div>

  <collapsible-content id="{{ collapsible_content_id }}" class="box__content" style="{{ collapsible_content_opacity }}; height: {{ collapsible_content_height }}">
      {% include '@objects/menu/_menu.twig' %}
  </collapsible-content>


</collapsible-wrapper>
