{% embed '@layouts/site-header/_site-header.twig' %}
    {% block block_site_header %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '100px',
            'placeholder_width': '100%',
            'placeholder_content': 'Site header',
        }
        %}
    {% endblock block_site_header %}
{% endembed %}