<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/png" href="{{ paths.assets }}/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="{{ paths.assets }}/favicons/favicon-32x32.png" sizes="32x32">



		<style>
			.sg-pattern-example,
			.sg-subtype,
			.sg-pattern-head {
				padding-left: 10px !important;
				padding-right: 10px !important;
			}
			.sg-subtype h2 {
				font-family: 'Open Sans', sans-serif;
				display: inline-block;
			}
			.sg-subtype h2:first-letter {
				text-transform: uppercase;
			}

			#objects-taglink-white .sg-pattern-example {
				background-color: #222222;
				padding: 10px;
			}

		</style>
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->

    {% if env == 'production' %}
    <link rel="stylesheet" href="{{ paths.assets }}/app.styles.css?cacheBuster={{ random() }}">
    {% endif %}

		<style>
			.pl {
				display: block;
			}
			.spinner {
				width: 40px;
				height: 40px;

				position: relative;
				margin: 100px auto;
				display: none;
			}

			.double-bounce1, .double-bounce2 {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: #333;
				opacity: 0.6;
				position: absolute;
				top: 0;
				left: 0;

				-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
				animation: sk-bounce 2.0s infinite ease-in-out;
			}

			.double-bounce2 {
				-webkit-animation-delay: -1.0s;
				animation-delay: -1.0s;
			}

			@-webkit-keyframes sk-bounce {
				0%, 100% {
					-webkit-transform: scale(0.0)
				}
				50% {
					-webkit-transform: scale(1.0)
				}
			}

			@keyframes sk-bounce {
				0%, 100% {
					transform: scale(0.0);
					-webkit-transform: scale(0.0);
				}
				50% {
					transform: scale(1.0);
					-webkit-transform: scale(1.0);
				}
			}

			.pl-loading .spinner {
				display: block;
			}
		</style>

  </head>
	<body class="{{ bodyClass }}">
