{#
/**
 * @file
 * _bleeding-label
 *
 * Available variables for bleeding-label:
 *    - bleeding_label.variable_name [variable_type]: Description of the variable. Example below.
 *    - bleeding_label.invert [bool]: When set, colors will be inverted for light display on dark background.
 *    - bleeding_label_style: Your style
 *    - bleeding_label : 'Label text'
 *    - bleeding_label_class : 'bleeding-label'
 *    - bleeding_label_content: 'Your content'
 * Usage:
 *
 * {% include @objects/bleeding-label/_bleeding-label.twig
 *  with {
 *   bleeding_label_class:  '',
 *   bleeding_label_style: '',
 *   bleeding_label: '',
 *   bleeding_label_content: 'Your content',
 *  }
 * %}
 */
#}
{% include '@objects/bleeding-label/_bleeding-label.twig'
    with {
    bleeding_label: 'This is a label',
}
%}
