// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.external-link {
  .svgicon {
    color: $color-highlight;
    display: inline-block;
    vertical-align: middle;
    svg,
    g,
    circle,
    ellipse,
    line,
    path,
    polygon,
    polyline,
    rect,
    text {
      fill: $color-highlight;
      width: auto;
      max-width: 100%;
      max-height: 0.9em;
      height: auto;
    }
  }
}
