// Styles for slider

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.slider {
  position: relative;

  &__arrow {
    @include breakpoint(832px) {
      width: 2em;
      height: 3em;
    }

    font-size: 2em;
    margin-top: -1.5em;
    position: absolute;
    top: 50%;
    color: $color-background;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 2em;
    cursor: pointer;

    @include focus {
      background: rgba(0, 0, 0, 0.8);
    }
  }

  &__prev,
  &__next {
    z-index: 120;
    span {
      display: inline-block;
      width: 2rem;
      max-width: 100%;
      max-height: 2rem;
      overflow: hidden;
      text-indent: -9999px;
    }
  }

  &__prev {
    left: 0;
    border-radius: 0 0.3em 0.3em 0;
    span {
      @include sprite('chevron-left', (color: $color-background));
    }
  }

  &__next {
    right: 0;
    border-radius: 0.3em 0 0 0.3em;
    span {
      @include sprite('chevron-right', (color: $color-background));
    }
  }

  &__dots {
    @extend %reset;
    position: absolute;
    bottom: 2em;
    width: 100%;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 0.2em;

      button {
        @include hide-text;
        width: 1.5em;
        height: 1.5em;
        background: rgba(0, 0, 0, 0.7);

        @include focus {
          background: $color-darker;
        }
      }

      &.slick-active {

        button {
          background: $color-meta;
        }
      }
    }
  }
}
.slider--default {

  .slider__arrow {
    margin-top: -2.5em;
  }
}

.slider--default-nav {

  &.slick-active {
    border: 2px solid $color-meta;
  }

  &__arrow {
    height: 100%;
    width: 30px;
    position: absolute;
    color: $color-background;
    background: black;
    cursor: pointer;
  }

  &__prev,
  &__next {
    border-radius: 0;
    top: 0;
  }

  &__prev {
    border-right: 2px solid white;
    span {
      @include sprite('triangle-left', (color: $color-background));
    }
  }

  &__next {
    border-left: 2px solid white;
    span {
      @include sprite('triangle-right', (color: $color-background));
    }
  }

  .osce-figure-wrapper {
    margin-bottom: 0;
  }

  .slick-slide {
    position: relative;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;

    &.slick-current {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom: 6px solid $color-meta;
      }
    }
  }
}
.embedded--node--photo_gallery {
  margin-bottom: 1rem;
}
