{#
/**
 * @file
 *slider
 *
 * Usage:
 *
 * {% include @objects/slider/_slider.twig
 * with {
 * slider_type: 'default',
 * }
 * %}
 */
#}

{% set slider_type = slider_type|default('default')%}
{% set slider_class %}class="slider slider--{{ slider_type }}"{% endset %}
<div class="slider-wrapper">
    <div {{ slider_class }}>
        {% block slider_nav_items %}
            {% for key, item in items if key|first != '#' %}
                {# If we pass paragraph items we need to render them directly #}
                {% if item.figure_image %}
                    {% include '@objects/image/_image.twig'
                        with {
                        figure_image: item.figure_image,
                        figure_type: item.figure_type,
                        figure_image_detail_url: item.figure_image_detail_url,
                        figure_caption: item.figure_caption,
                        figure_type: item.figure_type,
                        figure_link: item.figure_link,
                    }
                    %}
                {% else %}
                    {{ item }}
                {% endif %}
            {% endfor %}
        {% endblock %}
    </div>
    <div class="slider-nav slider--default-nav">
        {% for key, item in items_thumbs if key|first != '#' %}
            {% if item.figure_image %}
                {% include '@objects/image/_image.twig'
                    with {
                    figure_image: item.figure_image,
                    figure_type: item.figure_type,
                }
                %}
            {% else %}
                {{ item }}
            {% endif %}
        {% endfor %}
    </div>
</div>
