// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.subscribe-box {
  position: relative;

  &:before {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    content: '';
    display: block;
    height: 0.5rem;
  }

  .subscribe-box__title {
    margin-bottom: 0;
  }

  .subscribe-box__subtitle {
    margin: 0.5em 0 1em;
  }
}

.subscribe-box--bordered {
  padding: 1.3rem 0 0 0;
  border-top: 1px solid $color-dark;

  &:before {
    @include striping;
  }
}
