// Styles for highlight

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.highlight {
  font-size: 0.929em;
  display: block;
  border-top: 1px solid $color-dark;
  border-left: 1px solid $color-dark;
  padding-top: $column-spacing/2.5;
  padding-left: $column-spacing/2.5;
  &__image {
    margin-right: $column-spacing/2.5;
    img {
      max-width: 100%;
      height: auto;
    }
    display: block;
    clear: both;
    position: relative;
  }
  &__image--empty {
    width: 100%;
    border: 1px solid #acacac;
    padding-bottom: 80px;
    background: transparent;
    background: linear-gradient(
      -45deg,
      transparent 45%,
      #b1b1b1 45%,
      #b1b1b1 55%,
      transparent 55%
    );
    background-size: 0.46154em 0.46154em;
  }
  &__icon {
    position: absolute;
    color: white;
    background: transparentize($color-darker, 0.3);
    font-size: 2em;
    padding: 0.2em;
    border-radius: $border-radius;
    right: 0.3em;
    bottom: 0;
    margin-bottom: 0.3em;
  }
  &__title {
    margin-top: 0.3em;
    font-weight: bold;
    font-family: $font-family-sans-serif;
  }
  &__description {
    margin-top: 0.1em;
    font-family: $font-family-condensed;
    color: $color-text-light;
  }
  &__link {
    display: block;
    color: inherit;
  }
  &__extra-info {
    width: 100%;
    margin-left: 7.265em;
  }
}
