{#
/**
 * @file
 * social-medias
 *
 * Available variables for social-media:
 *    - network.name
 *    - network.icon
 *    - network.url
 *
 * Usage:
 * {% include '@objects/social-media/_social-media-follow-source.twig' %}
 */
#}
{% extends '@elements/grid/_grid-1-up.twig' %}
{% set container = true %}
{% block column_1 %}
    {% include '@objects/social-media/_social-media-follow-source.twig' %}
{% endblock column_1 %}
