{#
/**
 * @file
 * social-medias
 *
 * Available variables for social-media:
 *    - follow_us_networks
 *      - name
 *      - icon
 *      - url
 *
 * Usage:
 * {% include '@objects/social-media/_social-media-follow-us.twig' %}
 */
#}

{% extends '@elements/grid/_grid-1-up.twig' %}
{% set container = true %}
    {% block column_1 %}
      {% include '@objects/social-media/_social-media-follow-us.twig' %}
    {% endblock column_1 %}
