// All component Sass needs non-printing base config
@import '../../00-protons/variables';
//
$logo-osce-width: 308px;
$logo-osce-height: 33px;
$logo-osce-mobile-width: 128px;

$logo-polis-width: 266px;
$logo-polis-height: 33px;

$logo-bmsc-width: 177px;
$logo-bmsc-height: 40px;

$logo-odihr-width: 150px;
$logo-odihr-height: 85px;

$logo-rfom-width: 150px;
$logo-rfom-height: 80px;

$logo-aarhus-width: 519px;
$logo-aarhus-height: 55px;
$logo-aarhus-width-logo-only: 250px;

.logo {
  display: block;
  @include hide-text();
}

.logo--osce {
  background-image: url(/images/logo_osce/EN/logo_en_mobile.png);
  background-repeat: no-repeat;
  width: $logo-osce-mobile-width;
  height: $logo-osce-height;
  @include breakpoint($breakpoint-retina) {
    background-image: url(/images/logo_osce/EN/logo_en_mobile@2x.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  @include breakpoint($breakpoint-desktop) {
    background-image: url(/images/logo_osce/EN/logo_en.png);
    background-repeat: no-repeat;
    width: $logo-osce-width;
    height: $logo-osce-height;
    @include breakpoint($breakpoint-retina) {
      background-image: url(/images/logo_osce/EN/logo_en@2x.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
  }
}
// Multilingual version of the OSCE logo

:lang(de) .logo--osce {
  background-image: url(/images/logo_osce/DE/logo_de_mobile.png);
  @include breakpoint($breakpoint-retina) {
    background-image: url(/images/logo_osce/DE/logo_de_mobile@2x.png);
  }
  @include breakpoint($breakpoint-desktop) {
    background-image: url(images/logo_osce/DE/logo_de.png);
    @include breakpoint($breakpoint-retina) {
      background-image: url(images/logo_osce/DE/logo_de@2x.png);
    }
  }
}

:lang(en) .logo--osce {
  background-image: url(images/logo_osce/EN/logo_en_mobile.png);
  @include breakpoint($breakpoint-retina) {
    background-image: url(images/logo_osce/EN/logo_en_mobile@2x.png);
  }
  @include breakpoint($breakpoint-desktop) {
    background-image: url(images/logo_osce/EN/logo_en.png);
    @include breakpoint($breakpoint-retina) {
      background-image: url(images/logo_osce/EN/logo_en@2x.png);
    }
  }
}

:lang(es) .logo--osce {
  background-image: url(images/logo_osce/ES/logo_es_mobile.png);
  @include breakpoint($breakpoint-retina) {
    background-image: url(images/logo_osce/ES/logo_es_mobile@2x.png);
  }
  @include breakpoint($breakpoint-desktop) {
    background-image: url(images/logo_osce/ES/logo_es.png);
    @include breakpoint($breakpoint-retina) {
      background-image: url(images/logo_osce/ES/logo_es@2x.png);
    }
  }
}

:lang(fr) .logo--osce {
  background-image: url(images/logo_osce/FR/logo_fr_mobile.png);
  @include breakpoint($breakpoint-retina) {
    background-image: url(images/logo_osce/FR/logo_fr_mobile@2x.png);
  }
  @include breakpoint($breakpoint-desktop) {
    background-image: url(images/logo_osce/FR/logo_fr.png);
    @include breakpoint($breakpoint-retina) {
      background-image: url(images/logo_osce/FR/logo_fr@2x.png);
    }
  }
}

:lang(it) .logo--osce {
  background-image: url(images/logo_osce/IT/logo_it_mobile.png);
  @include breakpoint($breakpoint-retina) {
    background-image: url(images/logo_osce/IT/logo_it_mobile@2x.png);
  }
  @include breakpoint($breakpoint-desktop) {
    background-image: url(images/logo_osce/IT/logo_it.png);
    @include breakpoint($breakpoint-retina) {
      background-image: url(images/logo_osce/IT/logo_it@2x.png);
    }
  }
}

:lang(ru) .logo--osce {
  background-image: url(images/logo_osce/RU/logo_ru_mobile.png);
  @include breakpoint($breakpoint-retina) {
    background-image: url(images/logo_osce/RU/logo_ru_mobile@2x.png);
  }
  @include breakpoint($breakpoint-desktop) {
    background-image: url(images/logo_osce/RU/logo_ru.png);
    @include breakpoint($breakpoint-retina) {
      background-image: url(images/logo_osce/RU/logo_ru@2x.png);
    }
  }
}

.logo--polis {
  background: url(images/logo_polis.png) no-repeat;
  width: $logo-polis-width;
  height: $logo-polis-height;
}

.logo--odihr {
  background: url(images/logo_odihr.jpg) no-repeat;
  width: $logo-odihr-width;
  height: $logo-odihr-height;
}

.logo--rfom {
  background: url(images/logo_rfom.png) no-repeat;
  width: $logo-rfom-width;
  height: $logo-rfom-height;
}

.logo--aarhus {
  background: url(images/logo_aarhus.png) no-repeat;
  width: $logo-aarhus-width;
  height: $logo-aarhus-height;
  margin-top: -6px;
  @include breakpoint(0 $breakpoint-desktop) {
    margin-top: -30px;
    margin-bottom: -20px;
  }
  @include breakpoint(0 $breakpoint-tablet) {
    width: $logo-aarhus-width-logo-only;
  }
}

.logo--bmsc {
  background: url(images/logo_bmsc.png) no-repeat;
  width: $logo-bmsc-width;
  height: $logo-bmsc-height;
}

.logo--cio {
  display: block;
  background-repeat: no-repeat;
  background-size: auto 100%;
  &.logo--cio--2018 {
    background-image: url(images/logo_cio/2018/logo_018_cio.png);
    width: 158px;
    height: 72px;
  }
  &.logo--cio--2017 {
    background-image: url(images/logo_cio/2017/logo_017_cio.png);
    width: 220px;
    height: 57px;
  }
  &.logo--cio--2016 {
    background-image: url(images/logo_cio/2016/logo_016_cio.png);
    width: 200px;
    height: 74px;
  }
  &.logo--cio--2015 {
    background-image: url(images/logo_cio/2015/logo_015_cio.png);
    width: 200px;
    height: 61px;
  }
}

.logo--chairmanship--2019 {
  background-image: url(images/chairmanship_logo_2019.png);
  width: 200px;
  height: 68px;
}

.logo--chairmanship--2020 {
  background-image: url(images/chairmanship_logo_2020.png);
  width: 200px;
  height: 68px;
}
.logo--chairmanship--2021 {
  background-image: url(images/chairmanship_logo_2021.svg);
  background-size: 200px auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #fff;

  width: 210px;
  height: 65px;
}
