{% include '@containers/teaser/_teaser.twig'
    with {
    teaser_title: 'Arms Control',
    teaser_image: '<img src="https://www.osce.org/files/imagecache/40_xsmall/f/images/hires/6/0/179051.JPG?1517409607" alt="Clean Water and Sanitation">',
    teaser_main: 'Ensure access to affordable, reliable, sustainable and modern energy for all Energy is central to nearly every major challenge and opportunity the world faces today.Ensure access to affordable, reliable, sustainable and modern energy for all Energy is central to nearly'
    }
%}
<br><br>
{% include '@containers/teaser/_teaser.twig'
    with {
    teaser_image: '<img src="https://www.osce.org/files/imagecache/40_xsmall/f/images/hires/6/0/179051.JPG?1517409607" alt="Clean Water and Sanitation">',
    teaser_main: 'Ensure access to affordable, reliable, sustainable and modern energy for all Energy is central to nearly every major challenge and opportunity the world faces today.Ensure access to affordable, reliable, sustainable and modern energy for all Energy is central to nearly',
    teaser_title: 'Arms Control',
    teaser_type: 'intended'
}
%}
<br><br>
{% include '@containers/teaser/_teaser.twig'
    with {
    teaser_main: 'This teaser has no image, but still an intended title. So it needs to have some white space instead of the image.',
    teaser_title: 'Intended teaser without image',
    teaser_type: 'intended'
}
%}
