{% include '@containers/teaser/_teaser.twig'
with {
teaser_main: 'Ensure access to affordable, reliable, sustainable and modern energy for all Energy is central to nearly every major challenge and opportunity the world faces today. Ensure access to affordable, reliable, sustainable and modern energy for all Energy is central to nearly every major challenge and opportunity the world faces today'
  }
%}
