{% include '@containers/_card.twig' %}
<hr>
<h2>Multiple cards</h2>

{% set card_full %}
  {% include '@containers/card/_card.twig' with {
    card_image: '<img src="https://www.osce.org/files/imagecache/00_xlarge/f/images/hires/4/e/376519.jpg?1522315472" alt="" />',
    card_title: 'My title',
    card_description: '<p>Some quick example text to build on the card title and make up the bulk of the card\'s content.</p>',
    card_url: 'https://www.example.com'
  }
  %}
{% endset %}

{% set items = [
    include('@containers/card/_card.twig'),
    include('@containers/card/_card.twig'),
    include('@containers/card/_card.twig'),
    card_full,
    include('@containers/card/_card.twig'),
] %}

{% include '@containers/gallery/_gallery.twig' with { gallery_card_layout: TRUE } %}


