.call2action,
.call2action__wrapper a {
  background: $color-highlight none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 3em;
  margin-top: 1em;
  padding: 0 1em;
  text-transform: uppercase;
  vertical-align: middle;
  @include focus {
    text-decoration: underline;
  }
}
