{#
/**
 * @file
 * form
 *
 * Available variables for form:
 *    -
 */
#}
{% include '@elements/forms/_fieldset.twig' %}

<hr>

<fieldset>
  <legend>Inline form elements in a fieldset</legend>
  {% include '@elements/forms/_input.twig'
    with {
    placeholder_value: 'Placeholder',
    label: 'Name',
    children: '',
  }
  %}
  {% include '@elements/button/_button.twig'
    with {
    button_txt: 'Button',
  }
  %}
  <input type="submit" class="button" value="Submit Button"/>
  <a href="#" class="button">Link Button</a>
  <input type="checkbox" class="form-checkbox" id="checkbox"/><label for="checkbox">Checkbox</label>
  <input type="radio" class="form-checkbox" name="groupName" id="radio1" /><label>Radio 1</label>
</fieldset>

<fieldset class="form">
  <legend>Textarea</legend>
{% include '@elements/forms/_textarea.twig' %}
</fieldset>
<fieldset class="form">
  <legend>Select elements</legend>
  <div class="table">
    <div class="form__item">
      <label class="form__label">Test A</label>
      <div class="form__input">
        <select is="selectize-simple" name="">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
      </div>
    </div>
    <div class="form__item">
      <label class="form__label">Test B</label>
      <div class="form__input">
        <select is="selectize-simple" name="" id="" multiple="multiple">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
      </div>
    </div>
  </div>
</fieldset>
