// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.form {
  &__item--inline {
    display: flex;
    .form__label {
      flex-grow: 0;
      margin-right: 0.5em;
    }
    .form__input {
      flex-grow: 1;
    }
  }

  &__label {
    white-space: nowrap;
  }

  &__input > * {
    width: 100%;
  }
  &__description {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: $color-light;
  }

  &__actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    & > * {
      flex: 1;
    }
    & > *:not(:first-child) {
      margin-right: 0.5em;
    }
  }

  @include breakpoint($breakpoint-tablet) {
    &__actions > * {
      flex-basis: auto;
      flex-grow: 0;
    }
  }
}
