{#
/**
 * @file
 * quote
 *
 * Available variables for quote:
 *    - quote : Description of the variable.
 *    - quote_align : Leave empty, 'left' or 'right' to float text around the quote.
 *    - quote_type : Leave empty (='quote') or 'info' for an info-box
#}

<blockquote class="widget-{% if quote_type %}{{ quote_type }}{% else %}quote{% endif %}{% if quote_align %} widget-{{ quote_align }}{% endif %}">
  {{ quote_prefix }}
  <p class="text">{{ quote_quote }}</p>
  {% if quote_autor %}
    <p class="author">
      <strong class="name">{{ quote_autor }}</strong>
      <em class="description">{{ quote_autor_position }}
      {% if quote_description %}
      <br />
      {{ quote_description }}
      {% endif %}
      </em>
    </p>
  {% endif %}
</blockquote>
