// Styles for quote

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths
@import '../widget/_widget_mixins';
$widget-padding: 1.5rem !default;
.widget-quote {
  @extend %blockquote-widget;
  font-size: 1.2em;
  @include clearfix;
  .osce-figure-caption {
    font-size: $font-size-base;
    font-style: normal;
  }
  .text {
    font-style: italic;
    position: relative;
    padding-bottom: 5px;
    &:before, &:after {
      font-size: 92px;
      content: '\201C';
      font-family: Arial, Helvetica, sans-serif;
      color: $color-highlight;
      line-height: 0;
      font-style: normal;
    }
    &:before {
      position: relative;
      top: 48px;
      content: '\201c';
      margin-left: -14px;
    }
    &:after {
      content: '\201d';
      position: absolute;
      bottom: -26px;
      right: 0;
    }
    &:last-child{
      margin-bottom: 32px;
      &:after {
        bottom: -38px;
      }
    }
  }

  .author {
    margin: 0 $widget-padding $widget-padding $widget-padding;
    font-weight: normal;
    font-style: normal;
    &:before {
      display: none;
    }
    .name {
      display: inline-block;
      padding-top: 0.5em;
      border-top: 1px solid $color-text;
      font-weight: normal;
    }
    .description {
      display: block;
      font-style: normal;
      font-size: 0.875rem;
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .widget-left,
  .widget-right {
    width: 40%;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .widget-left {
    float: left;
    margin-right: 1em;
  }

  .widget-right {
    float: right;
    margin-left: 1em;
  }
}
