// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.teaser {
  display: flex;
  &__image {
    margin-right: 1em;
    flex: 180px 0 0;
    min-height: 20px;
    //width: 25%;
    img {
      max-width: 180px;
      width: 100%;
      height: auto;
    }
  }
  &__content {
    flex-grow: 1;
  }
  &__title {
    font-weight: bold;
    font-family: $font-family-sans-serif;
    font-size: 0.929em;
    margin-bottom: 0;
  }
  &__title--intended {
    position: relative;
    display: block;
    padding: 0 0 0.3em 0.5em;
    background: #fff;
    left: -4em;
  }
}

.more__teaser {
  margin-top: 0.76923em;
}
