{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
    {% if items %}

    {# Add wrapper_classes array to style our unordered list below. #}
    {% set wrapper_classes = [
      'navbar-nav',
      'mr-auto',
    ] | sort | join(' ') | trim %}

    {% if menu_level == 0 %}
    <ul{{ attributes.addClass(wrapper_classes) }}>
      {% else %}
      <ul class="{{ wrapper_classes }}">
        {% endif %}

        {% for item in items %}

          {# Sync Drupal and Bootstrap's active state classes. #}
          {% set item_classes = [
            item.in_active_trail ? 'active',
          ] %}

          {#  Include our pre-built Nav Items from Particle.
              See particle/source/_patterns/02-objects/nav/_nav-item.twig. #}
          {% include '@objects/nav/_nav-item.twig' with {
            nav_item_element: 'li',
            nav_item_classes: item_classes,
            nav_item_link: item.url,
            js_attributes: item.attributes,
            nav_item_text: item.title,
          } %}

          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}

        {% endfor %}
      </ul>
      {% endif %}
{% endmacro %}
