// Styles for audio

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.audio {
  margin-bottom: 1em;
}
// Set the OEmbed iframe width to 100%
.media-oembed-content {
  width: 100%;
}