.diashow {
  position: relative;

  &__arrow {
    font-size: 2em;
    width: 2em;
    height: 3em;
    margin-top: -1.5em;
    position: absolute;
    top: 50%;
    color: $color-background;
    background: rgba(0, 0, 0, 0.5);
    @include focus {
      background: rgba(0, 0, 0, 0.8);
    }
    .svgicon {
      display: inline-block;
      svg,
      g,
      circle,
      ellipse,
      line,
      path,
      polygon,
      polyline,
      rect,
      text {
        fill: $color-background;
        width: 2rem;
        max-width: 100%;
        max-height: 2rem;
        height: auto;
      }
    }
  }

  &__prev {
    left: 0;
    border-radius: 0 0.3em 0.3em 0;
  }

  &__next {
    right: 0;
    border-radius: 0.3em 0 0 0.3em;
  }

  &__dots {
    @extend %reset;
    position: absolute;
    bottom: 2em;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 0.2em;
      button {
        @include hide-text;
        width: 1.5em;
        height: 1.5em;
        background: rgba(0, 0, 0, 0.7);
        @include focus {
          background: $color-darker;
        }
      }
      &.slick-active {
        button {
          background: $color-meta;
        }
      }
    }
  }
}
