{% include '@objects/download.twig'
    with {
    file_name: 'OSCE-Document.pdf',
    svgname: 'download',
    file_title: 'OSCE Document',
    url: 'http://example.com/OSCE-Document.pdf',
    mime: 'application/pdf',
    download_label: 'English',
    langcode: 'en',
    size: '314Kb',
    target: '_blank',
    download_icon_before: 'true',
} %}

{% include '@objects/download.twig'
    with {
    file_name: 'OSCE-Document.ppt',
    svgname: 'mail',
    file_title: 'OSCE Document',
    url: 'http://example.com/OSCE-Document.ppt',
    mime: 'x-office-presentation',
    language: 'English',
    download_label: 'Confidential',
    langcode: 'en',
    size: '1.44MB',
    target: '_blank',
    class: 'is-requestable',
    download_icon_before: 'true',
} %}

{% include '@objects/download.twig'
    with {
    file_name: 'OSCE-Document.pdf',
    svgname: 'cancel',
    file_title: 'OSCE Document',
    url: 'http://example.com/OSCE-Document.pdf',
    mime: 'application/pdf',
    language: 'English',
    download_label: 'OSCE-Leaks',
    langcode: 'en',
    size: '3.14MB',
    target: '_blank',
    class: 'is-closed',
    download_icon_before: 'true',
} %}

{% include '@objects/download.twig'
    with {
    file_name: 'OSCE-Document.pdf',
    svgname: 'download',
    file_title: 'OSCE Document Light',
    url: 'http://example.com/OSCE-Document.pdf',
    download_label: 'Download light',
    langcode: 'en',
    target: '_blank',
    class: 'download--light',
    download_icon_after: 'true',
    download_icon_before: 'false',
    icon_border: 'true',
} %}

{% include '@objects/download.twig'
    with {
    file_name: 'OSCE-Document.pdf',
    svgname: 'download',
    file_title: 'SMM Report',
    url: 'http://example.com/OSCE-Document.pdf',
    download_label: 'This document is very important',
    langcode: 'en',
    size: '314Kb',
    target: '_blank',
    class: 'download--bold',
    download_icon_after: 'true',
    download_icon_before: 'false',
    icon_border: 'true',
} %}
