{% extends '@elements/grid/_grid-1-up.twig' %}
  {% set container = true %}
  {% block column_1 %}

  {#  Button #}
      {% include '@elements/button/_button.twig' %}

  {# Button with font icon #}
      {#
            {% include '@elements/button/_button.twig'
            with {
            button_txt: 'Button with font icon',
            button_icon_name: 'cog',
            }
            %}
      #}

  {# Button with svg icon #}
      {% include '@elements/button/_button.twig'
      with {
      button_txt: 'Button with svg icon',
      button_icon_name: 'search',
      svg_icon: 'true',
      }
     %}
  {%  endblock %}
