// Styles for sdg-icons

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.sdg {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__list--item {
    margin-right: 0.714em;
    padding-bottom: 0.714em;
    &:last-child {
      margin-right: 0;
    }
    img {
      max-width: none;
    }
  }
  &__list--icon {
    width: 5.5rem;
    height: 5.5rem;
    text-indent: -9999px;
    overflow: hidden;
  }
  &__list--item-link {
    color: inherit;
    display: inline-flex;
  }
}
