.figure {
  &__caption {
    font-size: 0.8em;
    position: relative;
    padding: 0.5em 0.8em;
    background: $color-background;
    margin-left: 15%;
    margin-top: -3em;
    min-height: 3em;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-family-sans-serif;
      color: $color-text;
    }
  }

  &__content img {
    width: 100%;
    height: auto;
  }

  &__content--empty {
    width: 100%;
    border: 1px solid #acacac;
    padding-bottom: 180px;
    background: transparent;
    background: linear-gradient(
      -45deg,
      transparent 45%,
      #b1b1b1 45%,
      #b1b1b1 55%,
      transparent 55%
    );
    background-size: 0.46154em 0.46154em;
  }

  &__description {
    font-family: $font-family-condensed;
    font-size: 1.12em;
    color: $color-text-light;
  }

  &__icon {
    position: absolute;
    color: white;
    background: transparentize($color-darker, 0.3);
    font-size: 2em;
    padding: 0.2em;
    border-radius: $border-radius;
    right: 0.3em;
    bottom: 100%;
    margin-bottom: 0.3em;
  }

  &__type {
    display: inline-block;
    color: $color-dark;
    width: auto;
    font-size: 0.812rem;
    line-height: 1.4em;
    border: 1px solid $border-color2;
    padding: 0 0.2rem;
    border-radius: 0.25rem;
  }
}
