{#
/**
 * @file
 * figure
 *
 * Available variables for figure:
 *    - main
 *    - caption
 *    - title
 *    - description
 *    - icon
 *    - url
 *    - type
*/
#}
<div {{ attributes.addClass('figure') }}>
  {{ title_suffix.contextual_links }}
  {% if figure_url %}
    <a href="{{ figure_url }}" class="figure__link">
  {% endif %}
  <div class="figure__content{% if not figure_image | render %} figure__content--empty{% endif %}">
    {% block figure_main %}
      {{ figure_image }}
    {% endblock %}
  </div>
  {% if figure_caption | render or figure_title or figure_description or figure_type %}
    <div class="figure__caption">
      {% if figure_icon %}
        {% include '@elements/svgicon/_svgicon.twig' with {svgname: figure_icon, svg_class: 'figure-caption-icon',} %}
      {% endif %}
      {% block figure_caption %}
        {{ figure_caption }}
      {% endblock %}
      {% if figure_title %}
        <h3 class="figure__title">{{ figure_title }}</h3>
      {% endif %}
      {% if figure_description %}
          <div class="figure__description">
            {{ figure_description }}
          </div>
      {% endif %}
      {% if figure_type %}
        <div class="figure__type">
          {{ figure_type }}
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% if figure_url %}
    </a>
  {% endif %}
</div>
