{#
/**
 * @file
 * metadata-list
 *
 * Available variables for metadata-list:
 *    - meta_data_extra_class
 *    - items
 *      - meta_data_txt
 *      - meta_data_icon
 *      - meta_data_type_modifier
 *
#}
{% if meta_data_list == 'type' %}
  {% set meta_data_extra_class = ' metadata-type' %}
{% endif %}
<ul class="metadata-list reset{{ meta_data_extra_class }}">
  {% for item in items %}
    {% if loop.last %}
      {% set metadata_list_class = ' is-last' %}
      {% elseif loop.first %}
        {% set metadata_list_class = ' is-first' %}
    {% endif %}
    {% if item.meta_data_type_modifier %}
      {% set metadata_list_item_class = ' metadata-list__item--' ~ item.meta_data_type_modifier %}
    {% endif %}
  {% if item.meta_data_icon|render and item.meta_data_txt|render %}
    <li class="metadata-list__item{{ metadata_list_class }}{{ metadata_list_item_class }}">
      {% block block_meta_data_list %}
        {% include '@elements/svgicon/_svgicon.twig'
          with {
          svgname: item.meta_data_icon,
          svg_class: 'meta-data-list',
        }
        %}
        {{ item.meta_data_txt }}
      {% endblock block_meta_data_list %}
    </li>
  {% endif %}
  {% endfor %}
</ul>