// Styles for metadata-list

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.metadata-list {
  &.metadata-type {
    text-transform: uppercase;
  }
  &__item {
    display: inline-block;
    margin-right: 0.714em;
    font-weight: bold;
    border-right: 1px solid $border-color1;
    padding-right: 1em;
    line-height: 1;
    &.is-last {
      padding-right: 0;
      border-right: 0;
    }
    a {
      color: $color-text;
    }
  }
}
.svgicon__meta-data-list {
  display: inline-block;
  vertical-align: sub;
  svg {
    height: 13px;
    fill: $color-text;
    //stroke: $color-text;
  }
}
