// Styles for card

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.card {
  border: 1px solid #b0b0b0;
  border-radius: 0.3em;
  padding: 1em;
  background: $color-background;
  @include clearfix;
  height: 100%;
  vertical-align: bottom;

  &__title {
    font-family: $font-family-sans-serif;
    font-size: 0.875rem;
  }

  &__image,
  &__title,
  &__description {
    margin-bottom: 0.5rem;
  }

  &__icon {
    height: 1rem;
    width: 1rem;
    color: lighten($color-dark, 10%);
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    float: left;
  }
}
