{% embed '@layouts/site-top/_site-top.twig' %}
    {% block block_site_top %}
        {% include '@protons/demo/_f-placeholder.twig'
            with {
            'placeholder_height': '100px',
            'placeholder_width': '100%',
            'placeholder_content': 'Site top',
        }
        %}
    {% endblock %}
{% endembed %}