// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.listing {
  & > * {
    border-top: 1px dashed $color-light;
    padding-top: 1em;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  .teaser__image {
    width: 25%;
  }
}

.listing--light {
  h3 {
    font-weight: normal;
  }
}