{#
/**
 * @file
 * report-download
 *
 * Available variables for report-download:
 *    - report: The contents of a download field (e.g. content.field_report[0]['#fields'])
 *    - report_label: Optional way to override the download button label.
 *    - report_appendix_1: The contents of a download field (e.g. content.field_report[0]['#fields'])
 *    - report_appendix_1_label: Optional way to override the download button label.
 *    - report_appendix_2: The contents of a download field (e.g. content.field_report[0]['#fields'])
 *    - report_appendix_2_label: Optional way to override the download button label.
 *
#}

{# We center the appendix if only one is uploaded #}
{% set single_appendix_download = false %}
{# If no report is uploaded we need to fall back to the legacy layout #}
{% set legacy_download = false %}

{% if (report_appendix_1 is empty) or (report_appendix_2 is empty) %}
    {% set single_appendix_download = true %}
{% endif %}
{% if report is not empty %}
    {% set appendix_class = "download--light" %}
{% endif %}

<div class="report-download">
    {% if report %}
        <div class="report-download--top">
            {% include '@objects/download.twig'
                with {
                file_name: report.file_name,
                svgname: 'download',
                file_title: report.file_title,
                url: report.url,
                download_label: report_label ? report_label : report.file_title,
                langcode: report.langcode,
                size: report.size,
                target: '_blank',
                class: 'download--bold',
                download_icon_after: 'true',
                download_icon_before: 'false',
                icon_border: 'true',
            } %}
        </div>
    {% endif %}

    {% if report_appendix_1 or report_appendix_2 %}
        <div class="report-download--bottom">
            {% if report_appendix_1 %}
                <div class="{% if not single_appendix_download %}report-download--left{% elseif not legacy_download %}report-download--single{% endif %}">

                    {% include '@objects/download.twig'
                        with {
                        file_name: report_appendix_1.file_name,
                        svgname: 'download',
                        file_title: report_appendix_1.file_title,
                        url: report_appendix_1.url,
                        download_label: report_appendix_1_label ? report_appendix_1_label : report_appendix_1.file_title,
                        langcode: report_appendix_1.language,
                        target: '_blank',
                        class: appendix_class,
                        download_icon_after: 'true',
                        download_icon_before: 'false',
                        icon_border: 'true',
                    } %}
                </div>
            {% endif %}

            {% if report_appendix_2 %}
                <div class="{% if not single_appendix_download %}report-download--right{% elseif not legacy_download %}report-download--single{% endif %}">
                    {% include '@objects/download.twig'
                        with {
                        file_name: report_appendix_2.file_name,
                        svgname: 'download',
                        file_title: report_appendix_2.file_title,
                        url: report_appendix_2.url,
                        download_label: report_appendix_2_label ? report_appendix_2_label : report_appendix_2.file_title,
                        langcode: report_appendix_2.language,
                        target: '_blank',
                        class: appendix_class,
                        download_icon_after: 'true',
                        download_icon_before: 'false',
                        icon_border: 'true',
                    } %}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>