// Styles for report-download
.report-download {
  &--top,
  &--left,
  &--right,
  &--single {
    margin-bottom: 1rem;
  }


  @include breakpoint($breakpoint-desktop) {
    & {
      max-width: 80%;
      margin: 0 auto;
    }
    &--bottom {
      display: flex;
    }
    &--left,
    &--right,
    &--single {
      flex: 1;
    }
    &--left {
      border-right: 1px dotted $box-border;
      padding-right: 1rem;
    }
    &--right {
      padding-left: 1rem;
    }
  }
}