{% extends '@containers/bar/_bar.twig' %}
    {% block block_bar_content %}
        {% include '@protons/demo/_f-placeholder.twig'
        with {
        'placeholder_height': '40px',
        'placeholder_width': '120px',
        'placeholder_content': '01 01 dummy.',
        }
        %}
        {% include '@protons/demo/_f-placeholder.twig'
        with {
        'placeholder_height': '20px',
        'placeholder_width': '200px',
        'placeholder_content': 'Something in the middle.',
        }
        %}
        {% include '@protons/demo/_f-placeholder.twig'
        with {
        'placeholder_height': '30px',
        'placeholder_width': '150px',
        'placeholder_content': 'And thats the end..',
        }
        %}
    {% endblock %}
