{#
/**
 * @file
 * taglink
 *
 * Available variables for taglink:
 *    -
 */
#}

<ul class="masonry reset">
  {% for row in rows %}
    {% set classes = [
      row.root ? 'taglink taglink--highlighted' : 'taglink',
      row.color ? 'taglink--' ~ row.color : '',
    ]
    %}
    <li class="masonry__item">
      <a class="{{ classes | join(' ') }}" href="{{ row.link }}">{{ row.label }}</a>
    </li>
  {% endfor %}
</ul>
