// All component Sass needs non-printing base config
@import '../../00-protons/variables';

// masonry - todo: put masonry css somewhere else.
.masonry {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 0 0;
  &__item {
    display: inline-flex;
    margin: 0 8px 8px 0;
  }
}

@mixin taglink($color-dark, $color-light) {
  color: $color-dark;
  background: $color-light;
  @include focus {
    background: $color-dark;
    color: $color-light;
  }
}

.taglink {
  white-space: nowrap;
  padding: 0.6em;
  border-radius: $border-radius;

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include focus {
    text-decoration: none;
  }

  &--highlighted {
    font-weight: bold;
  }

  @include taglink($color-highlight, $color-background);

  &--blue {
    @include taglink($color-blue, $color-blue-light);
  }

  &--red {
    @include taglink($color-red, $color-red-light);
  }
  &--green {
    @include taglink($color-green, $color-green-light);
  }

  &--yellow {
    @include taglink($color-yellow, $color-yellow-light);
  }

  &--black {
    @include taglink($color-black, $color-black-light);
  }
  &--white {
    @include taglink(white, transparent);
    border: 1px solid white;
    padding: 3px 5px 3px 5px;
    &:hover {
      background-color: transparent;
      color: white;
      text-decoration: underline;
    }
  }
}
