{% include '@containers/_highlight.twig'
    with {
    highlight_image: highlight_items.1.highlight_image,
    highlight_description: highlight_items.1.highlight_description,
    highlight_title: highlight_items.1.highlight_title,
    highlight_url: highlight_items.1.highlight_url,
    highlight_icon: 'camera',
}
%}

<hr />

{% embed '@containers/gallery/_gallery.twig'
    with {
    items: highlight_items,
}
%}
    {% block block_gallery_content %}
        {% include '@containers/highlight/_highlight.twig'
            with {
            highlight_image: item.highlight_image,
            highlight_icon: item.highlight_icon,
            highlight_description: item.highlight_description,
            highlight_title: item.highlight_title,
            highlight_url: item.highlight_url,
        }
        %}
    {% endblock %}
{% endembed %}
