// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.languages-dropdown {
}
// OSCE language dropdown component
.osce-language-trigger {
  font-weight: bold;
  color: $color-blue;
}
.osce-language-switch-need-dropdown {
  display: flex;
  align-items: center;
  border-left: 1px solid $background-color1;
  border-right: 1px solid $background-color1;
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
  &.expanded {
    .svgicon__language-dropdown-trigger {
      transform: rotate(180deg);
    }
  }
  @include breakpoint(0 $breakpoint-tablet) {
    display: block;
    text-align: left;
  }
}
.site--top {
  .osce-language-switch-need-dropdown {
    &:hover,
    &.expanded {
      background-color: $background-color1;
    }
  }
}
