{#
/**
 * @file
 * languages-dropdown
 */
#}
<ul class="osce-language-switch osce-language-switch-need-dropdown">
  <li class="osce-language-dropdown-trigger">
    <a href="#" is="language-link" id="showLanguages" class="osce-language-trigger">{{ "more languages"|t }}{% include '@elements/svgicon/_svgicon.twig' with {svgname: 'triangle-down',svg_class: 'language-dropdown-trigger',} %}</a>
  </li>
</ul>
