// Page background color.
//$color-background: #FFF;

// Text color.
//$color-text: #222;

// Buttons, links, active elements.
$color-highlight: #0968a8;

// Logo, navigation elements, labels.
$color-meta: #5183c8;

// "Black" UI elements. Dark boxes, overlays ...
//$color-darker: #22211f;

// Dark borders.
//$color-dark: #626262;

// Light borders
//$color-light: #C0C0C0;

// Light shaded ui elements. Light boxes, page sections.
//$color-lighter: #EBEBEB;

// Messaging and status colors.
//$color-error: #8f2629;
//$color-warning: #b76c00;
//$color-ok: #0f5605;

// Arbitrary coloring:
// Currently used for "keyword" (_taglink.scss) styles. Naming bound
// to the field configuration on keyword fields in POLIS.
//$color-blue: #00478B;
//$color-blue-light: #d6dff3;

//$color-red: #FF9045;
//$color-red-light: #ffe7de;

//$color-green: #457B9D;
//$color-green-light: #ced8ec;

//$color-yellow: #4d8f39;
//$color-yellow-light: #cce7c7;

//$color-black: #222222;
//$color-black-light: #C0C0C0;
