// Page background color.
$color-background: #fff;

// Text color.
$color-text: #222;

// Buttons, links, active elements.
$color-highlight: #457b9d;

// Logo, navigation elements, labels.
$color-meta: #457b9d;

// "Black" UI elements. Dark boxes, overlays ...
$color-darker: #22211f;

// Dark borders.
$color-dark: #626262;

// Light borders
$color-light: #c0c0c0;

// Light shaded ui elements. Light boxes, page sections.
$color-lighter: #ebebeb;

// Messaging and status colors.
$color-error: #8f2629;
$color-warning: #b76c00;
$color-ok: #0f5605;

// Arbitrary coloring:
// Currently used for "keyword" (_taglink.scss) styles. Naming bound
// to the field configuration on keyword fields in POLIS.
$color-blue: #00478b;
$color-blue-light: #d6dff3;

$color-red: #ff9045;
$color-red-light: #ffe7de;

$color-green: #457b9d;
$color-green-light: #ced8ec;

$color-yellow: #4d8f39;
$color-yellow-light: #cce7c7;

$color-black: #222222;
$color-black-light: #c0c0c0;
