*,
*:before,
*:after {
  box-sizing: border-box;
}

*::-moz-focus-inner {
  border: none;
  padding: 0;
}

body {
  font-family: $font-family-sans-serif;
  //font-size: 0.875em;
  font-size: $font-size-base;
  background-color: $color-background;
  color: $color-text;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
table {
  margin-bottom: 0.8em;
  &:last-child {
    margin-bottom: 0;
  }
}
