// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
// webpack.particle.dev.js: sass-loader.data|includePaths

// Bootstrap override variables go here.
// See available vars in ~bootstrap/scss/_variables.scss, i.e.
//$input-bg
//$form-text-margin-top

// Custom forms rules go here
fieldset {
  border: 0.1em solid $color-light;
  border-radius: $border-radius;
  background: $color-lighter;
  margin-left: 0;
  margin-right: 0;
}

legend {
  font-family: $font-family-condensed;
  font-weight: bold;
  color: $color-dark;
}

textarea,
input,
button,
select {
  font-size: 1em;
  font-family: $font-family-sans-serif;
  border-radius: $border-radius;
  border: none;
  margin: 0;
  max-width: 100%;
  vertical-align: middle;
}

select {
  appearance: none;
}

textarea {
  resize: vertical;
  width: 100%;
}

label {
  line-height: $form-element-height;
  font-weight: bold;
  vertical-align: middle;
}
label.option {
  line-height: $form-element-height;
  font-weight: normal;
  vertical-align: middle;
}

// todo: breaks triangle, fix somehow
input:checked + label {
  color: $color-highlight;
}

%text-input {
  border: 1px solid $color-light;
  background: $color-background;
  color: $color-dark;

  &.error {
    border-color: red;
  }
  @include focus {
    border-color: $color-dark;
    color: $color-darker;
  }
}

.form-text,
.form-tel {
  @extend %text-input;
  padding: 0 0.5em;
  height: $form-element-height;
}

.form-textarea {
  @extend %text-input;
  padding: 0.5em;
}

.form-checkboxes {
  display: flex;
  flex-wrap: wrap;
  & > * {
    margin: 0 0.8em 0em 0;
    flex-basis: auto;
  }
}

.form__label {
  display: none;
}

.login-box,
.subscribe-box form.subscribe-box__form {
  .form__label {
    display: none;
  }

  /*.form__description {
    @include hide;
  }*/

  .form__item {
    margin-bottom: 0.5em;
  }

  .form__actions > * {
    flex: 1;
  }

  @include breakpoint($breakpoint-tablet) {
    display: flex;

    .form__item,
    .form__actions {
      margin-bottom: 0;
      flex-basis: auto;
    }

    .button {
      flex-basis: auto;
    }

    & > *:not(:last-child) {
      flex-grow: 1;
      margin-right: 0.5em;
    }
  }
}
.search-box {
  display: flex;

  .form__item {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    margin-bottom: 0;
  }

  .form__actions > * {
    flex-basis: auto;
    flex-grow: 0;
  }

  .form__input {
    flex-grow: 1;
    flex-basis: auto;
  }

  .form-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  .form__label {
    flex-basis: auto;
    flex-grow: 0;
    white-space: nowrap;
    margin-right: 0.5em;
  }

  .form__description {
    @include hide;
  }

  .form__item + * {
    flex-basis: auto;
    flex-grow: 0;
  }

  .button {
    flex-basis: auto;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  // Below 1 page column, hide label and button text.
  &[max-width='#{$column-width}'] {
    .form__label {
      display: none;
    }
    .button span {
      display: none;
    }
  }
}

.site--footer {
  .subscribe-box {
    margin-bottom: 3em;
  }
}
