// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
// webpack.particle.dev.js: sass-loader.data|includePaths

// Use this file for any global layout rules you want applied after
// Bootstrap's Reboot does it's thing, but don't necessarily fit into
// another pattern here.
//
// @see https://v4-alpha.getbootstrap.com/content/reboot/

html {
  height: 100%; // IE11 sticky footer workaround.
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; // avoid IE11 min-height bug.
  overflow-x: hidden;
}

main {
  display: block; // IE11 fix ~ http://stackoverflow.com/a/26207036
  flex: 1 0 auto; // "flex: 1;" breaks IE11.
}

hr {
  margin: 3rem 0;
}

footer {
  // defined here for IE positioning
  flex-shrink: 0;
}
