ul,
ol {
  margin-top: 0;
}

dl {
  font-size: 1.2em;
  margin-top: 0;
  font-family: $font-family-condensed;
  @include clearfix;
}

dt,
dd {
  float: left;
  break-before: always;
  margin-bottom: 0.5em;
}

dt {
  clear: left;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.3em;
  &:after {
    content: ':';
  }
}

dd {
  margin-left: 0;
}
