img {
  display: block;
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
}

table {
  width: 100%;
  border: 1px solid $color-light;
  padding: 0.5em 2em 0.5em 1em;
  background: $color-background;
  border-radius: 0.3em;
}

th {
  text-align: left;
  font-size: 1.1em;
}

th,
td {
  border-top: 1px dotted $color-light;
}

table > tr:first-child,
thead tr {
  th,
  td {
    border-top: none;
  }
}

td,
th {
  padding: 0.5em 0;
}

.table {
  @include breakpoint($breakpoint-tablet) {
    display: table;
    width: 100%;
    &--no-border {
      border: 0;
      padding: 0;
    }
    & > * {
      display: table-row;
    }
    & > * > * {
      display: table-cell;
      padding: 0 0.5em 1em 0.5em;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      vertical-align: top;
      & + * {
        width: 100%;
      }
    }
  }
}
