hr {
  display: block;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  border-top: 1px solid $spacer-color;
  &.dashed {
    border-top: 1px dashed $spacer-color;
  }
  &.dotted {
    border-top: 1px dotted $spacer-color;
  }
  &.invisible {
    border: none;
  }
}
