@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,
  700,
  400italic,
  700italic|Open+Sans+Condensed:300,
  700|Merriweather:700&subset=latin,
  cyrillic');

h1,
h2,
h3 {
  font-family: $font-family-serif;
}

h1 {
  font-size: 1.786em;
  margin-top: 0.5em;
  margin-bottom: 0.286em;
  line-height: 1.071em;

  @include breakpoint(800px, $no-query: true) {
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.286em;
    line-height: 1.071em;
  }
}

h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
}

//h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
p {
  line-height: 1.75;
}

a {
  color: $color-highlight;
  text-decoration: none;
  @include focus {
    text-decoration: underline;
  }

  @media print {
    &:after {
      content: ': ' attr(href);
    }
  }

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & {
    color: inherit;
    &:after {
      display: none;
    }
  }
}

a.no-highlight,
.no-highlight a {
  color: inherit;
}

.text-align-center {
  text-align: center;
}

// Text modifiers for Main Content region
.page__content,
.site--content {
  h1 + h2 {
    margin-top: -0.8em;
    font-family: $font-family-sans-serif;
    font-size: 1em;
    font-weight: normal;
  }
}

// Text modifiers for Footer region
.page__footer,
.site--footer {
  h2 {
    font-family: $font-family-sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.7em;
    //text-transform: uppercase;
  }
  font-size: 1rem;
}

// Text modifier for archived content
.page__content--archive,
.site--content--archive {
  .body__content {
    //@TODO: Re-enable this image.
    // background-image: url(../images/archived.png);
    background-repeat: repeat-y;
    @include opacity(0.5);
  }
}

// Table fixes for vacancy_html
.body__content--vacancy table,
.body__content--vacancy table tr,
.body__content--vacancy table tr td {
  empty-cells: hide;
  border: 0px;
  padding: 0;
  margin: 0;
  background: none;
}
