@font-face {
  font-family: 'HK Grotesk Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HKGrotesk-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'HK Grotesk Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HKGrotesk-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'HK Grotesk Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HKGrotesk-Light.otf') format('opentype');
}

@font-face {
  font-family: 'HK Grotesk Light Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HKGrotesk-LightItalic.otf') format('opentype');
}
/*
@font-face {
  font-family: 'HK Grotesk Medium';
  font-style: normal;
  font-weight: normal;
  src: local('HK Grotesk Medium'), url('../fonts/HKGrotesk-Medium.woff') format('woff');
}

@font-face {
  font-family: 'HK Grotesk Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('HK Grotesk Medium Italic'), url('../fonts/HKGrotesk-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'HK Grotesk SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('HK Grotesk SemiBold'), url('../fonts/HKGrotesk-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'HK Grotesk SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('HK Grotesk SemiBold Italic'), url('../fonts/HKGrotesk-SemiBoldItalic.woff') format('woff');
}
*/
@font-face {
  font-family: 'HK Grotesk Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HKGrotesk-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'HK Grotesk Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HKGrotesk-BoldItalic.otf') format('opentype');
}

// Cyrillic
@font-face {
  font-family: 'HK Grotesk Bold Cyrillic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HKGroteskBulgarian-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'HK Grotesk Light Cyrillic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HKGroteskBulgarian-Light.otf') format('opentype');
}

@font-face {
  font-family: 'HK Grotesk Medium Cyrillic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HKGroteskBulgarian-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'HK Grotesk Regular Cyrillic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HKGroteskBulgarian-Regular.otf') format('opentype');
}
