{#
/**
 * @file
 * files
 *
 * Available variables for files:
 *    - files.variable_name [variable_type]: Description of the variable. Example below.
 *    - files.invert [bool]: When set, colors will be inverted for light display on dark background.
 *    - file_type
 *    - file_title
 *    - file_info
 */
#}

<ul class="files reset">
  {% block files_content %}
    {% for item in items %}
      <li>
        {% include '@objects/file.twig'
        with {
          file_url: item.file_url,
          file_state_class: item.file_state_class,
          file_type_class: item.file_type_class,
          file_title_class: item.file_title_class,
          file_info_class: item.file_info_class,
          file_type: item.file_type,
          file_title: item.file_title,
          file_info: item.file_info,
        }
        %}
      </li>
    {% endfor %}
  {% endblock %}
</ul>
