// All component Sass needs non-printing base config
@import '../../00-protons/variables';

$file_mime_icons: (
  'application-pdf',
  'application-x-executable',
  'audio-x-generic',
  'image-x-generic',
  'package-x-generic',
  'text-html',
  'text-plain',
  'text-x-generic',
  'text-x-script',
  'video-x-generic',
  'x-office-document',
  'x-office-presentation',
  'x-office-spreadsheet'
);

ul.files li {
  margin: 0.5em 0;
}

.file {
  &__type {
    @include hide-text;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('icons/application-octet-stream.png') transparent;
    vertical-align: -0.18em;
    margin-right: 0.4em;
    @each $icon in $file_mime_icons {
      &--#{$icon} {
        background-image: url('icons/#{$icon}.png');
      }
    }
  }
  &__info {
    font-size: 0.8em;
    font-style: italic;
  }
}
