{#
/**
 * @file
 * files
 *
 * Available variables for files:
 *    - files.variable_name [variable_type]: Description of the variable. Example below.
 *    - files.invert [bool]: When set, colors will be inverted for light display on dark background.
 *    - file_type
 *    - file_title
 *    - file_info
 *    - file_url
 *    - file_state (is-requestable, is-closed)
 */
#}

{% set file_class_default = "file" %}
{% set file_type_class_default = "file__type" %}

{% set file_title_class %}class="file__title"{% endset %}
{% set file_info_class %}class="file__info"{% endset %}


{% if file_state %}
  {% set file_state_class %}
     class="{{ file_class_default }} {{ file_state }}"
  {% endset %}
  {% else %}
    {% set file_state %}
      class="{{ file_class_default }}"
    {% endset %}
{% endif %}

{% if file_type %}
  {% set file_type_class %}
    class="{{ file_type_class_default }} {{ file_type_class_default }}--{{ file_type|replace({'/':'-'}) }}"
  {% endset %}
{% else %}
  {% set file_type_class %}
    class="{{ file_type_class_default }}"
  {% endset %}
{% endif %}

{% block file_content %}
  <a href="{{ file_url }}"{{ file_state_class }}>
    <span {{ file_type_class }}>{{ file_type }}</span>
    <span {{ file_title_class }}>{{ file_title }}</span>
    <span {{ file_info_class }}>{{ file_info }}</span>
  </a>
{% endblock %}
