{#
/**
 * @file
 * gallery2cols
 *
 * Available variables for gallery2cols:
 *      - gallery_content
*/
#}

<ul class="gallery reset gallery__2cols" {{ attributes|without('class') }}>
    {% for item in items %}
        <li>
            {% block block_gallery_content %}
                {{ item.gallery_content }}
            {% endblock %}
        </li>
    {% endfor %}
</ul>