// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.gallery {
  // 2 cols layout
  &__2cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // Gallery items
    & > * {
      margin-bottom: $column-spacing;
      width: 100%;
      @include breakpoint($breakpoint-tablet) {
        width: 50%;
        padding-right: $column-spacing;
        &:nth-child(2n + 0) {
          padding-right: 0;
        }
      }
    }
  }
}
