// Styles for contact

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.contact {
  &__name {
    font-family: $font-family-sans-serif;
    font-size: 0.875rem;
  }
  &__map {
    margin-bottom: 10px;
  }
  &__address {
    font-style: normal;
    p {
      line-height: 1.2em;
      margin-bottom: 0;
    }
    dl {
      font-size: 0.875rem;
    }
    dt {
      font-weight: normal;
      text-transform: none;
    }
  }
}
