.factsheet {
  font-size: 0.9em;
  border: 1px solid #b0b0b0;
  border-radius: 0.3em;
  padding: 1em;
  background: $color-background;

  &__title {
    font-family: $font-family-sans-serif;
  }

  &__row {
    border-top: 1px dotted #b0b0b0;
    padding: 0.5em 0;
  }

  &__label {
    font-weight: bold;
  }

  &__icon {
    font-size: 1.2em;
    color: lighten($color-dark, 10%);
  }

  &__icon {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1em;
    display: flex;
    align-items: center;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__content {
    flex-grow: 1;
  }

  @include breakpoint($breakpoint-tablet) {
    &__row {
      padding: 1em 0;
    }
    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__label {
      width: 12em;
      padding-right: 2em;
      flex-grow: 0;
      flex-shrink: 0;
    }
    &__value {
    }
  }

  .svgicon {
    color: $color-dark;
    display: inline-block;
    vertical-align: middle;
    svg,
    g,
    circle,
    ellipse,
    line,
    path,
    polygon,
    polyline,
    rect,
    text {
      fill: $color-dark;
    }
  }
}
