{#{% include '@objects/_carousel.twig' %}#}
<h2>Carousel Demo</h2>
<p>Beware: The carousel controls are placed absolute from the top, so they always require some kind of section or box wraping them.</p>

{% set section_main = TRUE %}
{% embed '@containers/section/_section.twig'
    with {
    section_label: 'Carousel',
    section_title: 'Its a carousel',
}
%}
    {% block section_main %}
        {% include '@objects/_carousel.twig' %}
    {% endblock %}
{% endembed %}

