{#
/**
 * @file
 * Theme override to display a block with a card view mode.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @See patternlab_theme_suggestions_block_alter()
 * @see @objects/_card.twig for full list of variables.
 *
 * text_card for example purposes.
 * Set variables directly in template or as content editor created fields.
 *
 */
#}

{% set block_card = {
    card_width: card_width ?: 100,
    text_alignment: text_alignment ?: 'justify',
    text_color: text_color ?: 'dark',
    card_background: card_background ?: 'light',
    card_border: card_border ?: 'black',
    card_title: label ?: '',
    card_text: content.body ?: '',
    card_subtitle: content.subtitle ?: ''
  }
%}

{% include '@objects/_card.twig' with block_card %}
