{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - url: The url for the front page of the site.
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - logo_svg_inline: The svg logo if it exists.
 * - logo_img_src: The src logo if it exists.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 */
#}

{% block content %}

  {# Use logo to explicitly override values from preprocess. #}
  {% set logo = {
    logo_svg_inline: logo_svg_inline,
    logo_img_src: logo_img_src
  } %}

  {% include "@elements/_branding.twig" with logo %}

{% endblock %}
