.button,
.button__wrapper > * {
  display: inline-block;
  width: auto;
  color: $color-background;
  background: $color-highlight;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: $form-element-height;
  min-height: $form-element-height;
  //padding: 0.5rem 1rem;
  border-radius: $border-radius;
  border: 1px solid $color-highlight;
  text-align: center;
  vertical-align: middle;
  @include focus {
    background: darken($color-highlight, 20%);
    border-color: darken($color-highlight, 20%);
    text-decoration: none;
  }
  &--secondary {
    background: $color-lighter;
    border-color: $color-lighter;
    color: $color-light;
    @include focus {
      background: darken($color-lighter, 10%);
      border-color: darken($color-lighter, 10%);
      color: darken($color-light, 10%);
    }
  }
}
// The following is quite tailored to Drupal's Search API Facet Summary implementation
.button__wrapper {
  &--facet > * {
    display: none;
  }
  &--facet > a {
    display: inline-block;

    .facet-item__status.js-facet-deactivate {
      display: none;
    }
  }
}
