{% embed '@layouts/footer/footer.twig' %}
  {% block footer_01 %}
    <div class="panel-pane">
      {% include '@objects/menu/_menu.twig'
        with {
        items: menu_items_footer,
      }
      %}
    </div>
  {% endblock footer_01 %}
  {% block footer_02 %}
    {# Subscrib to OSCE #}
    <div>
      {% include '@composites/subscribe-box/_subscribe-box.twig' %}
    </div>
    {# Logo #}
    {% include '@objects/logo/logo.twig'
      with {
      "logo_title": 'Chairmanship',
      "logo_link_classes": 'logo logo--chairmanship--2021',
    }
    %}
  {% endblock footer_02 %}
{% endembed %}
