<h2 style="text-align:center; margin-top: 4rem; margin-bottom: 1rem;  font-size: 2rem;">Highlights</h2>
<p style="text-align:center; margin-bottom: 3rem;">This section should be limited to four entries only</p>
<div style="margin: 0 auto; max-width: 800px;">
  <ul class="gallery reset gallery__2cols" {{ attributes|without('class') }}>
      {% for i in 1..4 %}
        <li>
          {% include '@containers/figure/_figure.twig' with {
            figure_caption: "",
            figure_image: '<img class="f-img" src="https://lorempixel.com/400/225/business/?' ~ i ~ '" />',
            figure_title: "Highlight item #" ~ i,
            figure_description: "Description text for the highlight.",
            figure_url: '#'
          }%}
        </li>
      {% endfor %}
  </ul>
</div>
