{#<h2 style="text-align:center; margin-top: 4rem; margin-bottom: 1rem;  font-size: 2rem;">History</h2>#}
<div style="background-image: url('images/history2.jpg'); background-color: #FBAF17; min-height: 500px; background-size: cover; background-position: right center;">
  <div style="max-width: 1000px; margin:0 auto; padding: 2rem; padding-top: 20rem;">
    <h2 style="font-size: 3rem; margin-top: 2rem; background-color: #fff; display:inline-block; padding: 0.5rem;">History</h2>
    <div>
      <p style="font-size: 1.3rem; max-width: 650px; background-color: #fff; display:inline-block; padding: 0.5rem;">From the cold war to today's security challenges.</p>
    </div>
    <p style="margin-top: 2rem;"><button class="button" style="padding: 1rem; font-size: 1rem;" type="submit">Discover our timeline</button></p>
  </div>
</div>
