<!DOCTYPE html>
<html{{ html_attributes }} lang="en">
<head>
    <title>Mockups: {{ page_label }}</title>
    <link rel="stylesheet" href="../../dist/app-drupal/assets/app.styles.css">
</head>
<body{{ attributes }}>
{% include "@mockups/" ~ page ~ ".html.twig" %}
<script type="text/javascript">var Drupal = {
  behaviors: {
    designSystem: {}
  }
}</script>
<script type="text/javascript" src="../../dist/app-drupal/assets/app.js"></script>
<script type="text/javascript">Drupal.behaviors.designSystem.attach(0,{customCarouselModule: {}});</script>
</body>
</html>
