<h2 style="text-align:center; margin-top: 4rem; margin-bottom: 2rem;  font-size: 2rem;">Press releases</h2>
<div style="margin: 0 auto; max-width: 650px;">

  <ul class="reset listing">
    {% for i in 1..3 %}
      {% set teaser_url = '#' %}
      <li class="listing__item">
        <div class="teaser">
          {% if teaser_url %}<a href="{{ teaser_url }}" class="teaser__list--item-link">{% endif %}
              <div class="teaser__image">
                {{ 13 + i }} June 2021
              </div>
              <div class="teaser__content">
                  <h2 class="teaser__title" style="font-size: 1rem;">Press release #{{ i }}</h2>
                {% block block_teaser_main %}
                <p style="margin-top: 0.2rem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                {% endblock %}
              </div>
            {% if teaser_url %}</a>{% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div style="margin-top: 2rem; margin-bottom: 4rem; text-align:center;">
    {% include '@objects/more/_more.twig' with {
      readmore_text: "Press centre",
      readmore_url: '#',
    } %}
  </div>
</div>
