<h2 style="text-align:center; margin-top: 4rem; margin-bottom: 1rem;  font-size: 2rem;">{{ title }}</h2>
{% if description %}
  <p style="text-align:center; margin-bottom: 3rem;">{{ description }}</p>
{% endif %}
<div style="margin: 0 auto; max-width: 650px;">

  <ul class="reset listing">
    {% for i in 1..5 %}
      {% set teaser_url = '#' %}
      <li class="listing__item">
        <div class="teaser">
          {% if teaser_url %}<a href="{{ teaser_url }}" class="teaser__list--item-link">{% endif %}
              <div class="teaser__image">
                {% block block_teaser_image %}
                  {% include '@elements/svgicon/_svgicon.twig' with {
                    svgname: 'page',
                    svg_class: 'bigger svgicon__center',
                  } %}
                {% endblock %}
              </div>
              <div class="teaser__content">
                  <h2 class="teaser__title">Document #{{ i }}</h2>
                {% block block_teaser_main %}
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                {% endblock %}
              </div>
            {% if teaser_url %}</a>{% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <div style="margin-top: 3rem; margin-bottom: 4rem; text-align:center;">
    {% include '@objects/more/_more.twig' with {
      readmore_text: read_more_label,
      readmore_url: '#',
    } %}
  </div>
</div>
