{% embed '@containers/bento/_bento.twig' %}
  {% block block_bento_top %}
    {% embed '@containers/box/_box.twig'
      with {
      box_class_value: 'box box__borderless',
      box_header: "<h2>News</h2>",
    }
    %}

      {% block box_main %}
        {# Latest News #}
        {% embed '@containers/teaserlist/_teaserlist.twig'
          with {
          items: home_latest_news,
        }
        %}
          {% block block_teaser_list %}
            {% embed '@containers/teaser/_teaser.twig'
              with {
              teaser_image: item.teaser_image,
              teaser_url: item.teaser_url,
            }
            %}
              {% block block_teaser_image %}
                {{ teaser_image }}
              {% endblock %}
              {% block block_teaser_main %}

                {% if item.teaser_text %}
                  <div class="teaser__text">
                    {{ item.teaser_text|t }}
                  </div>
                {% endif %}
                {% if item.teaser_location or item.teaser_date %}
                  <div class="location">
                    {% if item.teaser_location  %}
                      {{ item.teaser_location }},
                    {% endif %}
                    {% if item.teaser_date  %}
                      {{ item.teaser_date }}
                    {% endif %}
                  </div>
                {% endif %}
              {% endblock %}
              {% block block_teaser_more %}
              {% endblock block_teaser_more %}

            {% endembed %}
          {% endblock block_teaser_list %}
        {% endembed %}
        {% include '@objects/more/_more.twig'
          with {
          readmore_text : 'View all news',
          readmore_class_name: 'more more__teaser',
        }
        %}
      {% endblock box_main %}
    {% endembed %}
  {% endblock %}
  {% block block_bento_main %}
{#    <img class="f-img" src="https://lorempixel.com/724/408/nature/?1" />#}
    {% include '@protons/demo/_f-placeholder.twig'
      with {
      'placeholder_height': '350px',
      'placeholder_width': '100%',
      'placeholder_content': 'Featured Content #1',
    }
    %}
  {% endblock %}
  {% block block_bento_bottom %}
  {% endblock %}
{% endembed %}
