{% extends '@containers/page/_page.twig' %}
  {% block block_page_leaderboard %}
    {{ page_leaderboard }}
  {% endblock block_page_leaderboard %}
  {% block block_page_socialmedia %}
    {% include '@objects/social-media/_social-media-follow-us.twig' %}
  {% endblock block_page_socialmedia %}
  {% block block_site_desktop %}
    {# Top #}
    {% embed '@layouts/site-top/_site-top.twig' %}
      {% block block_site_top %}
        {# Languages dropdown #}
        <ul class="osce-language-switch osce-language-switch-need-dropdown">
          <li class="osce-language-dropdown-trigger">
            <a href="#" is="language-link" id="showLanguages" class="osce-language-trigger">{{ "Languages"|t }}{% include '@elements/svgicon/_svgicon.twig' with {svgname: 'triangle-down',svg_class: 'language-dropdown-trigger',} %}</a>
          </li>
        </ul>
      {% endblock block_site_top %}
    {% endembed %}
    {# Multilanguage #}
    {% include '@layouts/site-multilingual/_site-multilingual.twig' %}
    {# Header #}
    {% embed '@layouts/site-header/_site-header.twig' %}
      {% block block_site_header %}
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          logo_link_classes: 'logo logo--osce',
          logo_url: '/apps/static/',
          logo_text: 'Organisation for Security and Co-operation',
          logo_link_target: '',
        }
        %}
        {% block block_site_header__logo %}
          <a href="/" class="logo logo--{{ site_logo }}" style="float: right; margin-top:1rem; margin-bottom: 1rem;">ODIHR</a>
        {% endblock %}
        {% include '@objects/meta-navigation/_meta-navigation.twig'
          with {
          items: menu_items_meta,
        }
        %}
      {% endblock block_site_header %}
    {% endembed %}
    {# Navigation #}
    {% embed '@layouts/site-navigation/_site-navigation.twig' %}
      {% block block_site_navigation %}
        {# Main Navigation #}
        {% include '@objects/main-navigation/_main-navigation.twig' %}
      {% endblock block_site_navigation %}
    {% endembed %}
  {% endblock block_site_desktop %}

  {% block block_page_banner %}
  {% endblock block_page_banner %}
  {% block block_page_content %}
    <div style="background-image: url('images/flags2.jpg'); min-height: 500px; background-size: cover; background-position: center center;">
      <div style="max-width: 1000px; margin:0 auto; padding: 2rem;">
{#        <h2 style="font-size: 3rem; margin-top: 2rem; background-color: #fff; display:inline-block; padding: 0.5rem;">About us</h2>#}
        <div>
          <p style="font-size: 1.3rem; max-width: 650px; background-color: #fff; margin-top: 2rem; padding: 1rem;" >The OSCE has a comprehensive approach to security that encompasses politico-military, economic and environmental, and human aspects and spans the globe, encompassing three continents - North America, Europe and Asia - and more than a billion people.</p>
        </div>
        <p style="margin-top: 2rem;"><button class="button" style="padding: 1rem; font-size: 1rem;" type="submit">Learn more about the OSCE</button></p>
      </div>
    </div>

    {% include '@mockups/_latest.html.twig' %}
<div style="background-color: #FFE5C3; min-height: 100px; padding-top: 2rem; padding-bottom: 2rem;">
    {% include '@mockups/_highlights.html.twig' %}
</div>
    {% include '@mockups/_history.html.twig' %}
    <h2 style="text-align:center; margin-top: 4rem; margin-bottom: 3rem; font-size: 2rem;">Funding and Budget</h2>
    <div style="max-width: 1000px; margin:0 auto;">
      {% embed '@elements/grid/_grid-3-up.twig' with { container: false } %}
        {% block column_1 %}
          {% include '@elements/svgicon/_svgicon.twig' with {
            svgname: 'brochure',
            svg_class: 'bigger svgicon__center',
          } %}
          <p style="text-align: center; font-size: 2rem; margin-bottom: 0">€ 123.000.000</p>
          <p style="text-align: center; font-size: 1rem">Annual Budget in 2020</p>
        {% endblock %}
        {% block column_2 %}
          {% include '@elements/svgicon/_svgicon.twig' with {
            svgname: 'users',
            svg_class: 'bigger svgicon__center',
          } %}
          <p style="text-align: center; font-size: 2rem; margin-bottom: 0">3.456</p>
          <p style="text-align: center; font-size: 1rem">Staff members in 2020</p>
        {% endblock %}
        {% block column_3 %}
          {% include '@elements/svgicon/_svgicon.twig' with {
            svgname: 'archive',
            svg_class: 'bigger svgicon__center',
          } %}
          <p style="text-align: center; font-size: 2rem; margin-bottom: 0">123</p>
          <p style="text-align: center; font-size: 1rem">Active projects</p>
        {% endblock %}
      {% endembed %}
    </div>

  <h2 style="text-align:center; margin-top: 4rem; margin-bottom: 3rem; font-size: 2rem;">OSCE Activities</h2>
  <div style="background-color: #000; padding-top: 0.5rem; padding-bottom: 2rem;">
    <div style="max-width: 1000px; margin:0 auto; margin-top: 3rem;">

          {% include '@objects/taglink/_taglink.twig'
            with {
            rows: taglinks,
          }
          %}
    </div>
  </div>
    <div style="margin-bottom: 5rem;">&nbsp;</div>
  {% endblock block_page_content %}

  {% block block_page_footer %}
    {% include "@mockups/_footer.html.twig" %}
  {% endblock block_page_footer %}


