<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <title>Mockup lister</title>
</head>
<body>
  <div class="container">
    <h2 class="mt-4">OSCE Mockups</h2>
    <div class="list-group mt-4">
      {% for page, label in pages %}
        <a href="?page={{ page }}" class="list-group-item list-group-item-action">{{ label }}</a>
      {% endfor %}
    </div>
  </div>

</body>
</html>
