{% extends '@containers/page/_page.twig' %}
  {% block block_page_leaderboard %}
    {{ page_leaderboard }}
  {% endblock block_page_leaderboard %}
  {% block block_page_socialmedia %}
    {% include '@objects/social-media/_social-media-follow-us.twig' %}
  {% endblock block_page_socialmedia %}
  {% block block_site_desktop %}
    {# Top #}
    {% embed '@layouts/site-top/_site-top.twig' %}
      {% block block_site_top %}
        {# Languages dropdown #}
        <ul class="osce-language-switch osce-language-switch-need-dropdown">
          <li class="osce-language-dropdown-trigger">
            <a href="#" is="language-link" id="showLanguages" class="osce-language-trigger">{{ "Languages"|t }}{% include '@elements/svgicon/_svgicon.twig' with {svgname: 'triangle-down',svg_class: 'language-dropdown-trigger',} %}</a>
          </li>
        </ul>
      {% endblock block_site_top %}
    {% endembed %}
    {# Multilanguage #}
    {% include '@layouts/site-multilingual/_site-multilingual.twig' %}
    {# Header #}
    {% embed '@layouts/site-header/_site-header.twig' %}
      {% block block_site_header %}
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          logo_link_classes: 'logo logo--osce',
          logo_url: '/apps/static/',
          logo_text: 'Organisation for Security and Co-operation',
          logo_link_target: '',
        }
        %}
        {% block block_site_header__logo %}
          <a href="/" class="logo logo--{{ site_logo }}" style="float: right; margin-top:1rem; margin-bottom: 1rem;">ODIHR</a>
        {% endblock %}
      {% endblock block_site_header %}
    {% endembed %}
    {# Navigation #}
    {% embed '@layouts/site-navigation/_site-navigation.twig' %}
      {% block block_site_navigation %}
        {# Main Navigation #}
        {% include '@objects/main-navigation/_main-navigation.twig' %}
      {% endblock block_site_navigation %}
    {% endembed %}
  {% endblock block_site_desktop %}

  {% block block_page_banner %}
      {% embed '@containers/bar/_bar.twig'
        with {
        bar_classes_value: 'bar bar-2cols bar--no-border',
      }
      %}
        {% block block_bar_content %}
          <div>
            {% include '@objects/social-media/_social-media-follow-source.twig' with {
              label: site_follow_source
            } %}
          </div>
          <div>
            {% include '@objects/social-media/_social-media-share.twig' %}
          </div>
          <div>
            {% include '@objects/language-switcher/_language-switcher.twig'
              with {
              languages: smmreport_languages,
            }
            %}
          </div>
        {% endblock block_bar_content %}
      {% endembed %}
    {% include "@mockups/_tab-teasers.html.twig" %}

  {% endblock block_page_banner %}
  {% block block_page_content %}
    <h2 style="text-align:center; margin-top: 4rem; margin-bottom: 3rem; font-size: 2rem;">ODHIR in numbers</h2>
    <div style="max-width: 1000px; margin:0 auto;">
      {% embed '@elements/grid/_grid-3-up.twig' with { container: false } %}
        {% block column_1 %}
          {% include '@elements/svgicon/_svgicon.twig' with {
            svgname: 'archive',
            svg_class: 'bigger svgicon__center',
          } %}
          <p style="text-align: center; font-size: 2rem; margin-bottom: 0">123</p>
          <p style="text-align: center; font-size: 1rem">Elections observer missions conducted</p>
        {% endblock %}
        {% block column_2 %}
          {% include '@elements/svgicon/_svgicon.twig' with {
            svgname: 'brochure',
            svg_class: 'bigger svgicon__center',
          } %}
          <p style="text-align: center; font-size: 2rem; margin-bottom: 0">€ 123.000.000</p>
          <p style="text-align: center; font-size: 1rem">Annual Budget in 2020</p>
        {% endblock %}
        {% block column_3 %}
          {% include '@elements/svgicon/_svgicon.twig' with {
            svgname: 'users',
            svg_class: 'bigger svgicon__center',
          } %}
          <p style="text-align: center; font-size: 2rem; margin-bottom: 0">123</p>
          <p style="text-align: center; font-size: 1rem">Staff members in 2020</p>
        {% endblock %}
      {% endembed %}
    </div>
    {% include '@mockups/_highlights.html.twig' %}
    {% include '@mockups/_reports.html.twig' with {
      title: "Reports",
      description: "Latest Reports from ODIHR",
      read_more_label: "Press centre",
    } %}
  {% endblock block_page_content %}
  {% block block_page_footer %}
    {% embed '@layouts/footer/footer.twig' %}
      {% block footer_01 %}
        <div class="panel-pane">
          {% include '@objects/menu/_menu.twig'
            with {
            items: menu_items_footer,
          }
          %}
        </div>
      {% endblock footer_01 %}
      {% block footer_02 %}
        {# Subscrib to OSCE #}
        <div>
        {% include '@composites/subscribe-box/_subscribe-box.twig' %}
        </div>
        {# Logo #}
        {% include '@objects/logo/logo.twig'
          with {
          "logo_title": 'Chairmanship',
          "logo_link_classes": 'logo logo--chairmanship--2021',
        }
        %}
      {% endblock footer_02 %}
    {% endembed %}
  {% endblock block_page_footer %}


