{% extends '@mockups/odihr-front.html.twig' %}
{% block block_page_content %}
  <h2 style="text-align:center; margin-top: 4rem; margin-bottom: 3rem; font-size: 2rem;">Our Work</h2>
  <div style="max-width: 800px; font-size: 1rem; margin:0 auto;">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <div style="margin-top: 1rem; margin-bottom: 4rem;>
      {% include '@objects/more/_more.twig' with {
        readmore_text: "Learn more about our Mandate",
        readmore_url: '#',
      } %}
    </div>
  </div>
  {% include '@mockups/_highlights.html.twig' %}
  {% include '@mockups/_reports.html.twig' with {
    title: "Press statements",
    description: "of the OSCE Representative on Freedom of the Media",
    read_more_label: "Press centre",
  } %}
{% endblock block_page_content %}
