<h1>Application form</h1>
<p class="lead">The states of an application form</p>
<h2>Default</h2>
<p>Text here</p>
{% include '@composites/application-form/_application-form.twig' %}

<h2>Link only</h2>
<p>Text here</p>
{% include '@composites/application-form/_application-form.twig' %}


