{#
/**
 * @file
 * spacers
 *
 * Available variables for spacers:
 *    - spacerclass_value.
#}

{% set spacerclass_value = spacerclass_value|default('') %}
{% if spacerclass_value %}
{% set spacerclass %}class="{{ spacerclass_value }}"{% endset %}
{% endif %}
<hr {{ spacerclass }}>
