// Sass Variables to Map to JSON

// Customized Sass Mapping
// Pulled from Bootstrap's _variables.scss
$font-families-demo: (
  '$font-family-base': $font-family-base,
  '$font-family-monospace': $font-family-monospace,
  '$headings-font-family': $headings-font-family,
);

$font-sizes-demo: (
  base: $font-size-base,
  lg: $font-size-lg,
  sm: $font-size-sm,
);

$font-weights-demo: (
  light: $font-weight-light,
  normal: $font-weight-normal,
  bold: $font-weight-bold,
);

$spacing-demo: $spacers;

// Import your Customized Variables here, example:
//@import '../_patterns/01-elements/button/_button.scss';

// Return an array of the SVG filenames located within svgicon/svg/
$svgicons: map-keys($sprites);

// Exports Data to source/_data/scssVariables.json
// This json file populates demo twig patterns related to config items.
// Include your Customized Sass Maps here to JSONIFY
@include export-data(
  'scssVariables.json',
  (
    scssColors: $theme-colors,
    scssBreakpoints: $grid-breakpoints,
    scssSpacing: $spacing-demo,
    fontFamilies: $font-families-demo,
    fontSizes: $font-sizes-demo,
    fontWeights: $font-weights-demo,
    scssIcons: $svgicons,
  )
);
