// All component Sass needs non-printing base config
@import '../../00-protons/variables';

$download_mime_icons: (
  'application-pdf',
  'application-octet-stream',
  'audio-x-generic',
  'image-x-generic',
  'package-x-generic',
  'text-html',
  'text-plain',
  'text-x-generic',
  'text-x-script',
  'video-x-generic',
  'x-office-document',
  'x-office-presentation',
  'x-office-spreadsheet'
);

.download {
  position: relative;
  min-height: 3em;
  margin-bottom: 0.714em;
  width: 100%;

  color: white;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
  .svgicon__download {
    &.icon-border {
      border: 1px solid #76bbfc;
      border-radius: 4px;
      padding: 6px 2px 4px 2px;
      svg {
        height: 10px;
      }
    }
    &.download-before {
      margin-right: 0.714em;
    }
    &.download-after {
      margin-left: auto;
    }
    svg {
      color: $color-background;
      fill: $color-background;
      height: 16px;
      &.svg__cancel {
        height: 14px;
      }
    }
  }
  @include focus {
    color: $color-background;
  }

  &__type {
    @include hide-text;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('images/application-pdf.png') transparent;
    vertical-align: -0.18em;
    margin-right: 0.375em;
    @each $icon in $download_mime_icons {
      &--#{$icon} {
        background-image: url('images/#{$icon}.png');
      }
    }
  }

  &__title {
    margin-right: 0.3em;
  }
  &__info {
    font-size: 0.875rem;
    font-weight: normal;
    opacity: 0.8;
    margin-right: 0.3em;
  }

  &.is-requestable {
    background-color: lighten($color-warning, 20%);
    border-color: $color-warning;
    @include striping($color-warning);
    @include focus {
      background-color: lighten($color-warning, 10%);
    }
    a {
      color: $color-background;
    }
  }

  &.is-closed {
    background-color: lighten($color-error, 30%);
    @include striping($color-error);
    border-color: $color-error;
    @include focus {
      background-color: lighten($color-error, 20%);
    }
  }

  &--light {
    color: $color-meta;
    background-color: transparent;
    .svgicon__download svg {
      color: $color-meta;
      fill: $color-meta;
    }
    &:hover,
    &:focus {
      background-color: shade($color-meta, 20%);
      color: $color-background;
      .svgicon__download svg {
        color: $color-background;
        fill: $color-background;
      }
    }
  }
  &--bold {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include breakpoint($breakpoint-desktop) {
      padding: 2rem;
    }

  }
}
// download list
.download-list {
  overflow: hidden;
  border-top: 1px dotted $border-color1;
  padding-top: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  .download {
    margin-bottom: 1em;
    width: 100%;
    @include breakpoint($breakpoint-tablet) {
      width: 11.429em;
    }
    margin-right: 0.741em;
    justify-content: space-between;
    &:last-child {
      margin-right: 0;
    }
  }
}
