// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
// webpack.particle.dev.js: sass-loader.data|includePaths

.svgicon-demo--particle-mixin {
  //@include sprite('person');
  height: 40px;
  width: 40px;
}

.svgicon-demo-1 {
  width: 40px;
  height: 40px;
}
.svgicon-demo-list {
  flex-wrap: wrap;
  &__item {
    margin-bottom: 1rem;
    flex-basis: 16.6666667%;
    max-width: 16.6666667%;
  }
}
