{% extends '@elements/grid/_grid-1-up.twig' %}
  {% set container = true %}
  {% block column_1 %}

    <h1 class="mt-5">SVG Icons</h1>
      <p class="lead">
      <pre><code class="language-twig">{% verbatim %}{% include '@elements/svgicon/_svgicon.twig' with {
  svgname: 'SVGNAME',
}
%}
{% endverbatim %}</code></pre>
      </p>
      {% embed '@containers/gallery/_gallery.twig'
      with {
      items: scssIcons,
      }
      %}
          {% block block_gallery_content %}
              {% include '@elements/svgicon/_svgicon.twig'
              with {
              svgname: item.svgname,
              svg_class: 'bigger',
              }
              %}
              <code>{{ item.svgname }}</code>
          {% endblock %}
      {% endembed %}

    <p class="lead">Store your SVG files in the SVG subdirectory to have them
      made available via the <code>svg/_svgicon.twig</code> partial or using a Sass
      mixin. SVGs are rendered utilizing their filename as a variable. FontAwesome
      icons can also be used through an HTML class or a Sass mixin.
    </p>

    <p class="subtext">Note: If you’ve exported from Illustrator or Sketch you should be good to use the svgs directly.
      However if you’ve used Inkscape, there are some issues with the added markup from the application. Use the
      following fiddle to clean extra markup:
      <a href="https://jsfiddle.net/alexanderby/31nmr8f7/">https://jsfiddle.net/alexanderby/31nmr8f7/</a></p>



    <h2>SVG File Techniques</h2>
    <h4 id="svg-spritesheet" class="mt-5">Inline SVG: Spritesheet</h4>
    <p>Using the Twig template renders an SVG element directly to the DOM. The
      template accepts several arguments: <code>svgname</code> accepts the
      filename of the SVG to render, <code>svgfill</code> accepts a value to set
      the change the default fill color of the SVG element from black.</p>
    <div class="row mt-3">
      <div class="col-sm-6">
        <h5>Example</h5>
<pre><code class="language-twig">{% verbatim %}{% include '@elements/svgicon/_svgicon.twig' with {
  svgname: 'twitter',
} %}{% endverbatim %}</code></pre>
      </div>
      <div class="col-sm-6">
        <h5>Output</h5>
        {% include '@elements/svgicon/_svgicon.twig' with {
          svgname: 'twitter',
        } %}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6">
        <h5>Example</h5>
<pre><code class="language-twig">{% verbatim %}{% include '@elements/svgicon/_svgicon.twig' with {
  svgname: 'twitter',
  svgfill: 'light',
} %}{% endverbatim %}</code></pre>
      </div>
      <div class="col-sm-6" style="background-color:grey;">
        <h5>Output</h5>
        {% include '@elements/svgicon/_svgicon.twig' with {
          svgname: 'twitter',
          svgfill: 'light',
        } %}
      </div>
    </div>
      <h4 id="icon-html-classes-custom" class="mt-5">SVG from CSS classes</h4>
      <p>All icons placed into the @elements/svgicon/svg/ folder have a class autogenerated in the format <code>icon--{icon-filename}</code>
      </p>
      {% set htmlclassicon = '<i class="icon--twitter"></i>' %}
      <pre><code class="language-html">{% autoescape %}{{ htmlclassicon }}{% endautoescape %}</code></pre>
      <h4 class="mt-3">SVG Library Reference</h4>
      <div class="text-center">
          <p><i class="icon--twitter"></i></p>
          <small><code>.icon--twitter</code></small>
      </div>

      <h4 id="icon-html-classes-custom" class="mt-5">Use SVG-Icons within SASS</h4>
      <p>All icons placed into the @elements/svgicon/svg/ folder have a class autogenerated in the format <code>icon--{icon-filename}</code>
      </p>
      {% set htmlclassicon = '<i class="icon--twitter"></i>' %}
      <pre><code class="language-html">{% autoescape %}{{ htmlclassicon }}{% endautoescape %}</code></pre>
      <h4 class="mt-3">SVG Library Reference</h4>
      <div class="text-center">
          <p><i class="icon--twitter"></i></p>
          <small><code>.icon--twitter</code></small>
      </div>

      <h4 id="svg-scss" class="mt-5">Sass mixin: Particle</h4>
      <p>The Sass mixin is located in the components scss/_icons-generated.scss
          file which is generated by the Webpack plugin on build. Use the <code>sprite()</code>
          mixin on your CSS class with the SVG filename as an argument. This class
          also needs to have a designated height and width. For your convenience, a
          CSS class is created for each icon in svg/ with the settings below as a
          default. These follow the pattern <code>icon--[svg-filename]</code></p>
      <p>See the @objects/lightbox for a real-world-demo.</p>
      <div class="row mt-3">
          <div class="col-sm-6">
              <h5>Example</h5>
              <pre><code class="language-scss">.svgicon-demo--particle-mixin {
  @include sprite('chevron-right');
  height: 40px;
  width: 40px;
}</code></pre>
          </div>
          <div class="col-sm-6">
              <h5>Output</h5>
              <div class="svgicon-demo--particle-mixin"></div>
          </div>
      </div>

      <h5 id="icon-sass-mixin-custom-colors" class="mt-3">Sass mixin: Particle w/ colors</h5>
      <p>To allow an SVG to be colorized, add <code>var:color.fill="#000"</code> to all path elements on the raw SVG. This
          defaults the color to black, but allows an override when using the mixin. <strong
                  class="text-danger">Warning:</strong> this does involve altering the source SVG to add <code>var:color.fill="#000"</code>
          to the first <code>path</code> element.
      </p>

  {% endblock column_1 %}
