{#
/**
 * @file
 * accordion-nested
 *
 * Available variables for accordion-nested:
 *    - accordion_nested_title  : Accordion nested item title.
 *    - accordion_nested_content
 *    - accordion_nested_class : 'accordion'
 *    - accordion_nested_title :
 *    - accordion_nested_content :
#}

{% set accordion_nested_class = 'accordion' %}

 {# Item start #}
<dl class="{{ accordion_nested_class }} js-{{ accordion_nested_class }}">
  <dt class="{{ accordion_nested_class }}__header">
    <button class="{{ accordion_nested_class }}__trigger js-{{ accordion_nested_class }}-header">
      <div class="{{ accordion_nested_class }}__trigger-title">
        {{ item.accordion_nested_title | t }}
      </div>
      <div class="{{ accordion_nested_class }}__trigger-icon">
      </div>
    </button>
  </dt>
  <dd class="{{ accordion_nested_class }}__panel js-{{ accordion_nested_class }}-panel">
    <div class="{{ accordion_nested_class }}__panel-inner  js-{{ accordion_nested_class }}-panel-inner">
      {% block accordion_nested_content %}
        {{ item.accordion_nested_content }}
      {% endblock accordion_nested_content %}
    </div>
  </dd>
</dl>
{# Item end #}
