// Styles for accordion

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

$spacing-accordion: 32px;
$half-spacing-accordion: $spacing-accordion / 2;
$transition-time: 0.3s;

.accordion {
  font-size: 14px;

  dl {
    font-size: 14px;
  }

  border-radius: $border-radius;
  margin-bottom: 0.76923em;
  overflow: hidden;
  border: 1px solid $color-highlight;

  &__header {
    width: 100%;
    margin: 0;

    &:after {
      content: '';
    }
  }

  &__trigger {
    display: flex;
    align-content: space-between;
    align-items: center;
    border-radius: 0;
    text-align: left;
    width: 100%;
    background-color: #dcdcdc;
    color: $color-highlight;
    font-weight: bold;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: initial;
    padding-top: 0;
    padding-bottom: 0;

    &:focus,
    &:hover {
      background-color: $color-highlight;
      color: #dcdcdc;
      cursor: pointer;
      outline: none;

      .accordion__trigger-title {
        color: white;
      }

      &[aria-expanded='false'] {
        &:after {
          content: '+';
          font-size: 20px;
          color: white;
        }
      }

      &[aria-expanded='true'] {
        &:after {
          content: '−';
          font-size: 20px;
          color: white;
        }
      }
    }

    // Removing "inner outline" for Firefox
    /*    &::-moz-focus-inner {
    border: none;
  }
*/

    &[aria-expanded='false'] {
      &:after {
        content: '+';
        font-size: 20px;
        color: $color-highlight;
      }
    }

    &[aria-expanded='true'] {
      &:after {
        content: '−';
        font-size: 20px;
        color: $color-highlight;
      }
    }

  }

  &__trigger-title {}

  &--dark {
    border: 0;
    color: $color-lighter-ultra;
    .accordion__trigger {
      background-color: $color-dark;
      color: $color-lighter-ultra;
      &:after {
        color: $color-lighter-ultra;
      }
    }
    a {
      color: $color-lighter-ultra;
      text-decoration: underline;
    }
    .accordion__panel-inner {
      background-color: $color-black;
      border: 1px solid $color-dark;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}


.accordion__trigger-icon {
  display: block;
  height: $spacing-accordion;
  //width: $spacing-accordion;
  margin-left: auto;
  position: relative;
  transition: all ease-in-out $transition-time;
}

.accordion__panel {
  position: relative;
  margin: 0;
  width: 100%;
  //  max-height: 0 !important;
  //  visibility: hidden;

  &:after {
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &.js-accordion-is-hidden {
    transition: ease-in-out $transition-time;
    max-height: 0 !important;
    visibility: hidden;
  }

  &.js-accordion-is-active {
    transition: ease-in-out $transition-time;
    //visibility: visible;
    //max-height: initial !important;

  }

  // transition is added via `accordion--initalised` to stop animation on initalition
  .accordion--initalised & {
    //transition: max-height ease-in-out $transition-time;
  }

  &-inner {
    padding: $half-spacing-accordion;
    & > * {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
    .accordion__trigger {
      background-color: $color-highlight;
      color: white;
      &[aria-expanded='false'] {
        &:after {
          content: '+';
          font-size: 20px;
          color: white;
        }
      }

      &[aria-expanded='true'] {
        &:after {
          content: '−';
          font-size: 20px;
          color: white;
        }
      }

      &-title {
        &:after {
          content: '»';
          font-size: 12px;
          left: -3px;
          position: relative;
        }
      }
      &:hover,
      &:focus {
        background-color: lighten($color-highlight, 4%);
        transition: ease-in-out $transition-time;
      }
    }
  }
}


