// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.meta-nav {
  display: flex;
  background: $color-background;

  &__link {
    display: block;
    &.is-inactive {
    }
    &.is-active {
      color: $color-blue;
    }
  }

  &__link-last {
    display: inline-block;
  }

  &__item {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    text-transform: uppercase;
    color: $meta-nav-color;
    font-size: 0.929em;
    @include focus {
      .svg {
        fill: $color-darker;
      }
    }
    &.is-active {
      color: $color-meta;
      font-weight: bold;
    }
    &:hover {
      color: $color-black;
    }
  }
  &__item-last {
    border-left: 1px solid $color-background;
    border-right: 1px solid $color-background;
    &.active-trail {
      border-left: 1px solid $color-light;
      border-right: 1px solid $color-light;
      .meta-nav__link-last {
        color: $color-blue;
        .svg {
          fill: $color-blue;
        }
        .svgicon__meta-nav-search-expandable {
          transform: rotate(180deg);
        }
      }
    }
  }

  @include breakpoint(0 $breakpoint-desktop) {
    flex-wrap: wrap;
    border-top: 1px solid $color-light;
    //
    display: none;
    &__item {
      padding: 0 0.5em;
      color: $color-dark;
      line-height: 5.429em;
      flex: 1 percentage(1/3);
      max-width: percentage(1/3);
      border-bottom: 1px solid $color-light;

      &:not(:nth-child(3n + 3)) {
        border-right: 1px solid $color-light;
      }
    }
  }

  @include breakpoint($breakpoint-desktop) {
    margin-bottom: 0;
    justify-content: flex-end;

    &__item {
      position: relative;
      line-height: 5.429em;
      text-align: center;
      margin: 0 1em;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
        margin-left: 0;
        padding-left: 1em;
        padding-right: 1em;
      }

      flex-basis: auto;
      flex-shrink: 0;

      &:before {
        @include triangle('down', $color-light, 8px, 8px);
        margin-left: -8px;
      }

      &:after {
        @include triangle('down', $color-background, 7px, 7px);
        margin-left: -7px;
      }

      &:before,
      &:after {
        top: 100%;
        left: 50%;
        display: none;
      }

      &.is-active {
        &:before,
        &:after {
          display: block;
        }
      }
    }
  }
}
