{#
/**
 * @file
 * meta-navigation
 *
 * Available variables for meta-navigation:
 *    - meta_navigation.variable_name [variable_type]: Description of the variable. Example below.
 *    - meta_navigation.invert [bool]: When set, colors will be inverted for light display on dark background.
 *    - item.label
 *    - item.active
 *
 * Usage:
 * {% include '@objects/meta-navigation/_meta-navigation.twig' %}
 */
#}
<ul class="meta-nav reset">
  {% for item in items %}
    {% if loop.last %}{% set lastitem = 'last' %}{% endif %}
    {% if loop.last %}
      <li class="{{['meta-nav__item', item.active ? 'is-active' : 'is-inactive', lastitem ? 'meta-nav__item-last'] | join(' ')}}">
        <a class="{{['meta-nav__link', 'inherit', item.active ? 'is-active' : 'is-inactive', lastitem ? 'meta-nav__link-last'] | join(' ')}}" href="#">{% include '@elements/svgicon/_svgicon.twig' with { svgname: 'search', svg_class: 'meta-nav-search',}%}{{item.label}}{% include '@elements/svgicon/_svgicon.twig' with { svgname: 'triangle-down', svg_class: 'meta-nav-search-expandable',} %}</a>
      </li>
    {% else %}
      <li class="{{['meta-nav__item', item.active ? 'is-active' : 'is-inactive', lastitem ? 'meta-nav__item-last'] | join(' ')}}">
        <a class="{{['meta-nav__link', 'inherit', item.active ? 'is-active' : 'is-inactive', lastitem ? 'meta-nav__link-last'] | join(' ')}}" href="#">{{item.label}}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
