{% include "@objects/headlines/_headlines.twig"
  with {
  heading_level: '1',
  heading_content: 'Heading 1',
}
%}
{% include "@objects/headlines/_headlines.twig"
  with {
  heading_level: '2',
  heading_content: 'Heading 2 with custom class',
  heading_class: 'customclass'
}
%}
{% include "@objects/headlines/_headlines.twig"
  with {
  heading_level: '3',
  heading_content: 'Heading 3',
}
%}
{% include "@objects/headlines/_headlines.twig"
  with {
  heading_level: '4',
  heading_content: 'Heading 4',
}
%}
{% include "@objects/headlines/_headlines.twig"
  with {
  heading_level: '5',
  heading_content: 'Heading 5',
}
%}
{% include "@objects/headlines/_headlines.twig"
  with {
  heading_level: '6',
  heading_content: 'Heading 6',
}
%}
{% include "@objects/headlines/_headlines.twig"
  with {
  heading_level: '1',
  heading_content: 'Heading with link',
  heading_url: '#',
}
%}
{% include "@objects/headlines/_headlines.twig"
  with {
  heading_level: '1',
  heading_content: 'Headline with Image',
  heading_image: '<img src="https://www.osce.org/sites/default/themes/osce_tao/images/sdg/ico-06-water-and-sanitation.svg" alt="Clean Water and Sanitation" width="120px" height="120px">',
}
%}
