{% extends '@elements/grid/_grid-1-up.twig' %}
  {% set container = true %}
  {% block column_1 %}

  {#  Button #}
      <h2>Default readmore link</h2>
      {% include '@objects/more/_more.twig' %}
      <hr/>
      <h2>Small variant of readmore link</h2>
      {% include '@objects/more/_more.twig' with {
          readmore_type: "small"
      } %}
      <h2>Read more after first paragraph</h2>
      <div style="border: 1px solid gray;">
          <p>Place this readmore link in the same container as a body field with multiple paragraphs. The read-more link will be dynamically placed after the first paragraph and hide all following paragraphs.</p>
          <p>This is a hidden paragraph.</p>
          {% include '@objects/more/_more.twig' with {
              readmore_type: "small",
              readmore_apply_to_text: true
          } %}
      </div>
  {%  endblock %}
