{% include '@objects/_accordion.twig'
with {
  accordion_nested: true,
  accordion_title: 'International Organizations'
}
%}

{% include '@objects/_accordion.twig'
  with {
  accordion_title: 'OSCE Institutions',
  accordion_content: 'ACCORDION Content tba.',
}
%}

{% include '@objects/_accordion.twig'
  with {
  accordion_title: 'Dark variant of an accordion',
  accordion_content: 'Well prepared for dark sidebars, use { accordion_color: "dark" }. This is a <a href="#">Demo link</a>',
  accordion_color: 'dark',
}
%}
