<h2>HTML base for sliders</h2>

{% include '@objects/_diashow.twig' %}


<h2>Slick implementation</h2>

<div class="diashow">
    <div class="diashow__items">
        <div class="figure">
            <div class="figure__content">
                <img class="f-img" src="http://placehold.it/1600x500"/>
            </div>
        </div>

        <div class="figure">
            <div class="figure__content">
                <img class="f-img" src="http://placehold.it/1600x500"/>
            </div>
        </div>
        <div class="figure">
            <div class="figure__content">
                <img class="f-img" src="http://placehold.it/1600x500"/>
            </div>
        </div>
        <div class="figure">
            <div class="figure__content">
                <img class="f-img" src="http://placehold.it/1600x500"/>
            </div>
        </div>
        <div class="figure">
            <div class="figure__content">
                <img class="f-img" src="http://placehold.it/1600x500"/>
            </div>
        </div>
    </div>
    <div class="diashow__controls"></div>
</div>
