// Styles for site-content

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

// fix width for layout_builder in administration section
.layout-builder__layout.site--content {
  max-width: 100%;
}
// front end site content
.site--content {
  @include container(70rem);
}
//
.content--content-bottom {
  padding-top: 1em;
  .node-banner-large {
    display: block;
    margin-bottom: 1em;
  }
}
.content--header {
  margin-bottom: 1.429em;
}
.content--footer {
  padding-top: 2em;
  clear: left;
}
// Layout
.content--content,
.content--footer {
  @include span(12 of 12);
}

// Content with sidebar
.site--content-sidebar {
  .content--content,
  .content--content-bottom {
    @include span(12 of 12);
  }
  @include breakpoint($breakpoint-tablet) {
    .content--content,
    .content--content-bottom {
      @include span(8 of 12);
    }
  }
}
// Content sidebar
.content--sidebar-top,
.content--sidebar-bottom {
  //@include span(4 of 12);
  @include span(last 12 of 12);
}
@include breakpoint($breakpoint-tablet) {
  .content--sidebar-top,
  .content--sidebar-bottom {
    //@include span(4 of 12);
    @include span(last 4 of 12);
  }
}
//
.content--sidebar-top {
  margin-bottom: 3em;
}

.content--sidebar-bottom {
  .box, .section {
    margin-bottom: 3em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.content--content {
  .section, .body-section {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
