{#
/**
 * @file
 * site-content
 * Available "variables"/"regions" for site content:
 *    - site_content__indented
 *    - site_content_header
 *    - site_content_sidebar_top
 *    - site_content_content
 *    - site_content_bottom
 *    - site_content_footer
 *
#}

{# Determine whether sidebar should be shown or hidden. #}
{% if site_content_sidebar_bottom or site_content_sidebar_top %}
  {% set classes = ['site--content', 'site--content-sidebar'] %}
{% else %}
  {% set classes = ['site--content'] %}
{% endif %}

{# Determine whether content area should be indented. This is usually the desired
behavior when this layout is used stand-alone. When we use nested layouts, e. g.
in layout_builder, we want to use a plain, i.e. not indentend, content area
 #}
{% if site_content__indented or site_content__indented is not defined %}
  {% set classes = classes|merge(['site--content--indented']) %}
{% endif %}

<div {{ attributes.addClass(classes) }} >

  {% if site_content_header %}
    <div class="content--header">
      {% block block_site_content_header %}
      {% endblock block_site_content_header %}
    </div>
  {% endif %}

  {% if site_content_sidebar_top %}
    <div class="content--sidebar-top">
      {% block block_site_content_sidebar_top %}
      {% endblock block_site_content_sidebar_top %}
    </div>
  {% endif %}

  {% if site_content_content %}
    <div class="content--content">
      {% block block_site_content_content %}
      {% endblock block_site_content_content %}
    </div>
  {% endif %}

  {% if site_content_sidebar_bottom %}
    <div class="content--sidebar-bottom">
      {% block block_site_content_sidebar_bottom %}
      {% endblock block_site_content_sidebar_bottom %}
    </div>
  {% endif %}

  {% if site_content_footer %}
    <div class="content--footer">
      {% block block_site_content_footer %}
      {% endblock block_site_content_footer %}
    </div>
  {% endif %}

</div>