{% extends '@elements/grid/_grid-1-up.twig' %}

  {% set container = true %}

  {% block column_1 %}
    {% include '@objects/_alert.twig' with alert_info %}
    {% include '@objects/_alert.twig' with alert_warning %}
  {% endblock %}
