// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.breadcrumbs {
  font-size: 0.9em;
  margin-bottom: 0;

  &__item {
    display: inline;
    color: $color-blue;
    a {
      color: $color-blue;
      &:hover {
        text-decoration: none;
      }
    }
    &.is-active {
      color: $color-dark;
      &:after {
        display: none;
      }
    }
  }
}
