{#
/**
 * @file
 * breadcrumbs
 *
 * Available variables for breadcrumbs:
 *    - item.url
 *    - item.text
 */
#}

{% set active_class_name = "is-active" %}

{% set breadcrumb_classes_value = breadcrumb_classes_value|default('breadcrumbs reset') %}
{% set breadcrumb_classes %}
  {% if breadcrumb_classes_value %}class="{{ breadcrumb_classes_value }}"{% endif %}
{% endset %}

{% set breadcrumb_item_classes_value = breadcrumb_item_classes_value|default('breadcrumbs__item') %}
{% set breadcrumb_item_classes %}
  {% if breadcrumb_item_classes_value %}
    class="{{ breadcrumb_item_classes_value }}"
  {% endif %}
{% endset %}

{% set breadcrumb_item_active_classes %}
    class="{{ breadcrumb_item_classes_value }} {{ active_class_name }}"
{% endset %}

{% set breadcrumb_item_link_classes_value = breadcrumb_item_link_classes_value|default('reset') %}
{% set breadcrumb_item_link_classes %}
  {% if breadcrumb_item_link_classes_value %}class="{{ breadcrumb_item_link_classes_value }}"{% endif %}
{% endset %}

{%  set breadcrumb_icon %}

{% endset %}

{% if breadcrumb %}
  <ul {{ breadcrumb_classes }}>
 {#
    <li class="breadcrumbs__item is-active">
     {% include '@elements/svgicon/_svgicon.twig'
        with {
        svgname: 'location',
        svg_class: 'location',
      }
      %}
    </li>
  #}
  {% if domain not in ['osce.org','www.osce.org','osce.local', 'aarhus.osce.org'] %}
    <li {{ breadcrumb_item_classes }}><a href="https://www.osce.org">{{ 'Home'|t }}</a></li>
  {% endif %}
  {% for item in breadcrumb %}
    {% if loop.last or item.active_class_value %}
      <li {{ breadcrumb_item_active_classes }}>
    {% else %}
      <li {{ breadcrumb_item_classes }}>
    {% endif %}
    {% if item.url %}
      {% if loop.first %}
        {% include '@elements/svgicon/_svgicon.twig'
          with {
          svgname: 'chevron-right',
          svg_class: 'breadcrumb',
        }
        %}
      {% endif %}
      <a href="{{ item.url }}" {{ breadcrumb_item_link_classes }}>{{ item.text }}</a>
      {% if not loop.last %}
        {% include '@elements/svgicon/_svgicon.twig'
          with {
          svgname: 'chevron-right',
          svg_class: 'breadcrumb',
        }
        %}
    {% endif %}
    {% else %}
      <span>{{ item.text }}</span>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}
