{% include '@composites/_report-download.twig' with {
    report: 'Download the full report (PDF)',
    report_appendix_1: 'See the table of ceasefire violations',
    report_appendix_2: 'See the map of SMM settlements',
} %}

<h2>Downloads with single appendix</h2>
{% include '@composites/_report-download.twig' with {
    report: 'Download the full report (PDF)',
    report_appendix_1: 'See the table of ceasefire violations',
} %}

<h2>Legacy downloads</h2>
{% include '@composites/_report-download.twig' with {
    report_appendix_1: 'See the table of ceasefire violations',
} %}