{% include '@containers/gallery/_gallery.twig'
    with {
    items: gallerydummyitems,
}
%}

<h2>Two-column gallery</h2>
{% include '@containers/gallery/_gallery.twig'
    with {
    items: gallerydummyitems,
    columns: 2
}
%}

<h2>Four-column gallery, small row-margin</h2>
{% include '@containers/gallery/_gallery.twig'
    with {
    items: gallerydummyitems,
    columns: 4,
    gallery_margin_type: "small"
}
%}

<h2>Card-style gallery</h2>
{% include '@containers/gallery/_gallery.twig'
  with {
  items: gallerydummyitems,
  card_layout: true
}
%}
