// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.pager {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4em;
  background: $color-lighter;
  border: 1px solid $color-light;
  border-radius: $border-radius;
  // get the proper colors if/although there is ".reset" class
  &.reset {
    background: $color-lighter;
    border: 1px solid $border-color-pager;
    border-radius: $border-radius;
  }

  &__item {
    border: 1px solid $border-color-pager;
    border-radius: $border-radius;
    margin: 0 0.4em;
    color: $color-dark;
    font-weight: bold;
    line-height: 2em;
    height: 2em;

    @include focus {
      background-color: lighten($color-light, 10%);
    }
  }

  &__text {
    @include inherit;
    display: block;
    padding: 0 0.7em;
  }

  &__item--current {
    background: $color-background;
    @include focus {
      background-color: $color-background;
    }
    border-radius: 0 0 $border-radius $border-radius;
    padding-top: 1em;
    align-self: flex-start;
    height: 3.1em;
    margin-top: -1px;
    border-top: none;
  }

  &__item {
    //display: none;
  }

  &__item--previous,
  &__item--next,
  &__item--current {
    display: block;
  }

  &[min-width='#{$column-width * 2 - $column-spacing * 2}'] &__item {
    display: block;
  }
}
