// All component Sass needs non-printing base config
@import '../../00-protons/variables';

//// Simple version: language bar
.languages {
  display: flex;
  align-items: center;
  &__item {
    color: $color-highlight;
    font-size: 13px;
    font-weight: bold;
    margin-right: 15px;
    @include focus {
      a {
        text-decoration: underline;
      }
    }

    &.is-active {
      color: $color-text;
    }
  }
}
