// All component Sass needs non-printing base config

.alert {
  color: $color-background;
  background: $color-highlight;
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 0.8em;

  &__title {
    background: $color-meta;
    border-radius: 0.3em 0 0 0.3em;
    min-width: 4em;
    text-align: center;
    font-family: $font-family-condensed;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    font-size: 1.5em;
  }

  &__content {
    flex-grow: 1;
    position: relative;
    padding: 1em 4em 1em 1em;
  }

  &__close {
    color: $color-background;
    border: 1px solid lighten($color-highlight, 20%);
    @include focus {
      text-decoration: none;
      background: lighten($color-highlight, 20%);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    //line-height: 2em;
    position: absolute;
    top: 50%;
    margin-top: -1em;
    right: 1em;
    border-radius: 0.3em;
  }
  .svgicon {
    color: $color-background;
    svg,
    g,
    circle,
    ellipse,
    line,
    path,
    polygon,
    polyline,
    rect,
    text {
      fill: $color-background;
    }
  }
}
.alert:not(.alert--warning) {
  .alert__title {
    &:before {
      content: '!';
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 3.5em;
      margin-top: -0.6em;
      margin-left: -0.6em;
      width: 1.2em;
      height: 1.2em;
      border-radius: 0.6em;
      line-height: 1em;
      font-weight: bold;
      text-align: center;
      border: 0.1em solid $color-background;
      opacity: 0.4;
    }
  }
}

.alert--warning {
  color: #b76c00;
  background: #fff2c7;

  .alert__title {
    background: #b76c00;
    color: #fff;
    &:before {
      content: '!';
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 3.5em;
      margin-top: -0.6em;
      margin-left: -0.6em;
      width: 1.2em;
      height: 1.2em;
      border-radius: 0.6em;
      line-height: 1em;
      font-weight: bold;
      text-align: center;
      border: 0.1em solid pink;
      opacity: 0.4;
    }
  }
  .alert__close {
    color: #b76c00;
    border: 1px solid lighten(#b76c00, 20%);
    @include focus {
      text-decoration: none;
      background: lighten(#b76c00, 20%);
    }
  }
  .svgicon {
    color: #b76c00;
    svg,
    g,
    circle,
    ellipse,
    line,
    path,
    polygon,
    polyline,
    rect,
    text {
      fill: #b76c00;
    }
  }
}
