{% include '@composites/subscribe-box/_subscribe-box.twig' %}

{# Subscribe box with description and border #}
{% include '@composites/subscribe-box/_subscribe-box.twig'
  with {
  subscribe_title: 'Subscribe to the OSCE (with description and top border)',
  subscribe_subtitle: 'Sign up to receive OSCE Press Releases and Media Advisories by email as soon as they have been published.',
  subscribe_border: true,
  subscribe_email_description: false
} %}