// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
// webpack.particle.dev.js: sass-loader.data|includePaths

// Note!
// ./scss/_icons-generated is automatically made available because
// 00-protons/variables is provided to every scss file and _icons-generated
// is @import'd within 00-protons/variables

// Default styles to maintain inline-block functionality
// since the SVG is wrapped in a div
.svgicon {
  svg,
  g,
  circle,
  ellipse,
  line,
  path,
  polygon,
  polyline,
  rect,
  text {
    color: $color-text;
    fill: $color-text;
    //stroke: $color-text;
    display: block;
    width: $font-size-base;
    max-width: 100%;
    max-height: $font-size-base;
    height: auto;
  }
  vertical-align: text-top;
  color: $color-text;

  &__default {
    display: inline-block;
    overflow: hidden;

    svg {
      display: block;
      width: $font-size-base;
      max-width: 100%;
      max-height: $font-size-base;
      height: auto;
    }
  }
  &__photo-details {
    display: inline-block;
    overflow: hidden;
    svg {
      color: $border-color1;
      fill: $border-color1;
    }
  }
  &__meta-nav-search,
  &__meta-nav-search-expandable {
    display: inline-block;
    overflow: hidden;
    svg {
      color: $meta-nav-color;
      fill: $meta-nav-color;
      height: 14px;
    }
  }
  &__meta-nav-search-expandable {
    vertical-align: baseline;
    svg {
      height: 0.714em;
    }
  }
  &__breadcrumb {
    display: inline-block;
    overflow: hidden;
    vertical-align: baseline;
    margin: 0 0.357em 0 0.357em;
    position: relative;
    top: 0.143em;
    svg {
      color: $color-breadcrumb-icons;
      fill: $color-breadcrumb-icons;
      height: 14px;
    }
  }
  &__light {
    svg {
      color: $color-background;
      fill: $color-background;
    }
  }
  &__bigger {
    svg {
      width: 64px;
      max-width: 100%;
      max-height: 64px;
      height: auto;
    }
  }

  &__center svg {
    margin: 0 auto;
  }

  &__button,
  &__download {
    width: auto;
    display: inline-block;
    overflow: hidden;
    svg {
      color: $color-background;
      fill: $color-background;
    }
  }

  &__infobutton {
    width: auto;
    display: inline-block;
    overflow: hidden;
    margin-right: 0.5em;
    svg {
      color: $color-background;
      fill: $color-background;
    }
  }
  &__socialshare {
    display: inline-block;
    overflow: hidden;
    svg {
      color: $color-text;
      fill: $color-text;
    }
  }
  &__searchbox {
    display: inline-block;
    overflow: hidden;
    svg,
    g,
    circle,
    ellipse,
    line,
    path,
    polygon,
    polyline,
    rect,
    text {
      fill: $color-text;
      width: 14px;
      max-width: 100%;
      max-height: 17px;
      height: auto;
    }
  }
  &__language-dropdown-trigger {
    color: $color-blue;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    max-width: 100%;
    svg,
    g,
    circle,
    ellipse,
    line,
    path,
    polygon,
    polyline,
    rect,
    text {
      fill: $color-blue;
    }
  }
  &__language-dropdown-close {
    color: $color-highlight;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    max-width: 100%;
    svg,
    g,
    circle,
    ellipse,
    line,
    path,
    polygon,
    polyline,
    rect,
    text {
      fill: $color-highlight;
    }
  }
  &__language-switch-close {
    color: $color-text;
    max-width: 100%;
    display: inline-block;
    margin-left: 0.714em;
    vertical-align: initial;
    svg,
    g,
    circle,
    ellipse,
    line,
    path,
    polygon,
    polyline,
    rect,
    text {
      width: 10px;
      fill: $color-text;
    }
  }
  &__figure-caption-icon,
  &__highlight-caption-icon {
    position: absolute;
    color: $color-background;
    background: transparentize($color-darker, 0.3);
    padding: 5px;
    border-radius: $border-radius;
    right: 8px;
    bottom: 100%;
    margin-bottom: 6px;
    svg {
      fill: $color-background;
      width: 23px;
      max-width: 100%;
      max-height: 32px;
      height: auto;
    }
  }
  &__map__filter__icon {
    position: absolute;
    color: $color-background;
    svg {
      fill: $color-background;
      width: 23px;
      max-width: 100%;
      max-height: 32px;
      height: auto;
    }
  }
}

// Get the sprite name from generated scss in generated file
$svgicons: map-keys($sprites);
// Loop over every SVG and create a CSS class for it
@each $icon in $svgicons {
  .icon--#{$icon} {
    @include sprite(#{$icon});
    display: inline-block;
    height: $font-size-base;
    width: $font-size-base;
  }
}

// Loop over every theme-color and create a CSS class to colorize it
@each $color in map_keys($theme-colors) {
  .icon__#{$color} {
    color: theme-color(#{$color});
  }
}
