{#
/**
 * @file
 * svgicon
 *
 * Available variables for svgicon:
 *    - svgname -- filename of the SVG from /01-elements/svgicon/svg
 *    - svgfill -- Colorize the SVG. f.E.: 'light' - see '01-elements/svgicon/_svgicon.scss'
 *    - svg_class -- default 'default'
 */
#}
{% set svg_class = svg_class|default('default') %}
{% set height = height|default('16') %}
{% set width = width|default('16') %}

<div class="svgicon svgicon__{{ svg_class }}{{ svgfill ? " svgicon__" ~ svgfill : ""}}">
  <svg viewBox="0 0 500 500" class="svg svg__{{ svgname }}" width="{{ height }}" height="{{ width }}">
      <use xlink:href="{{paths.assets}}/spritemap.svg?cacheBuster={{ randomNumber }}#sprite-{{svgname}}"></use>
  </svg>
</div>
