// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.map {
  position: relative;
  &__overlay {
    display: none;
    z-index: 450;
    @include breakpoint($breakpoint-tablet) {
      display: block;
    }
    position: relative;
    background: transparentize($color-darker, 0.5);
    color: $color-background;
    text-align: center;
    h1 {
      padding-top: 0.5em;
      margin-bottom: 0.2em;
      font-weight: normal;
      font-style: italic;
      font-size: 2.5em;
    }
  }

  &__filters {
    background: $color-darker;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
  }

  &__filter {
    padding: 0 1em 1em 1em;
    position: relative;

    &__icon {
      background: $color-meta;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -26px;
      font-size: 3em;
      width: 58px;
      height: 58px;
      border-radius: 0.8em;
      border: 0.2em solid $color-darker;
    }

    &__label {
      position: absolute;
      text-align: center;
      width: 40em;
      bottom: -1em;
      left: 0;
      margin-left: -16.5em;
      display: none;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @include focus() {
      .map__filter__label {
        display: block;
      }
    }

    &[active='false'] {
      color: $color-lighter;
      .map__filter__icon {
        background: $color-dark;
      }
    }
  }
}
// "hack" to get icons
/*.icon-a-climate--back:before {
  content: '\EA01';
}
.icon-a-climate--back:after {
  font-family: 'iconfont';
  font-style: normal;
  font-weight: 400;
  content: '\EA02';
  vertical-align: middle;
}

.icon-a-climate--back:after,
.icon-a-waste--back:before {
  position: absolute;
  left: 50%;
  margin-left: -0.5em;
}
.icon-a-waste--back:before {
  position: absolute;
  left: 50%;
  margin-left: -0.5em;
}*/
