// Custom colors

// Page background color.
$color-background: #fff;

// Text color.
$color-text: #222;

// Used mostly for small description texts.
$color-text-light: #656565;

// Buttons, links, active elements.
$color-highlight: #1b8ffa;

// Logo, navigation elements, labels.
$color-meta: #233b74;

// "Black" UI elements. Dark boxes, overlays ...
$color-darker: #222222;

// Dark borders.
$color-dark: #666666;

// Light borders
$color-light: #e5e5e5;

// Light shaded ui elements. Light boxes, page sections.
$color-lighter: #e6e6e6;

// Ultra-light shaded ui elements.
$color-lighter-ultra: #f9f9f9;

// Messaging and status colors.
$color-error: #8f2629;
$color-warning: #b76c00;
$color-ok: #0f5605;

// Boxes
$box-border: #a3a3a3;
$box-stripes: #b1b1b1;
$box-dark-stripes: #646464;

// Arbitrary coloring:
// Currently used for "keyword" (_taglink.scss) styles. Naming bound
// to the field configuration on keyword fields in POLIS.
$color-blue: #233b74;
$color-blue-light: #d6dff3;

$color-red: #8f2629;
$color-red-light: #ffdcdf;

$color-green: #0f5605;
$color-green-light: #e0f5b7;

$color-yellow: #b76c00;
$color-yellow-light: #fff2c7;

$color-black: #222222;
$color-black-light: #e6e6e6;

$color-admin-blue: #90c5ff;

$background-color1: #e7e7e7;
$meta-nav-color: #656565;
$border-color1: #ccc;
$color-breadcrumb-icons: #b2b2b2;

$border-color2: #b0b0b0;
$spacer-color: $border-color2;

$border-color-pager: $border-color2;
