$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;
$hamburger-layer-width: 1.2em !default;
$hamburger-layer-height: 0.2em !default;
$hamburger-layer-spacing: 0.2em !default;
$hamburger-layer-color: $color-meta !default;
$hamburger-layer-border-radius: 0 !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-hover-transition-duration: 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;
