//$page-width: 75.38462em;
/*$page-width: 67.143em;*/ // 940px
$page-width: 70rem; // 980px
$columns: 3;
$column-spacing: 2rem;
$column-width: ($page-width - ($columns * $column-spacing)) / $columns;

$breakpoint-tablet: 40rem;
$breakpoint-desktop: 70rem;
$breakpoint-retina: 2dppx device-pixel-ratio;

$form-element-height: 2rem;
$border-radius: 0.2rem;

$susy: (
  columns: 12,
  column-width: 4.285rem,
  grid-padding: 0,
  gutters: 1.428rem/4.285rem,
  //gutter-position: 'inside-static',
  gutter-position: 'after',
  //debug: (image: show),,
);
