@mixin inherit {
  azimuth: inherit;
  border-collapse: inherit;
  border-spacing: inherit;
  caption-side: inherit;
  color: inherit;
  //cursor: inherit;
  direction: inherit;
  elevation: inherit;
  empty-cells: inherit;
  font: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  list-style: inherit;
  orphans: inherit;
  pitch-range: inherit;
  pitch: inherit;
  quotes: inherit;
  richness: inherit;
  speak-header: inherit;
  speak-numeral: inherit;
  speak-punctuation: inherit;
  speak: inherit;
  speech-rate: inherit;
  stress: inherit;
  text-decoration: inherit;
  text-align: inherit;
  text-indent: inherit;
  text-transform: inherit;
  visibility: inherit;
  voice-family: inherit;
  volume: inherit;
  white-space: inherit;
  widows: inherit;
  word-spacing: inherit;
}

@mixin reset {
  @include inherit;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  list-style: none;
  font-size: 1em;
  text-decoration: none;
}

%reset {
  @include reset;
}
