/// The base font size, used throughout the design.
// see: source/_patterns/00-protons/printing/_type.scss
//$font-size-base: 14px;

/// Default serif font.
$font-family-serif: 'HK Grotesk Light', 'HK Grotesk Light Cyrillic', sans-serif;
/// Default sans serif font.
$font-family-sans-serif: 'HK Grotesk Regular', 'HK Grotesk Regular Cyrillic', sans-serif;
/// Condensed font.
$font-family-condensed: 'HK Grotesk Thin', 'HK Grotesk Thin Cyrillic', sans-serif;
