@mixin hide() {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  margin: 0 !important;
  padding: 0 !important;
}

@mixin hide-text() {
  display: block;
  text-indent: -999em !important;
  overflow: hidden !important;
}

@mixin hide-print {
  @media print {
    display: none !important;
  }
}

@mixin opacity($ratio: 0.8) {
  opacity: $ratio;
  filter: alpha(opacity=$ratio * 100); /* For IE8 and earlier */
}
