@mixin focus {
  &:hover,
  &:focus,
  &:active {
    outline: none;
    @content;
  }
}

@mixin triangle($direction, $color, $width, $height) {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: $height $width;
  border-style: solid;
  border-color: transparent;

  @if ($direction == 'down') {
    border-top-color: $color;
  }

  @if ($direction == 'up') {
    border-bottom-color: $color;
  }

  @if ($direction == 'left') {
    border-right-color: $color;
  }

  @if ($direction == 'right') {
    border-left-color: $color;
  }
}

@mixin striping($color: $color-dark, $size: 6px) {
  background-image: linear-gradient(
    -45deg,
    transparent 45%,
    $color 45%,
    $color 55%,
    transparent 55%
  );
  background-size: $size $size;
}
