{% include '@containers/box/_box.twig' %}

{% include '@containers/box/_box.twig'
    with {
    box_label_type: 'bleeding',
    box_header: 'Box with bleeding label',
    box_main: '<p>Our activities cover a wide range of security issues such as conflict prevention to fostering economic development, ensuring the sustainable use of natural resources & promoting the full respect of human rights and fundamental freedoms.</p>',
    box_label: 'box_label_type: bleeding',
}
%}

{% include '@containers/box/_box.twig'
    with {
    box_header: 'Collapsible box',
    box_main: '<p>Our activities cover a wide range of security issues such as conflict prevention to fostering economic development, ensuring the sustainable use of natural resources & promoting the full respect of human rights and fundamental freedoms.</p>',
    box_collapsible: TRUE,
    box_collapsed: TRUE
}
%}

{% include '@containers/box/_box.twig' with {
    box_type: 'blue',
    box_label: 'box_type: blue',
    box_collapsible: TRUE,
    box_collapsed: FALSE
}%}

{% include '@containers/box/_box.twig' with {
    box_type: 'dark',
    box_label: 'box_type: dark',
}%}

{% include '@containers/box/_box.twig' with {
    box_type: 'darkvariant',
    box_label: '',
    box_header: 'Alternative version the dark box (box_type: darkvariant)',
    box_main: '<p>This version is mainly used for the navigation.</p>'
}%}

{% include '@containers/box/_box.twig' with {
    box_type: 'shaded',
    box_label: 'box_type: shaded',
}%}

{% include '@containers/box/_box.twig' with {
    box_type: 'shaded-light',
    box_label: 'box_type: shaded-light',
}%}

{% include '@containers/box/_box.twig' with {
    box_type: 'shaded-light-striped',
    box_label: 'box_type: shaded-light-striped',
}%}

{% include '@containers/box/_box.twig' with {
    box_type: 'shaded-light',
    box_label: FALSE,
    box_main: '<p>This is an example of a box without label.</p>'
}%}

{% include '@containers/box/_box.twig' with {
    box_type: 'todo',
    box_label: 'box_type: todo',
    box_header: 'Unfinished component',
    box_main: 'Mark work in progress components clearly visible with this shiny box.'
}%}
