// Styles for Frontpag Slider

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.slider-col-1 {
  @include breakpoint(832px) {
    display: flex;
    height: auto;
    align-items: flex-start;
    justify-content: space-between;
  }

  display: block;
}

.slider--frontpage {
  max-width: 580px;
  .slick-list {
    max-height: 430px;
    overflow: hidden;
  }
}

.slider--frontpage-nav {
  @include breakpoint(832px) {
    display: block;
    padding-left: 5px;
  }

  width: 140px;
  max-width: 140px;
  display: none;
  cursor: pointer;

  .osce-figure-wrapper {
    margin-bottom: 0;
  }

  .slick-slide {
    padding-bottom: 4px;
    opacity: 0.5;

    &.slick-current {
      opacity: 1;
    }
  }
}

.slider--frontpage-content-wrapper {
  @include breakpoint(832px) {
    bottom: 51px;
    left: 40px;
    margin-right: 40px;
  }

  position: relative;
  bottom: 30px;
  background: $color-background;

  .bleeding-label {
    margin-left: 20px;
    margin-bottom: 0;
  }
}

.slider--frontpage-content {
  @include breakpoint(832px) {
    border-left: 1px solid $border-color1;
  }

  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  background: $color-background;
  border-left: 0;
}

.slider--frontpage-content-item--txt {
  margin-bottom: 0;
}

.slider--frontpage-content-item {
  a {
    text-decoration: none;
    color: $color-text;

    &:hover {
      color: inherit;
      text-decoration: inherit;
    }
  }
}

.slider--frontpage-content-item_readmore {
  color: $color-highlight;

  &:hover {
    text-decoration: underline;
  }
}

.slider__dots {
  @include breakpoint(480px) {
    display: block;
    bottom: 40px;
  }

  display: none;
}
