// Styles for translation-links

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.translation-links {

  list-style-type: none;
  padding: 0;

  li  {
    display: inline-block;
    &:not(:last-child) {
      border-right: 1px solid $color-dark;
    }
    a.translation-link {
      color: $color-dark;
      font-weight: normal;
      font-family: $font-family-condensed;
      margin: 0 0.2rem;
    }

    &.active {
      text-decoration: underline;
    }
  }
}
