<div>
    {% embed '@objects/social-media/_social-media-follow-source.twig' with {
        label: label
    }
    %}
        {% block social_media_icons %}
            {{ links }}
        {% endblock social_media_icons %}
    {% endembed %}
</div>