{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_osce_taglink()
 *
 * @ingroup themeable
 */
#}
{% set links = [] %}
{% for row in rows %}
  {% set links = links|merge([
    {
      label: row['#taxonomy_term'].getName(),
      link: row|render|striptags|trim,
      color: view.style_plugin.options['color']
    }
  ])
  %}
{% endfor %}
{% include '@objects/taglink/_taglink.twig'
  with {
  rows: links,
} %}
