{#
/**
 * @file
 * Default theme implementation for an image template
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 *   - src: URL of image
 *   - class: One or more classes to be applied to the image.
 *   - width: The width of the image (if known).
 *   - height: The height of the image (if known).
 *   - title: The title of the image.
 *   - alt: The alternative text for the image.
 * @see template_preprocess_osce_image()
 *
 * @ingroup themeable
 */
#}
<img{{ attributes }}>
