{% extends '@containers/page/_page.twig' %}
{% set site_content_content = TRUE %}
{% set page_content = TRUE %}
{% block block_page_content %}
    {# Content #}
    {% embed '@layouts/site-content/_site-content.twig' %}
    {% block block_site_content_content %}
        <br/>
        <br/>
        <h1>View mode demos for {{ entity_type }} / {{ view_mode }}</h1>
        {% for entity_type, bundles in links %}
            <p>{{ entity_type }}:
            {% for link in bundles %}
                {{ link }}
            {% endfor %}
            </p>
        {% endfor %}

        {% if view_mode != "teaser" %}
            {% embed '@containers/gallery/_gallery.twig' with {items: demos} %}
                {% block block_gallery_content %}
                    <p class="text--default text--ok text--border">Bundle: {{ key }}</p>
                    {{ item }}
                {% endblock %}
            {% endembed %}
        {% else %}
            {% embed '@containers/teaserlist/_teaserlist.twig'
                with {
                items: demos,
            }
            %}
            {% block block_teaser_list %}
                <p class="text--default text--ok text--border">Bundle: {{ key }}</p>
                {{ item }}
            {% endblock block_teaser_list %}
            {% endembed %}
        {% endif %}
        <h2>Bundles without {{ view_mode }} view mode</h2>
        {{ missing_bundles }}
    {% endblock block_site_content_content %}
    {% endembed %}
{% endblock block_page_content %}