{% extends '@containers/bento/_bento.twig' %}
    {% block block_bento_top %}
        {% include '@protons/demo/_f-placeholder.twig'
        with {
        'placeholder_height': '100px',
        'placeholder_content': 'Top',
        }
        %}
    {% endblock %}
    {% block block_bento_main %}
        {% include '@protons/demo/_f-placeholder.twig'
        with {
        'placeholder_height': '300px',
        'placeholder_content': 'Content',
        }
        %}
    {% endblock %}
    {% block block_bento_bottom %}
        {% include '@protons/demo/_f-placeholder.twig'
        with {
        'placeholder_height': '200px',
        'placeholder_content': 'Bottom',
        }
        %}
    {% endblock %}
