{#
/**
 * @file
 * social-media
 *
 * Available variables for social-media:
 *    - network.name
 *    - network.icon
 *    - network.url
 *
 * Usage:
 * {% include '@objects/social-media/_social-media-share.twig' %}
 */
#}
<div class="social-media">
    {% block social_media_share %}
        {% include '@elements/svgicon/_svgicon.twig' with {svgname: 'share', svg_class: 'socialshare',} %}<strong>{{ 'Share'|t }}</strong>
    {% endblock %}
    {% block social_media_icons %}
      <ul class="social-media__list reset">
        {% for network in networks %}
          <li>
            <a is="share-link" href="{{ network.url }}" title="{% trans %}Share on {{ network.name }} {% endtrans %}" class="social-media__link" data-rel="popup" rel="nofollow">
              {% include '@elements/svgicon/_svgicon.twig' with {svgname: network.icon, svg_class: 'socialmedia',} %}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
</div>