// All component Sass needs non-printing base config
@import '../../00-protons/variables';
.site {
  @include breakpoint($breakpoint-desktop) {
    &--socialmedia--wrapper {
      left: 0;
      position: fixed;
      bottom: 0;
      z-index: 203;
      width: 100%;
    }
    &--socialmedia {
      position: relative;
      width: 1120px;
      margin: 0 auto;
      background-color: $color-background;
    }
  }
  &--socialmedia {
    @include breakpoint(0 360px) {
      margin: 7px 0 5px 5px;
    }
  }
}
.social-media {
  font-size: 0.75rem;
  &__list {
    display: inline-block;
    margin-left: 0.5em;
    li {
      display: inline-block;
      @include breakpoint(0 360px) {
        &.social-media--follow {
          display: none;
        }
      }
    }
  }
  &__link {
    cursor: pointer;
    display: inline-block;
    color: #b0b0b0;
    border: 1px solid $border-color1;
    width: 1.5rem;
    line-height: 1.5rem;
    margin-right: 0.1rem;
    text-align: center;
    border-radius: 0.2rem;
    @include focus {
      text-decoration: none;
      color: $color-dark;
      border-color: $border-color1;
      .svgicon {
        color: #b0b0b0;
        display: inline-block;
        vertical-align: middle;
        svg,
        g,
        circle,
        ellipse,
        line,
        path,
        polygon,
        polyline,
        rect,
        text {
          fill: $color-text;
        }
      }
    }
  }
  .svgicon {
    color: #b0b0b0;
    display: inline-block;
    vertical-align: middle;
    svg,
    g,
    circle,
    ellipse,
    line,
    path,
    polygon,
    polyline,
    rect,
    text {
      fill: #b0b0b0;
    }
  }
  .svgicon__socialshare {
    margin-right: 0.2rem;
    svg {
      fill: $color-text;
    }
  }
  &--follow-osce {
    display: flex;
    align-items: center;
    margin-left: 0;
    .social-media--item {
      display: inline-flex;
    }
    .social-media__link {
      span {
        display: none;
      }
      @include breakpoint($breakpoint-desktop) {
        span {
          display: initial;
        }
      }
      display: inline-flex;
      width: 100%;
      align-items: center;
      color: $color-text;
      padding: 2px 7px 2px 7px;
      font-weight: bold;
      @include focus {
        background-color: $color-highlight;
      }
    }
    .svgicon__socialmedia {
      margin-right: 0;
      @include breakpoint($breakpoint-desktop) {
        margin-right: 1em;
      }
    }
  }
  &--item {
    background-color: $color-background;
  }
  &--follow {
    background-color: $color-black;
    color: $color-background;

    padding: 0.571em 1.643em 0.571em 1.643em;
    margin-right: 0.714em;
    a {
      color: $color-background;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      background-color: $color-highlight;
    }
  }
  &--follow-title {
    font-family: $font-family-sans-serif;
    display: initial;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  &-follow-source {
    .social-media__link {
      border: 0;
    }
    .svgicon {
      margin-top: -0.3rem;
    }
  }
  .social-media--item {
    &.social-media--follow {
      .svgicon {
        svg,
        g,
        circle,
        ellipse,
        line,
        path,
        polygon,
        polyline,
        rect,
        text {
          color: $color-background;
          fill: $color-background;
        }
      }
    }
    .svgicon {
      svg,
      g,
      circle,
      ellipse,
      line,
      path,
      polygon,
      polyline,
      rect,
      text {
        color: $color-text;
        fill: $color-text;
      }
    }
  }
}
