{% spaceless %}
    {% if follow_source_networks %}
        <ul class="social-media__list social-media--follow-source reset">
            {% for link in follow_source_networks %}
                <li>
                    <a href="{{ link.url }}" channel="{{ link.class }}" class="social-media__link" rel="nofollow" {% if new_tab %} target="_blank"{% endif %}>
                        {% include '@elements/svgicon/_svgicon.twig' with {svgname: link.class, svg_class: 'socialmedia',} %}
                        {#{{ link.text }}#}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
