{#
/**
 * @file
 * _social-media-follow-source
 *
 * Available variables for social-media:
 *    - social_media.variable_name [variable_type]: Description of the variable. Example below.
 *    - social_media.invert [bool]: When set, colors will be inverted for light display on dark background.
 *    - social_media_url
 *    - network.id
 *    - network.icon
 *
 * Usage:
 * {% include '@objects/social-media/_social-media-follow-source.twig' %}
 */
#}
{% set label = label|default('us') %}
<div class="social-media social-media-follow-source">
    {% block social_media_share %}
      {% include '@elements/svgicon/_svgicon.twig' with {svgname: 'people', svg_class: 'socialshare',} %}
      <h2 class="social-media--follow-title"><span>{{ 'Follow'|t }} <strong>{{ label }}</strong></span></h2>
    {% endblock %}
    {% block social_media_icons %}
        {% include '@objects/social-media/_social-media-follow-source-links.twig' %}
    {% endblock %}
</div>