{#
/**
 * @file
 * _social-media-follow-us
 *
 * Available variables for social-media:
 *    - social_media.variable_name [variable_type]: Description of the variable. Example below.
 *    - social_media.invert [bool]: When set, colors will be inverted for light display on dark background.
 *    - network.id
 *    - network.icon
 *
 * Usage:
 * {% include '@objects/social-media/_social-media-share.twig' %}
 */
#}
{% block social_media_icons %}
<ul class="social-media social-media--follow-osce reset">
  <li class="social-media--item social-media--follow">
    <a href="/osce-social-media" title="{{ 'List of all official OSCE social media accounts' | t }}">
      {% include '@elements/svgicon/_svgicon.twig' with {
        svgname: 'people',
      }
      %}
      {{ 'Follow the OSCE' | t }}</a>
  </li>

  {% for network in follow_us_networks %}
    <li class="social-media--item">
      <a href="{{ network.url }}" channel="{{ network.name }}" class="social-media__link">
        {% include '@elements/svgicon/_svgicon.twig' with {svgname: network.icon, svg_class: 'socialmedia',} %} <span>{{ network.name }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock social_media_icons %}
