// All component Sass needs non-printing base config
@import '../../00-protons/variables';
.pipeline {
  & > *:not(:last-child) {
    margin-bottom: $column-spacing/4;
  }
  @include breakpoint($breakpoint-tablet) {
    display: flex;
    & > *:not(:last-child) {
      margin-bottom: 0;
      padding-right: $column-spacing / 2;
      margin-right: $column-spacing / 2;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        border-right: 1px solid $color-light;
        height: $column-spacing;
        right: 0;
        top: 50%;
        margin-top: $column-spacing / -2;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
  }
}
