// Styles for forms

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

//fieldset {
//  border: 0.1em solid $border-color2;
//  border-radius: 0.2em;
//  background-color: $color-black-light;
//  margin-left: 0;
//  margin-right: 0
//}
//
//legend {
//  font-family: $font-family-condensed;
//  font-size: 0.929em;
//  font-weight: bold;
//  color: $color-dark;
//}
//
//label {
//  font-weight: bold;
//  vertical-align: middle;
//}
//
//textarea {
//  resize: vertical;
//  width: 100%;
//  argin: 0;
//  max-width: 100%;
//  vertical-align: middle;
//  font-family: $font-family-sans-serif;
//}
//
//.form-textarea,
//.form-text,
//.form-tel {
//  padding: 0.5em;
//  border: 1px solid $border-color2;
//  background: $color-background;
//  color: $color-dark;
//}
//
//.form-text,
//.form-tel {
//  padding: 0 0.5em;
//  height: 2em;
//}
//.form__label {
//  white-space: nowrap;
//}
//.form__input > * {
//  width: 100%;
//}

fieldset {
  border: 0.1em solid $border-color2;
  border-radius: $border-radius;
  background: $color-black-light;
  margin-left: 0;
  margin-right: 0;
}

legend {
  font-family: $font-family-condensed;
  font-weight: bold;
  color: $color-dark;
}

textarea,
input,
button,
select {
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  border-radius: $border-radius;
  border: none;
  margin: 0;
  max-width: 100%;
  vertical-align: middle;
}

select {
  appearance: none;
}

textarea {
  resize: vertical;
  width: 100%;
}

label {
  line-height: 28px;
  font-weight: bold;
  vertical-align: middle;
}

// todo: breaks triangle, fix somehow
input:checked + label {
  color: $color-highlight;
}
//

//
//.selectized {
//  display: none !important;
//}
//.selectize-control {
//  position: relative;
//}
//.selectize-control.single
//.selectize-input,
//.selectize-control.single
//.selectize-input input {
//  cursor: pointer;
//}
//.selectize-input.full {
//  background-color: $color-background;
//}
//.selectize-input {
//  border: 1px solid $border-color2;
//  padding: 0 0.5em;
//  width: 100%;
//  overflow: hidden;
//  position: relative;
//  z-index: 1;
//  border-radius: 0.2rem;
//  padding-right: 5em;
//  background-color: $color-background;
//}
//
//.selectize-input > input {
//  display: inline-block !important;
//  padding: 0 !important;
//  min-height: 0 !important;
//  max-height: none !important;
//  max-width: 100% !important;
//  margin: 0 2px 0 0 !important;
//  text-indent: 0 !important;
//  border: 0 none !important;
//  background: none !important;
//  line-height: inherit !important;
//}
//
//
//.selectize-dropdown,
//.selectize-input,
//.selectize-input input {
//  color: $color-dark;
//  font-family: inherit;
//  font-size: inherit;
//  line-height: 2em;
//}
//.selectize-control.single .selectize-input:after {
//  content: ' ';
//  display: block;
//  position: absolute;
//  top: 50%;
//  right: 0.5em;
//  margin-top: -3px;
//  width: 0;
//  height: 0;
//  border-style: solid;
//  border-width: 6px 6px 0 6px;
//  border-color: $color-dark transparent transparent transparent;
//}
//.selectize-input::after {
//  content: ' ';
//  display: block;
//  clear: left;
//}
//
//.selectize-dropdown {
//  position: absolute;
//  z-index: 10;
//  border: 1px solid $border-color2;
//  background: $color-background;
//  margin: -1px 0 0 0;
//  border-top: 0 none;
//  border-radius: 0 0 0.2rem;
//  line-height: 1em;
//}
//.selectize-dropdown-content {
//  overflow-y: auto;
//  overflow-x: hidden;
//  max-height: 200px;
//}

//

$selectize-font-family: inherit;
$selectize-font-smoothing: inherit;
$selectize-font-size: inherit;
$selectize-line-height: 28px;

$selectize-color-text: $color-dark;
$selectize-color-border: $border-color2;
$selectize-color-highlight: $color-highlight;
$selectize-color-input: $color-background;
$selectize-color-input-full: $selectize-color-input;
$selectize-color-disabled: $color-black-light;

$selectize-color-item: $color-highlight;

$selectize-color-item-text: $color-background;
$selectize-color-item-border: $color-background;
$selectize-color-item-active: lighten($color-highlight, 20%);

$selectize-color-item-active-text: $color-background;
$selectize-color-item-active-border: $color-background;

$selectize-color-dropdown: $color-background;
$selectize-color-dropdown-border: $selectize-color-border;
$selectize-color-dropdown-border-top: #f0f0f0;
$selectize-color-dropdown-item-active: $color-highlight;
$selectize-color-dropdown-item-active-text: $color-background;
$selectize-color-dropdown-item-create-text: transparentize(
  $selectize-color-text,
  0.5
);
$selectize-color-dropdown-item-create-active-text: $selectize-color-dropdown-item-active-text;
$selectize-color-optgroup: $selectize-color-dropdown;
$selectize-color-optgroup-text: $selectize-color-text;
$selectize-lighten-disabled-item: 30%;
$selectize-lighten-disabled-item-text: 30%;
$selectize-lighten-disabled-item-border: 30%;
$selectize-opacity-disabled: 0.5;

$selectize-border: 1px solid $selectize-color-border;
$selectize-dropdown-border: 1px solid $selectize-color-dropdown-border;
$selectize-border-radius: $border-radius;

$selectize-width-item-border: 0;
$selectize-max-height-dropdown: 200px;

$selectize-padding-x: 0.5em;
$selectize-padding-y: 0;
$selectize-padding-item-x: 0.5em;
$selectize-padding-item-y: 0;
$selectize-padding-dropdown-item-x: $selectize-padding-x;
$selectize-padding-dropdown-item-y: $selectize-padding-y;
$selectize-margin-item-x: 0.5em;
$selectize-margin-item-y: 0;

$selectize-arrow-size: 6px;
$selectize-arrow-color: $color-dark;
$selectize-arrow-offset: 0.5em;

$selectize-caret-margin: 0 2px 0 0;
$selectize-caret-margin-rtl: 0 4px 0 -2px;

.selectized {
  display: none !important;
}

.selectize-control {
  position: relative;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: $selectize-color-text;
  font-family: $selectize-font-family;
  font-size: $selectize-font-size;
  line-height: $selectize-line-height;
  -webkit-font-smoothing: $selectize-font-smoothing;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: $selectize-color-input;
  cursor: text;
}

.selectize-input {
  border: $selectize-border;
  padding: $selectize-padding-y $selectize-padding-x;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: $selectize-border-radius;
  padding-right: 5em;

  .selectize-control.multi &.has-items {
    $padding-x: $selectize-padding-x;
    $padding-top: $selectize-padding-y - $selectize-padding-item-y -
      $selectize-width-item-border;
    $padding-bottom: $selectize-padding-y - $selectize-padding-item-y -
      $selectize-margin-item-y - $selectize-width-item-border;
    padding: $padding-top $padding-x $padding-bottom;
  }

  &.full {
    background-color: $selectize-color-input-full;
  }
  &.disabled,
  &.disabled * {
    cursor: default !important;
  }
  &.focus {
  }
  &.dropdown-active {
    border-radius: $selectize-border-radius $selectize-border-radius 0 0;
  }

  > * {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .selectize-control.multi & > div {
    cursor: pointer;
    margin: 0 $selectize-margin-item-x $selectize-margin-item-y 0;
    padding: $selectize-padding-item-y $selectize-padding-item-x;
    background: $selectize-color-item;
    color: $selectize-color-item-text;
    border: $selectize-width-item-border solid $selectize-color-item-border;
    font-size: 0.8em;
    line-height: 1.7em;
    border-radius: $border-radius;

    &.active {
      background: $selectize-color-item-active;
      color: $selectize-color-item-active-text;
      border: $selectize-width-item-border solid
        $selectize-color-item-active-border;
    }
  }
  .selectize-control.multi &.disabled > div {
    &,
    &.active {
      color: lighten(
        desaturate($selectize-color-item-text, 100%),
        $selectize-lighten-disabled-item-text
      );
      background: lighten(
        desaturate($selectize-color-item, 100%),
        $selectize-lighten-disabled-item
      );
      border: $selectize-width-item-border solid
        lighten(
          desaturate($selectize-color-item-border, 100%),
          $selectize-lighten-disabled-item-border
        );
    }
  }
  > input {
    &::-ms-clear {
      display: none;
    }
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: $selectize-caret-margin !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: none !important;
    line-height: inherit !important;
    user-select: auto !important;
    &:focus {
      outline: none !important;
    }
  }
}

.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}

.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: $selectize-color-dropdown-border-top;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}

.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: $selectize-dropdown-border;
  background: $selectize-color-dropdown;
  margin: -1px 0 0 0;
  border-top: 0 none;
  border-radius: 0 0 $selectize-border-radius;

  [data-selectable] {
    cursor: pointer;
    overflow: hidden;
    .highlight {
      background: $selectize-color-highlight;
      color: $color-background;
      border-radius: $border-radius;
    }
  }
  [data-selectable],
  .optgroup-header {
    padding: $selectize-padding-dropdown-item-y
      $selectize-padding-dropdown-item-x;
  }
  .optgroup:first-child .optgroup-header {
    border-top: 0 none;
  }
  .optgroup-header {
    color: $selectize-color-optgroup-text;
    background: $selectize-color-optgroup;
    cursor: default;
  }
  .active {
    background-color: $selectize-color-dropdown-item-active;
    color: $selectize-color-dropdown-item-active-text;
    &.create {
      color: $selectize-color-dropdown-item-create-active-text;
    }
  }
  .create {
    color: $selectize-color-dropdown-item-create-text;
  }
}

.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: $selectize-max-height-dropdown;
}

.selectize-control.single .selectize-input {
  &,
  input {
    cursor: pointer;
  }
  &.input-active,
  &.input-active input {
    cursor: text;
  }

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: $selectize-arrow-offset;
    margin-top: round((-1 * $selectize-arrow-size / 2));
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $selectize-arrow-size $selectize-arrow-size 0
      $selectize-arrow-size;
    border-color: $selectize-arrow-color transparent transparent transparent;
  }
  &.dropdown-active:after {
    margin-top: $selectize-arrow-size * -0.8;
    border-width: 0 $selectize-arrow-size $selectize-arrow-size
      $selectize-arrow-size;
    border-color: transparent transparent $selectize-arrow-color transparent;
  }
}

.selectize-control.rtl {
  &.single .selectize-input:after {
    left: $selectize-arrow-offset;
    right: auto;
  }
  .selectize-input > input {
    margin: $selectize-caret-margin-rtl !important;
  }
}

.selectize-control .selectize-input.disabled {
  opacity: $selectize-opacity-disabled;
  background-color: $selectize-color-disabled;
}

.selectize-control.plugin-drag_drop {
  &.multi > .selectize-input > div.ui-sortable-placeholder {
    visibility: visible !important;
    background: #f2f2f2 !important;
    background: rgba(0, 0, 0, 0.06) !important;
    border: 0 none !important;
  }
  .ui-sortable-placeholder::after {
    content: '!';
    visibility: hidden;
  }
  .ui-sortable-helper {
  }
}

.selectize-dropdown-header {
  position: relative;
  padding: $selectize-padding-dropdown-item-y $selectize-padding-dropdown-item-x;
  border-bottom: 1px solid $selectize-color-border;
  background: mix($selectize-color-dropdown, $selectize-color-border, 85%);
  border-radius: $selectize-border-radius $selectize-border-radius 0 0;
}
.selectize-dropdown-header-close {
  position: absolute;
  right: $selectize-padding-dropdown-item-x;
  top: 50%;
  color: $selectize-color-text;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}
.selectize-dropdown-header-close:hover {
  color: darken($selectize-color-text, 25%);
}

.selectize-dropdown.plugin-optgroup_columns {
  .optgroup {
    border-right: 1px solid #f2f2f2;
    border-top: 0 none;
    float: left;
  }
  .optgroup:last-child {
    border-right: 0 none;
  }
  .optgroup:before {
    display: none;
  }
  .optgroup-header {
    border-top: 0 none;
  }
}

.selectize-control.plugin-remove_button {
  [data-value] {
    position: relative;
    padding-right: 24px !important;
  }
  [data-value] .remove {
    z-index: 1; /* fixes ie bug (see #392) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: $selectize-padding-item-y 0 0 0;
    border-left: 1px solid $selectize-color-item-border;
  }
  [data-value] .remove:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  [data-value].active .remove {
    border-left-color: $selectize-color-item-active-border;
  }
  .disabled [data-value] .remove:hover {
    background: none;
  }
  .disabled [data-value] .remove {
    border-left-color: lighten(
      desaturate($selectize-color-item-border, 100%),
      $selectize-lighten-disabled-item-border
    );
  }
}

%text-input {
  border: 1px solid $border-color2;
  background: $color-background;
  color: $color-dark;

  &.error {
    border-color: red;
  }
  @include focus {
    border-color: $color-dark;
    color: $color-darker;
  }
}

.form-text,
.form-tel {
  @extend %text-input;
  padding: 0 0.5em;
  height: 28px;
}

.form-textarea {
  @extend %text-input;
  padding: 0.5em;
}

.form-checkboxes {
  display: flex;
  flex-wrap: wrap;
  & > * {
    margin: 0 0.8em 0em 0;
    flex-basis: auto;
  }
}
