{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set input_class = input_class|default('form-text') %}
{% set placeholder_value = placeholder_value|default('') %}
{% set placeholder %}
  {% if placeholder_value %}
    placeholder="{{ placeholder_value }}"
  {% endif %}
{% endset %}
{% if label %}
  <label>{{ label }}:</label>
{% endif %}
<input{{ attributes.addClass(input_class) }} {{ placeholder }}/>{{ children }}
