{% embed '@containers/_listing.twig' %}
  {% block listing_content %}
      {% include '@containers/teaser/_teaser.twig' %}
  {% endblock %}
{% endembed %}

{# Normal list item headings #}
{% include '@containers/_listing.twig'
  with {
  items: {1: '<h3>First list item title (normal)</h3><p>First list item content</p>', 2: '<h3>Second list item title (normal)</h3><p>Second list item content</p>'},
  format: 'normal'
  }
%}

{# Bold list item headings #}
{% include '@containers/_listing.twig'
  with {
  items: {1: '<h3>First list item title (highlighted)</h3><p>First list item content</p>', 2: '<h3>Second list item title (highlighted)</h3><p>Second list item content</p>'},
  format: 'highlighted'
}
%}