.lightbox {
  position: relative;
  &__button {
    font-size: 2.75rem;
    height: 3rem;
    width: 3rem;
    margin-top: -1.5rem;
    position: absolute;
    top: 50%;
    color: $color-background;
    background: rgba(0, 0, 0, 0.5);
    @include focus {
      background: rgba(0, 0, 0, 0.8);
    }
    span {
      display: inline-block;
      width: 2rem;
      max-width: 100%;
      max-height: 2rem;
      overflow: hidden;
      text-indent: -9999px;
    }
  }

  &__prev {
    left: 0;
    border-radius: 0 0.3rem 0.3rem 0;
    span {
      @include sprite('chevron-left', (color: $color-background));
    }
  }

  &__next {
    right: 0;
    border-radius: 0.3rem 0 0 0.3rem;
    span {
      @include sprite('chevron-right', (color: $color-background));
    }
  }

  &__close {
    right: 0;
    top: 1rem;
    margin-top: 0;
    border-radius: 0.3rem 0 0 0.3rem;
    font-size: 2.5rem;
    span {
      @include sprite('cancel', (color: $color-background));
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color-background;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    font-size: 1rem;
  }
}

/* stylelint-disable selector-max-id, selector-max-specificity */
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
#cboxWrapper {
  max-width: none;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  /* stylelint-disable-next-line */
  -ms-interpolation-mode: bicubic;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #fff;
  opacity: 0.9;
  filter: alpha(opacity = 90);
}
#colorbox {
  outline: 0;
}
#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: $color-meta;
}
.cboxIframe {
  background: #fff;
}
#cboxError {
  padding: 50px;
  border: 1px solid $color-meta;
}
#cboxLoadedContent {
  background: $color-meta;
  padding: 1px;
}
// #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
#cboxLoadingOverlay {
  background: #000;
}
#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}