{#
/**
 * @file
 * f-placeholder
 *
 * Available variables for f-placeholder:
 *    - placeholder_height
 *    - placeholder_width
 *    - placeholder_content
 */
#}
{% if placeholder_height %}
  {% set height %}
    height: {{ placeholder_height }};
  {% endset %}
{% endif %}
{% if placeholder_width %}
  {% set width %}
    width: {{ placeholder_width }};
  {% endset %}
{% endif %}

<div class="f-placeholder" style="{{ height }} {{ width }}">
  <div class="f-placeholder__content">{% if placeholder_content %}{{ placeholder_content }}{% endif %}</div>
</div>
