{% embed '@elements/grid/_grid-1-up.twig' with { container: true } %}
  {% block column_1 %}
    <div class="text-center">

      {# this spinner styles are hardcoded in the 00-head, it disappears when webpack bundles. #}
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>


      <h1>Welcome</h1>

      <p>Start exploring by click the links in the  sticky bar. For vastly more information about how to use Particle, <a href="https://github.com/phase2/particle">check out the README.md file</a>.</p>
    </div>

  {% endblock column_1 %}
{% endembed %}
