{% extends '@elements/grid/_grid-1-up.twig' %}
  {% set container = true %}
  {% block column_1 %}
    <h2>Figure for justified galleries</h2>
    <p>The caption text is hidden automatically as soon as the justified gallery plugin kicks in.</p>

    {% include '@containers/_figure-justified.twig'
        with {
        figure_url: paths.assets ~ "/900x540r.png",
        figure_fallback_url: "/node/1",
        figure_rel: "1",
        figure_thumbnail: '<img src="' ~ paths.assets ~ "/900x540r.png" ~ '" width="300" height="150" />',
        figure_caption: "<p>I am a caption with <strong>HTML</strong></p>",
    }
    %}
  {% endblock column_1 %}