{% extends '@elements/grid/_grid-1-up.twig' %}
{# This presumes the main content area already contains a class of container. #}
{% set container = false %}

{% block column_1 %}
  {{ content }}
{% endblock %}
