// Styles for headlines

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.h-img {
  display: flex;
  margin-bottom: 0.714em;
  a {
    display: flex;
  }
  img {
    width: 120px;
    max-width: 120px;
  }
}
.heading-image {
  margin-right: 0.357em;
}
