{% set section_main = TRUE %}
{% embed '@containers/section/_section.twig'
  with {
  section_title: 'Slider Default',
}
%}
  {% block section_main %}
    <div style="max-width: 620px; margin: 0 auto 0;">
      {% include '@objects/slider-default/_slider.twig' %}
    </div>
  {% endblock %}
{% endembed %}

{% embed '@containers/section/_section.twig'
  with {
  section_title: 'Slider without dedicated preview images',
}
%}
  {% block section_main %}
    <div style="max-width: 620px; margin: 0 auto 0;">
      {% include '@objects/slider-default/_slider.twig' with {
        slider_type: 'default',
        items: items,
        items_thumbs: [],
      } %}
    </div>
  {% endblock %}
{% endembed %}

{% embed '@containers/section/_section.twig'
  with {
  section_title: 'Slider with only three images',
}
%}
  {% block section_main %}
    <div style="max-width: 620px; margin: 0 auto 0;">
      {% include '@objects/slider-default/_slider.twig' with {
        slider_type: 'default',
        items: [
          items.1,
          items.2,
          items.3,
        ],
        items_thumbs: [],
      } %}
    </div>
  {% endblock %}
{% endembed %}

